# Text-to-SQL-on-FHIR Evaluation
This is a Jupyter notebook for evaluating Text-to-SQL-on-FHIR.
For various experiments for developing the [querygen](querygen)
package, including indexing of the MIMIC-IV FHIR dataset,
see [code_embedding notebook](code_embedding.ipynb).
All evaluations in this notebook are done against the MIMIC-IV dataset.

The MIMIC-IV FHIR dataset was converted to Parquet files, both the
"wide schema" and "flat views", using the
[fhir-data-pipes conversion pipeline](https://github.com/google/fhir-data-pipes/blob/f01623433d38d1a72bb0eb4231512a5f57ad3b04/docker/compose-controller-spark-sql-single.yaml#L53).
The queries/experiments are all against the
[flat views](https://github.com/google/fhir-data-pipes/tree/master/docker/config/views).
The query engine in this notebook, is a local Spark engine run as a
[docker container](https://github.com/google/fhir-data-pipes/blob/f01623433d38d1a72bb0eb4231512a5f57ad3b04/docker/compose-controller-spark-sql-single.yaml#L80).

For a summary of results in this notebook, see
[this 2025 FHIR DevDay presentation](https://bit.ly/text-to-sql-on-fhir-DD25).

In [20]:
import pandas as pd
from sqlalchemy import dialects, engine

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)

dialects.registry.register("hive", "pyhive.sqlalchemy_hive", "HiveDialect")

spark_query_engine = engine.create_engine("hive://localhost:10001/default")
#query_engine = engine.create_engine("hive://spark-thriftserver:10000/default")

pd.read_sql_query(
    sql="""
    SELECT COUNT(*) FROM patient_mimic_flat;
    """,
    con=spark_query_engine,
)

   count(1)
0    299712

In [21]:
pd.read_sql_query(
    sql="""
    SELECT COUNT(*) FROM observation_mimic_flat;
    """,
    con=spark_query_engine,
)

    count(1)
0  461098908

In [22]:
pd.read_sql_query(
    sql="""
    SELECT COUNT(*) FROM encounter_mimic_flat;
    """,
    con=spark_query_engine,
)

   count(1)
0   1687781

# Using the `querygen` package
This package basically puts together all the prompt pieces in a set of
reusable Python modules.

In [25]:
# You need a GCP project to query the Gemini model through Vertext AI.
%env GOOGLE_CLOUD_PROJECT=bashir-genai
%env GOOGLE_CLOUD_LOCATION=us-central1
%env GOOGLE_GENAI_USE_VERTEXAI=True
import os
print(os.environ['GOOGLE_CLOUD_PROJECT'])

env: GOOGLE_CLOUD_PROJECT=bashir-genai
env: GOOGLE_CLOUD_LOCATION=us-central1
env: GOOGLE_GENAI_USE_VERTEXAI=True
bashir-genai

In [16]:
# This is to avoid reloading the Stanza pipeline every time:
import stanza
nlp_ner = stanza.Pipeline(
                lang='en', processors='tokenize,ner',
                package={"ner": ["ncbi_disease", "i2b2", "radiology",
                                 "ontonotes-ww-multi_charlm"]})

2025-07-25 16:19:40 INFO: Checking for updates to resources.json in case models have been updated.  Note: this behavior can be turned off with download_method=None or download_method=DownloadMethod.REUSE_RESOURCES

Downloading https://raw.githubusercontent.com/stanfordnlp/stanza-resources/main/resources_1.10.0.json:   0%|  â€¦

2025-07-25 16:19:40 INFO: Downloaded file to /usr/local/google/home/bashir/stanza_resources/resources.json
2025-07-25 16:19:40 WARNING: Language en package default expects mwt, which has been added
2025-07-25 16:19:41 INFO: Loading these models for language: en (English):
=====================================================================
| Processor | Package                                               |
---------------------------------------------------------------------
| tokenize  | combined                                              |
| mwt       | combined                                              |
| ner       | ncbi_disease;i2b2;radiology;ontonotes-ww-multi_charlm |
=====================================================================

2025-07-25 16:19:41 INFO: Using device: cpu
2025-07-25 16:19:41 INFO: Loading: tokenize
2025-07-25 16:19:41 INFO: Loading: mwt
2025-07-25 16:19:41 INFO: Loading: ner
2025-07-25 16:19:48 INFO: Done loading processors!

In [17]:
from querygen import sqlgen, column_sampler, db_description, util
import querygen
querygen.PRINT_CLOSE_CONCEPTS = True
querygen.PRINT_FINAL_PROMPT = False
# querygen.PRINT_FINAL_PROMPT = True
querygen.PRINT_MODEL_RESPONSE = False

# The reloads are to be able to quickly import latest external changes.
from importlib import reload
sqlgen = reload(sqlgen)
column_sampler = reload(column_sampler)
db_description = reload(db_description)
util = reload(util)

query_instance = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner
)

In [18]:
print(query_instance.generate_sql('What is the total number of patients?', table_suffix='_mimic_flat'))

CLOSE CONCEPTS:

```sql
--- BEGIN
SELECT COUNT(*)  -- Counting the number of rows will give the total number of patients
FROM patient_mimic_flat;  -- The patient information is stored in the patient_mimic_flat table
--- END
```

# More column samples (10)
Previous experiments indicated that having 10 or more samples from each
column is beneficial in better SQL generation.

In [3]:
## Retry with more samples
from querygen import sqlgen, column_sampler, db_description, util, terminology_indexer
import querygen
querygen.PRINT_CLOSE_CONCEPTS = True
querygen.PRINT_FINAL_PROMPT = False
#querygen.PRINT_FINAL_PROMPT = True
querygen.PRINT_MODEL_RESPONSE = False

# The reloads are to be able to quickly import latest external changes.
from importlib import reload
sqlgen = reload(sqlgen)
column_sampler = reload(column_sampler)
db_description = reload(db_description)
util = reload(util)
terminology_indexer = reload(terminology_indexer)

# Note default CLOSE_CONCEPT_DISTANCE_THRESHOLD is 0.7 and MAX_CLOSE_CONCEPTS is 20.
query_instance_10_07_20 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10
)

term_indexer = terminology_indexer.TerminologyIndexer(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec')

# Oxygen levels and supplement
For some background see [this paper](https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/2794196).

In [27]:
# Retrying the previous query with the vector DB for all codes (not partial)
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For patients that have arterial hemoglobin oxygen saturation level less than 90%,
    count the number that received supplemental oxygen versus those who didn't.
    Group the results by oxygen saturation level deciles, e.g., between 80% to 90%, 70% to 80%, and so on.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "arterial hemoglobin oxygen saturation level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '51645', 'Hemoglobin, Calculated'), ('observation_mimic_flat', 'code_code', '228232', 'PAR-Oxygen saturation'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('observation_mimic_flat', 'code_code', '227861', 'Rest O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '227919', 'Rest O2 Sat - Aerobic Activity Response'), ('observation_mimic_flat', 'code_code', '50855', 'Absolute Hemoglobin')]


            For "less than 90%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "supplemental oxygen" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'Z9981', 'Dependence on supplemental oxygen'), ('procedure_mimic_flat', 'code_code', '9396', 'Other oxygen enrichment'), ('observation_mimic_flat', 'code_code', '228193', 'Oxygenator/ECMO'), ('observation_mimic_flat', 'code_code', '226732', 'O2 Delivery Device(s)'), ('observation_mimic_flat', 'code_code', '227287', 'O2 Flow (additional cannula)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'V462', 'Other dependence on machines, supplemental oxygen'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('procedure_mimic_flat', 'code_code', '3965', 'Extracorporeal membrane oxygenation [ECMO]'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50815', 'O2 Flow'), ('observation_mimic_flat', 'code_code', '223834', 'O2 Flow')]


            For "oxygen saturation" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '228232', 'PAR-Oxygen saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '227861', 'Rest O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '227919', 'Rest O2 Sat - Aerobic Activity Response'), ('observation_mimic_flat', 'code_code', '227686', 'Central Venous O2% Sat'), ('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '227867', 'Activity O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High')]


            For "between 80% to 90%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "70% to 80%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT
    CASE
        WHEN T1.val_quantity BETWEEN 80 AND 90 THEN '80-90'
        WHEN T1.val_quantity BETWEEN 70 AND 80 THEN '70-80'
        WHEN T1.val_quantity BETWEEN 60 AND 70 THEN '60-70'
        WHEN T1.val_quantity BETWEEN 50 AND 60 THEN '50-60'
        WHEN T1.val_quantity BETWEEN 40 AND 50 THEN '40-50'
        WHEN T1.val_quantity BETWEEN 30 AND 40 THEN '30-40'
        WHEN T1.val_quantity BETWEEN 20 AND 30 THEN '20-30'
        WHEN T1.val_quantity BETWEEN 10 AND 20 THEN '10-20'
        WHEN T1.val_quantity BETWEEN 0 AND 10 THEN '0-10'
        ELSE 'Other'
    END AS oxygen_saturation_decile,
    SUM(CASE WHEN T2.code_code IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    COUNT(T1.patient_id) - SUM(CASE WHEN T2.code_code IS NOT NULL THEN 1 ELSE 0 END) AS not_received_supplemental_oxygen
FROM
    observation_mimic_flat AS T1
LEFT JOIN
    condition_mimic_flat AS T2
ON
    T1.patient_id = T2.patient_id
    AND T2.code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Supplemental oxygen codes from condition_mimic_flat
WHERE
    T1.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Arterial hemoglobin oxygen saturation level relevant codes
    AND T1.val_quantity < 90  -- Oxygen saturation level less than 90%
GROUP BY
    oxygen_saturation_decile
ORDER BY
    oxygen_saturation_decile;

Iteration 0 SQL execution output:
START_OUTPUT
('0-10', 3758, 11325)
('10-20', 606, 1269)
('20-30', 3779, 3200)
('30-40', 14272, 11279)
('40-50', 18573, 15807)
('50-60', 18273, 20803)
('60-70', 25738, 35881)
('70-80', 32468, 46565)
('80-90', 162712, 108426)
('Other', 2, 3)
END_OUTPUT
Iteration 1 SQL:

SELECT
    CASE
        WHEN T1.val_quantity BETWEEN 80 AND 90 THEN '80-90'
        WHEN T1.val_quantity BETWEEN 70 AND 80 THEN '70-80'
        WHEN T1.val_quantity BETWEEN 60 AND 70 THEN '60-70'
        WHEN T1.val_quantity BETWEEN 50 AND 60 THEN '50-60'
        WHEN T1.val_quantity BETWEEN 40 AND 50 THEN '40-50'
        WHEN T1.val_quantity BETWEEN 30 AND 40 THEN '30-40'
        WHEN T1.val_quantity BETWEEN 20 AND 30 THEN '20-30'
        WHEN T1.val_quantity BETWEEN 10 AND 20 THEN '10-20'
        WHEN T1.val_quantity BETWEEN 0 AND 10 THEN '0-10'
        ELSE 'Other'
    END AS oxygen_saturation_decile,
    SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    COUNT(DISTINCT T1.patient_id) - SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS not_received_supplemental_oxygen -- Count distinct patients and substract supplemental oxygen patients
FROM
    observation_mimic_flat AS T1
LEFT JOIN
    (SELECT DISTINCT patient_id FROM condition_mimic_flat WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')) AS T2 -- Supplemental oxygen codes from condition_mimic_flat, distinct patient_id
ON
    T1.patient_id = T2.patient_id
WHERE
    T1.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Arterial hemoglobin oxygen saturation level relevant codes
    AND T1.val_quantity < 90  -- Oxygen saturation level less than 90%
GROUP BY
    oxygen_saturation_decile
ORDER BY
    oxygen_saturation_decile;

Iteration 1 SQL execution output:
START_OUTPUT
('0-10', 1998, 3062)
('10-20', 230, 1029)
('20-30', 1147, 1754)
('30-40', 4460, 2403)
('40-50', 5777, 2903)
('50-60', 6541, 3695)
('60-70', 9968, 4486)
('70-80', 13021, 4989)
('80-90', 50393, -22097)
('Other', 1, 3)
END_OUTPUT
Iteration 2 SQL:

SELECT
    CASE
        WHEN T1.val_quantity BETWEEN 80 AND 90 THEN '80-90'
        WHEN T1.val_quantity BETWEEN 70 AND 80 THEN '70-80'
        WHEN T1.val_quantity BETWEEN 60 AND 70 THEN '60-70'
        WHEN T1.val_quantity BETWEEN 50 AND 60 THEN '50-60'
        WHEN T1.val_quantity BETWEEN 40 AND 50 THEN '40-50'
        WHEN T1.val_quantity BETWEEN 30 AND 40 THEN '30-40'
        WHEN T1.val_quantity BETWEEN 20 AND 30 THEN '20-30'
        WHEN T1.val_quantity BETWEEN 10 AND 20 THEN '10-20'
        WHEN T1.val_quantity BETWEEN 0 AND 10 THEN '0-10'
        ELSE 'Other'
    END AS oxygen_saturation_decile,
    SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    COUNT(DISTINCT T1.patient_id) - SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS not_received_supplemental_oxygen -- Count distinct patients and subtract supplemental oxygen patients
FROM
    observation_mimic_flat AS T1
LEFT JOIN
    (SELECT DISTINCT patient_id FROM condition_mimic_flat WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')) AS T2 -- Supplemental oxygen codes from condition_mimic_flat, distinct patient_id
ON
    T1.patient_id = T2.patient_id
WHERE
    T1.code_code IN ('2708-6', '220227', '50817', '220277') -- Arterial hemoglobin oxygen saturation level relevant codes, limit to arterial or spo2 measurements for better accuracy
    AND T1.val_quantity < 90  -- Oxygen saturation level less than 90%
GROUP BY
    oxygen_saturation_decile
ORDER BY
    oxygen_saturation_decile;

Iteration 2 SQL execution output:
START_OUTPUT
('0-10', 188, 681)
('10-20', 124, 584)
('20-30', 277, 562)
('30-40', 549, 945)
('40-50', 1339, 1439)
('50-60', 3142, 2138)
('60-70', 4796, 4200)
('70-80', 6384, 5869)
('80-90', 43752, -18785)
('Other', 1, 1)
END_OUTPUT
Iteration 3 SQL:

SELECT
    CASE
        WHEN T1.val_quantity BETWEEN 80 AND 90 THEN '80-90'
        WHEN T1.val_quantity BETWEEN 70 AND 80 THEN '70-80'
        WHEN T1.val_quantity BETWEEN 60 AND 70 THEN '60-70'
        WHEN T1.val_quantity BETWEEN 50 AND 60 THEN '50-60'
        WHEN T1.val_quantity BETWEEN 40 AND 50 THEN '40-50'
        WHEN T1.val_quantity BETWEEN 30 AND 40 THEN '30-40'
        WHEN T1.val_quantity BETWEEN 20 AND 30 THEN '20-30'
        WHEN T1.val_quantity BETWEEN 10 AND 20 THEN '10-20'
        WHEN T1.val_quantity BETWEEN 0 AND 10 THEN '0-10'
        ELSE 'Other'
    END AS oxygen_saturation_decile,
    SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    COUNT(DISTINCT T1.patient_id) - SUM(CASE WHEN T2.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS not_received_supplemental_oxygen  -- Count distinct patients and subtract supplemental oxygen patients
FROM
    observation_mimic_flat AS T1
LEFT JOIN
    (SELECT DISTINCT patient_id FROM condition_mimic_flat WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')) AS T2  -- Supplemental oxygen codes from condition_mimic_flat, distinct patient_id
ON
    T1.patient_id = T2.patient_id
WHERE
    T1.code_code IN ('2708-6', '220227', '50817', '220277')  -- Arterial hemoglobin oxygen saturation level relevant codes, limit to arterial or spo2 measurements for better accuracy
    AND T1.val_quantity < 90  -- Oxygen saturation level less than 90%
    AND T1.val_quantity IS NOT NULL  -- Exclude NULL values for val_quantity
GROUP BY
    oxygen_saturation_decile
ORDER BY
    oxygen_saturation_decile;

Iteration 3 SQL execution output:
START_OUTPUT
('0-10', 188, 681)
('10-20', 124, 584)
('20-30', 277, 562)
('30-40', 549, 945)
('40-50', 1339, 1439)
('50-60', 3142, 2138)
('60-70', 4796, 4200)
('70-80', 6384, 5869)
('80-90', 43752, -18785)
('Other', 1, 1)
END_OUTPUT
Iteration 4 SQL:

SELECT
    CASE
        WHEN T1.val_quantity BETWEEN 80 AND 90 THEN '80-90'
        WHEN T1.val_quantity BETWEEN 70 AND 80 THEN '70-80'
        WHEN T1.val_quantity BETWEEN 60 AND 70 THEN '60-70'
        WHEN T1.val_quantity BETWEEN 50 AND 60 THEN '50-60'
        WHEN T1.val_quantity BETWEEN 40 AND 50 THEN '40-50'
        WHEN T1.val_quantity BETWEEN 30 AND 40 THEN '30-40'
        WHEN T1.val_quantity BETWEEN 20 AND 30 THEN '20-30'
        WHEN T1.val_quantity BETWEEN 10 AND 20 THEN '10-20'
        WHEN T1.val_quantity BETWEEN 0 AND 10 THEN '0-10'
        ELSE 'Other'
    END AS oxygen_saturation_decile,
    COUNT(DISTINCT CASE WHEN T2.patient_id IS NOT NULL THEN T1.patient_id ELSE NULL END) AS received_supplemental_oxygen,  -- Count distinct patients who received supplemental oxygen
    COUNT(DISTINCT CASE WHEN T2.patient_id IS NULL THEN T1.patient_id ELSE NULL END) AS not_received_supplemental_oxygen  -- Count distinct patients who did not receive supplemental oxygen
FROM
    observation_mimic_flat AS T1
LEFT JOIN
    (SELECT DISTINCT patient_id FROM condition_mimic_flat WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')) AS T2  -- Supplemental oxygen codes from condition_mimic_flat, distinct patient_id
ON
    T1.patient_id = T2.patient_id
WHERE
    T1.code_code IN ('2708-6', '220227', '50817', '220277')  -- Arterial hemoglobin oxygen saturation level relevant codes, limit to arterial or spo2 measurements for better accuracy
    AND T1.val_quantity < 90  -- Oxygen saturation level less than 90%
    AND T1.val_quantity IS NOT NULL  -- Exclude NULL values for val_quantity
GROUP BY
    oxygen_saturation_decile
ORDER BY
    oxygen_saturation_decile;

Iteration 4 SQL execution output:
START_OUTPUT
('0-10', 155, 714)
('10-20', 114, 594)
('20-30', 238, 601)
('30-40', 358, 1136)
('40-50', 604, 2174)
('50-60', 1046, 4234)
('60-70', 1699, 7297)
('70-80', 2471, 9782)
('80-90', 5629, 19338)
('Other', 1, 1)
END_OUTPUT

In [28]:
# Simplifying the query for debug (removing grouping):
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For patients that have arterial hemoglobin oxygen saturation level less than 90%,
    count the number that received supplemental oxygen versus those who didn't.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "arterial hemoglobin oxygen saturation level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '51645', 'Hemoglobin, Calculated'), ('observation_mimic_flat', 'code_code', '228232', 'PAR-Oxygen saturation'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('observation_mimic_flat', 'code_code', '227861', 'Rest O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '227919', 'Rest O2 Sat - Aerobic Activity Response'), ('observation_mimic_flat', 'code_code', '50855', 'Absolute Hemoglobin')]


            For "less than 90%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "supplemental oxygen" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'Z9981', 'Dependence on supplemental oxygen'), ('procedure_mimic_flat', 'code_code', '9396', 'Other oxygen enrichment'), ('observation_mimic_flat', 'code_code', '228193', 'Oxygenator/ECMO'), ('observation_mimic_flat', 'code_code', '226732', 'O2 Delivery Device(s)'), ('observation_mimic_flat', 'code_code', '227287', 'O2 Flow (additional cannula)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'V462', 'Other dependence on machines, supplemental oxygen'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('procedure_mimic_flat', 'code_code', '3965', 'Extracorporeal membrane oxygenation [ECMO]'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50815', 'O2 Flow'), ('observation_mimic_flat', 'code_code', '223834', 'O2 Flow')]


Iteration 0 SQL:

SELECT
    SUM(CASE WHEN oxygen_supplementation.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    SUM(CASE WHEN oxygen_supplementation.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_supplemental_oxygen
FROM
    (SELECT DISTINCT patient_id FROM observation_mimic_flat WHERE code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') AND val_quantity < 90) AS low_oxygen
LEFT JOIN
    (SELECT DISTINCT patient_id FROM condition_mimic_flat WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')
     UNION
     SELECT DISTINCT patient_id FROM procedure_mimic_flat WHERE code_code IN ('9396', '3965')
     UNION
     SELECT DISTINCT patient_id FROM observation_mimic_flat WHERE code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')) AS oxygen_supplementation
ON
    low_oxygen.patient_id = oxygen_supplementation.patient_id;

Iteration 0 SQL execution output:
START_OUTPUT
(38133, 1650)
END_OUTPUT
Iteration 1 SQL:

SELECT
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_supplemental_oxygen
FROM
    (SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Filtering for arterial hemoglobin oxygen saturation levels
       AND val_quantity < 90 -- Selecting patients with oxygen saturation less than 90
    ) AS low_oxygen
LEFT JOIN
    (SELECT DISTINCT patient_id
     FROM condition_mimic_flat
     WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462') -- Condition codes indicating supplemental oxygen dependence/hypoxemia
     UNION
     SELECT DISTINCT patient_id
     FROM procedure_mimic_flat
     WHERE code_code IN ('9396', '3965') -- Procedure codes for oxygen enrichment/ECMO
     UNION
     SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834') -- Observation codes related to oxygen supplementation
    ) AS supplemental_oxygen
ON
    low_oxygen.patient_id = supplemental_oxygen.patient_id;

Iteration 1 SQL execution output:
START_OUTPUT
(38133, 1650)
END_OUTPUT
Iteration 2 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_supplemental_oxygen
FROM
    (SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Filter for arterial hemoglobin oxygen saturation levels
       AND val_quantity < 90 -- Select patients with oxygen saturation less than 90
    ) AS low_oxygen
LEFT JOIN
    (SELECT DISTINCT patient_id
     FROM condition_mimic_flat
     WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462') -- Condition codes for supplemental oxygen dependence/hypoxemia
     UNION
     SELECT DISTINCT patient_id
     FROM procedure_mimic_flat
     WHERE code_code IN ('9396', '3965') -- Procedure codes for oxygen enrichment/ECMO
     UNION
     SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834') -- Observation codes for oxygen supplementation
    ) AS so
ON
    low_oxygen.patient_id = so.patient_id;

Iteration 2 SQL execution output:
START_OUTPUT
(38133, 1650)
END_OUTPUT
Iteration 3 SQL:

SELECT
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,  -- Count patients who received supplemental oxygen
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_supplemental_oxygen  -- Count patients who did not receive supplemental oxygen
FROM
    (SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation levels
       AND val_quantity < 90  -- Select patients with oxygen saturation less than 90
    ) AS low_oxygen
LEFT JOIN
    (SELECT DISTINCT patient_id
     FROM condition_mimic_flat
     WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Condition codes for supplemental oxygen dependence/hypoxemia
     UNION
     SELECT DISTINCT patient_id
     FROM procedure_mimic_flat
     WHERE code_code IN ('9396', '3965')  -- Procedure codes for oxygen enrichment/ECMO
     UNION
     SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Observation codes for oxygen supplementation
    ) AS supplemental_oxygen
ON
    low_oxygen.patient_id = supplemental_oxygen.patient_id;

Iteration 3 SQL execution output:
START_OUTPUT
(38133, 1650)
END_OUTPUT
Iteration 4 SQL:

SELECT
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_supplemental_oxygen,  -- Count patients who received supplemental oxygen
    SUM(CASE WHEN supplemental_oxygen.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_supplemental_oxygen  -- Count patients who did not receive supplemental oxygen
FROM
    (SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('2708-6', '220227', '50817', '220277')  -- Filter for arterial hemoglobin oxygen saturation levels. Limiting to most relevant codes.
       AND val_quantity < 90  -- Select patients with oxygen saturation less than 90
    ) AS low_oxygen
LEFT JOIN
    (SELECT DISTINCT patient_id
     FROM condition_mimic_flat
     WHERE code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Condition codes for supplemental oxygen dependence/hypoxemia
     UNION
     SELECT DISTINCT patient_id
     FROM procedure_mimic_flat
     WHERE code_code IN ('9396', '3965')  -- Procedure codes for oxygen enrichment/ECMO
     UNION
     SELECT DISTINCT patient_id
     FROM observation_mimic_flat
     WHERE code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50815', '223834')  -- Observation codes for oxygen supplementation
    ) AS supplemental_oxygen
ON
    low_oxygen.patient_id = supplemental_oxygen.patient_id;

Iteration 4 SQL execution output:
START_OUTPUT
(31271, 1729)
END_OUTPUT

In [29]:
# Making the NLQ more specific by adding encounter constraint:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For patients that have arterial hemoglobin oxygen saturation level less than 90% in an encounter,
    count the number that received supplemental oxygen in the same encounter versus those who didn't.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "arterial hemoglobin oxygen saturation level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '51645', 'Hemoglobin, Calculated'), ('observation_mimic_flat', 'code_code', '228232', 'PAR-Oxygen saturation'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('observation_mimic_flat', 'code_code', '227861', 'Rest O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '227919', 'Rest O2 Sat - Aerobic Activity Response'), ('observation_mimic_flat', 'code_code', '50855', 'Absolute Hemoglobin')]


            For "less than 90%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "supplemental oxygen" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'Z9981', 'Dependence on supplemental oxygen'), ('procedure_mimic_flat', 'code_code', '9396', 'Other oxygen enrichment'), ('observation_mimic_flat', 'code_code', '228193', 'Oxygenator/ECMO'), ('observation_mimic_flat', 'code_code', '226732', 'O2 Delivery Device(s)'), ('observation_mimic_flat', 'code_code', '227287', 'O2 Flow (additional cannula)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'V462', 'Other dependence on machines, supplemental oxygen'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('procedure_mimic_flat', 'code_code', '3965', 'Extracorporeal membrane oxygenation [ECMO]'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50815', 'O2 Flow'), ('observation_mimic_flat', 'code_code', '223834', 'O2 Flow')]


Iteration 0 SQL:

SELECT
    SUM(CASE WHEN so.encounter_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.encounter_id IS NULL THEN 1 ELSE 0 END) AS not_received_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat AS omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation level related code_code
            AND omf.val_quantity < 90 -- Filter for arterial hemoglobin oxygen saturation level less than 90%
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for supplemental oxygen related condition code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for supplemental oxygen related procedure code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen related observation code_code
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id; -- Join based on patient_id and encounter_id to determine supplemental oxygen in the same encounter

Iteration 0 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 1 SQL:

SELECT
    SUM(CASE WHEN so.encounter_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.encounter_id IS NULL THEN 1 ELSE 0 END) AS not_received_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat AS omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation level related code_code
            AND omf.val_quantity < 90 -- Filter for arterial hemoglobin oxygen saturation level less than 90%
            AND omf.val_quantity IS NOT NULL -- Exclude rows where val_quantity is NULL to avoid errors
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for supplemental oxygen related condition code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for supplemental oxygen related procedure code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen related observation code_code
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id; -- Join based on patient_id and encounter_id to determine supplemental oxygen in the same encounter

Iteration 1 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 2 SQL:

SELECT
    SUM(CASE WHEN so.encounter_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.encounter_id IS NULL THEN 1 ELSE 0 END) AS not_received_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat AS omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation level related code_code
            AND omf.val_quantity < 90 -- Filter for arterial hemoglobin oxygen saturation level less than 90%
            AND omf.val_quantity IS NOT NULL  -- Ensure val_quantity is not NULL for accurate comparison
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for supplemental oxygen related condition code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for supplemental oxygen related procedure code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen related observation code_code
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Join on patient_id and encounter_id

Iteration 2 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 3 SQL:


SELECT
    SUM(CASE WHEN so.encounter_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Count patients who received supplemental oxygen in the same encounter
    SUM(CASE WHEN so.encounter_id IS NULL THEN 1 ELSE 0 END) AS not_received_oxygen  -- Count patients who did not receive supplemental oxygen in the same encounter
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat AS omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation level related code_code
            AND omf.val_quantity < 90  -- Filter for arterial hemoglobin oxygen saturation level less than 90%
            AND omf.val_quantity IS NOT NULL  -- Exclude cases where val_quantity is NULL to avoid errors
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for supplemental oxygen related condition code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for supplemental oxygen related procedure code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen related observation code_code
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Join based on patient_id and encounter_id to determine supplemental oxygen in the same encounter


Iteration 3 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 4 SQL:


SELECT
    SUM(CASE WHEN so.encounter_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Count patients who received supplemental oxygen in the same encounter
    SUM(CASE WHEN so.encounter_id IS NULL THEN 1 ELSE 0 END) AS not_received_oxygen  -- Count patients who did not receive supplemental oxygen in the same encounter
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat AS omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation level related code_code
            AND omf.val_quantity < 90  -- Filter for arterial hemoglobin oxygen saturation level less than 90%
            AND omf.val_quantity IS NOT NULL  -- Exclude cases where val_quantity is NULL to avoid errors
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for supplemental oxygen related condition code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for supplemental oxygen related procedure code_code
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen related observation code_code
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Join based on patient_id and encounter_id to determine supplemental oxygen in the same encounter


Iteration 4 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT

In [30]:
# Repeating the same cell with more rounds:
# Making the NLQ more specific by adding encounter constraint:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For patients that have arterial hemoglobin oxygen saturation level less than 90% in an encounter,
    count the number that received supplemental oxygen in the same encounter versus those who didn't.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=10
)

CLOSE CONCEPTS:

            For "arterial hemoglobin oxygen saturation level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '51645', 'Hemoglobin, Calculated'), ('observation_mimic_flat', 'code_code', '228232', 'PAR-Oxygen saturation'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('observation_mimic_flat', 'code_code', '227861', 'Rest O2 Sat - Aerobic Capacity'), ('observation_mimic_flat', 'code_code', '227919', 'Rest O2 Sat - Aerobic Activity Response'), ('observation_mimic_flat', 'code_code', '50855', 'Absolute Hemoglobin')]


            For "less than 90%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "supplemental oxygen" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'Z9981', 'Dependence on supplemental oxygen'), ('procedure_mimic_flat', 'code_code', '9396', 'Other oxygen enrichment'), ('observation_mimic_flat', 'code_code', '228193', 'Oxygenator/ECMO'), ('observation_mimic_flat', 'code_code', '226732', 'O2 Delivery Device(s)'), ('observation_mimic_flat', 'code_code', '227287', 'O2 Flow (additional cannula)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'V462', 'Other dependence on machines, supplemental oxygen'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('procedure_mimic_flat', 'code_code', '3965', 'Extracorporeal membrane oxygenation [ECMO]'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50815', 'O2 Flow'), ('observation_mimic_flat', 'code_code', '223834', 'O2 Flow')]


Iteration 0 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90 -- Filtering for values less than 90%
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834') -- Selecting relevant codes for supplemental oxygen
        UNION
        SELECT DISTINCT
            cmf.patient_id,
            cmf.encounter_id
        FROM
            condition_mimic_flat cmf
        WHERE
            cmf.code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Selecting relevant codes for supplemental oxygen
        UNION
        SELECT DISTINCT
            pmf.patient_id,
            pmf.encounter_id
        FROM
            procedure_mimic_flat pmf
        WHERE
            pmf.code_code IN ('9396', '3965') -- Selecting relevant codes for supplemental oxygen
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id; -- Joining on patient_id and encounter_id to ensure the oxygen was received in the same encounter


Iteration 0 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 1 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90 -- Filtering for values less than 90%
            AND omf.val_quantity IS NOT NULL  -- Ensuring val_quantity is not null
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834') -- Selecting relevant codes for supplemental oxygen from observation table
        UNION
        SELECT DISTINCT
            cmf.patient_id,
            cmf.encounter_id
        FROM
            condition_mimic_flat cmf
        WHERE
            cmf.code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Selecting relevant codes for supplemental oxygen from condition table
        UNION
        SELECT DISTINCT
            pmf.patient_id,
            pmf.encounter_id
        FROM
            procedure_mimic_flat pmf
        WHERE
            pmf.code_code IN ('9396', '3965') -- Selecting relevant codes for supplemental oxygen from procedure table
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id; -- Joining on patient_id and encounter_id to ensure the oxygen was received in the same encounter


Iteration 1 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 2 SQL:


SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Count patients who received supplemental oxygen
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen  -- Count patients who did not receive supplemental oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90  -- Filtering for values less than 90%
            AND omf.val_quantity IS NOT NULL -- Ensuring val_quantity is not null to avoid errors
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834') -- Selecting relevant codes for supplemental oxygen from observation table
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Selecting relevant codes for supplemental oxygen from condition table
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965') -- Selecting relevant codes for supplemental oxygen from procedure table
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Joining on patient_id and encounter_id to ensure the oxygen was received in the same encounter


Iteration 2 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 3 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90  -- Filtering for values less than 90%
            AND omf.val_quantity IS NOT NULL -- Ensuring val_quantity is not null to avoid errors
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Selecting relevant codes for supplemental oxygen from observation table
            AND encounter_id IS NOT NULL
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462') -- Selecting relevant codes for supplemental oxygen from condition table
            AND encounter_id IS NOT NULL
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965') -- Selecting relevant codes for supplemental oxygen from procedure table
            AND encounter_id IS NOT NULL
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id; -- Joining on patient_id and encounter_id to ensure the oxygen was received in the same encounter


Iteration 3 SQL execution output:
START_OUTPUT
(54863, 14849)
END_OUTPUT
Iteration 4 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Count of patients who received supplemental oxygen
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen  -- Count of patients who did not receive supplemental oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filter for arterial hemoglobin oxygen saturation observations
            AND omf.val_quantity < 90  -- Filter for observations with a value less than 90%
            AND omf.val_quantity IS NOT NULL  -- Exclude rows where val_quantity is NULL to prevent errors
            AND omf.encounter_id IS NOT NULL  -- Ensure encounter_id is not NULL
            AND omf.patient_id IS NOT NULL    -- Ensure patient_id is not NULL
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filter for supplemental oxygen observations
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Filter for conditions related to supplemental oxygen
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Filter for procedures related to supplemental oxygen
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Join based on patient_id and encounter_id


Iteration 4 SQL execution output:
START_OUTPUT
(54863, 6460)
END_OUTPUT
Iteration 5 SQL:


SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Count patients who received supplemental oxygen
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen  -- Count patients who did not receive supplemental oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90  -- Filtering for values less than 90%
            AND omf.val_quantity IS NOT NULL -- Ensuring val_quantity is not null to avoid errors
            AND omf.encounter_id IS NOT NULL  -- Ensuring encounter_id is not NULL
            AND omf.patient_id IS NOT NULL    -- Ensuring patient_id is not NULL
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Selecting relevant codes for supplemental oxygen from observation table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION ALL
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Selecting relevant codes for supplemental oxygen from condition table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION ALL
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Selecting relevant codes for supplemental oxygen from procedure table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
    ) AS so
ON
    low_o2.patient_id = so.patient_id AND low_o2.encounter_id = so.encounter_id;  -- Joining on patient_id and encounter_id to ensure the oxygen was received in the same encounter


Iteration 5 SQL execution output:
START_OUTPUT
(56225, 6460)
END_OUTPUT
Iteration 6 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen,
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855') -- Selecting relevant codes for arterial hemoglobin oxygen saturation level
            AND omf.val_quantity < 90  -- Filtering for values less than 90%
            AND omf.val_quantity IS NOT NULL -- Ensuring val_quantity is not null to avoid errors
            AND omf.encounter_id IS NOT NULL  -- Ensuring encounter_id is not NULL
            AND omf.patient_id IS NOT NULL    -- Ensuring patient_id is not NULL
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Selecting relevant codes for supplemental oxygen from observation table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION ALL
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE
            code_code IN ('Z9981', 'R0902', '79902', 'V462')  -- Selecting relevant codes for supplemental oxygen from condition table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION ALL
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            procedure_mimic_flat
        WHERE
            code_code IN ('9396', '3965')  -- Selecting relevant codes for supplemental oxygen from procedure table
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
    ) AS so
ON
    low_o2.patient_id = so.patient_id
    AND low_o2.encounter_id = so.encounter_id;

Iteration 6 SQL execution output:
START_OUTPUT
(56225, 6460)
END_OUTPUT
Iteration 7 SQL:

SELECT
    SUM(CASE WHEN so.patient_id IS NOT NULL THEN 1 ELSE 0 END) AS received_oxygen, -- Counts the number of patients who received supplemental oxygen in the same encounter
    SUM(CASE WHEN so.patient_id IS NULL THEN 1 ELSE 0 END) AS did_not_receive_oxygen  -- Counts the number of patients who did not receive supplemental oxygen in the same encounter
FROM
    (
        SELECT DISTINCT
            omf.patient_id,
            omf.encounter_id
        FROM
            observation_mimic_flat omf
        WHERE
            omf.code_code IN ('2708-6', '220227', '50817', '220224', '220277', '226063', '226541', '51645', '228232', '227861', '227919', '50855')  -- Filters for arterial hemoglobin oxygen saturation level observations
            AND omf.val_quantity < 90  -- Filters for observations with a value less than 90%
            AND omf.val_quantity IS NOT NULL -- Excludes rows where val_quantity is NULL to prevent errors
            AND omf.encounter_id IS NOT NULL  -- Ensures encounter_id is not NULL
            AND omf.patient_id IS NOT NULL    -- Ensures patient_id is not NULL
    ) AS low_o2
LEFT JOIN
    (
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            observation_mimic_flat
        WHERE
            code_code IN ('228193', '226732', '227287', '50816', '50817', '50823', '229280', '50821', '220227', '223772', '220277', '50815', '223834')  -- Filters for supplemental oxygen observations from observation_mimic_flat
            AND encounter_id IS NOT NULL
            AND patient_id IS NOT NULL
        UNION ALL
        SELECT DISTINCT
            patient_id,
            encounter_id
        FROM
            condition_mimic_flat
        WHERE

## Difference between SpO2 and blood oxygen saturation
Here we try to differentiate between oxygen measured by "near-infrared pulse oximeter" (SpO2)
and oxygen saturation measured by Arterial Blood Gas (ABG) test.

In [16]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For patients that had their blood oxygen level measured both
    through pulse oximeter (SpO2) and Arterial Blood Gas (ABG) test
    in the same encounter, count the number of those that the
    difference between the two values was at most 2% vs those
    that it was greater than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "their blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "greater than 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

WITH spo2_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS spo2_value
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL
), abg_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS abg_value
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation
    AND val_quantity IS NOT NULL
), joined_measurements AS (
    SELECT
        s.encounter_id,
        s.patient_id,
        s.spo2_value,
        a.abg_value
    FROM spo2_measurements s
    JOIN abg_measurements a ON s.encounter_id = a.encounter_id AND s.patient_id = a.patient_id -- Join SpO2 and ABG measurements on encounter and patient ID
), diff_values AS (
    SELECT *, ABS(spo2_value - abg_value) AS diff FROM joined_measurements
)
SELECT
    CASE
        WHEN diff <= 2 THEN 'At most 2%'
        ELSE 'Greater than 2%'
    END AS difference_category,
    COUNT(*) AS count
FROM diff_values
GROUP BY difference_category;

Iteration 0 SQL execution output:
START_OUTPUT
('At most 2%', 16789007)
('Greater than 2%', 14225200)
END_OUTPUT
Iteration 1 SQL:

WITH spo2_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS spo2_value
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL
), abg_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS abg_value
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation
    AND val_quantity IS NOT NULL
), joined_measurements AS (
    SELECT
        s.encounter_id,
        s.patient_id,
        s.spo2_value,
        a.abg_value
    FROM spo2_measurements s
    JOIN abg_measurements a ON s.encounter_id = a.encounter_id AND s.patient_id = a.patient_id -- Join SpO2 and ABG measurements on encounter and patient ID
), diff_values AS (
    SELECT *, ABS(spo2_value - abg_value) AS diff FROM joined_measurements
)
SELECT
    CASE
        WHEN diff <= 2 THEN 'At most 2%'
        ELSE 'Greater than 2%'
    END AS difference_category,
    COUNT(*) AS count
FROM diff_values
GROUP BY difference_category;

Iteration 1 SQL execution output:
START_OUTPUT
('At most 2%', 16789007)
('Greater than 2%', 14225200)
END_OUTPUT
Iteration 2 SQL:

WITH spo2_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS spo2_value
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL
), abg_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS abg_value
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation
    AND val_quantity IS NOT NULL
), joined_measurements AS (
    SELECT
        s.encounter_id,
        s.patient_id,
        s.spo2_value,
        a.abg_value
    FROM spo2_measurements s
    INNER JOIN abg_measurements a ON s.encounter_id = a.encounter_id AND s.patient_id = a.patient_id  -- Join SpO2 and ABG measurements on encounter and patient ID
)
SELECT
    CASE
        WHEN ABS(spo2_value - abg_value) <= 2 THEN 'At most 2%'
        ELSE 'Greater than 2%'
    END AS difference_category,
    COUNT(*) AS count
FROM joined_measurements
GROUP BY difference_category;

Iteration 2 SQL execution output:
START_OUTPUT
('At most 2%', 16789007)
('Greater than 2%', 14225200)
END_OUTPUT
Iteration 3 SQL:

WITH spo2_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS spo2_value
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry code
    AND val_quantity IS NOT NULL  -- Ensure the value is not null
), abg_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS abg_value
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation code
    AND val_quantity IS NOT NULL  -- Ensure the value is not null
), joined_measurements AS (
    SELECT
        s.encounter_id,
        s.patient_id,
        s.spo2_value,
        a.abg_value
    FROM spo2_measurements s
    INNER JOIN abg_measurements a ON s.encounter_id = a.encounter_id AND s.patient_id = a.patient_id  -- Join SpO2 and ABG measurements on encounter and patient ID
)
SELECT
    CASE
        WHEN ABS(spo2_value - abg_value) <= 2 THEN 'At most 2%'  -- Define the category based on the absolute difference
        ELSE 'Greater than 2%'  -- Define the category based on the absolute difference
    END AS difference_category,
    COUNT(*) AS count  -- Count the number of records in each category
FROM joined_measurements
GROUP BY difference_category;  -- Group by the difference category


Iteration 3 SQL execution output:
START_OUTPUT
('At most 2%', 16789007)
('Greater than 2%', 14225200)
END_OUTPUT
Iteration 4 SQL:

WITH spo2_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS spo2_value
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry code
    AND val_quantity IS NOT NULL  -- Ensure the value is not null
), abg_measurements AS (
    SELECT
        encounter_id,
        patient_id,
        val_quantity AS abg_value
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation code
    AND val_quantity IS NOT NULL  -- Ensure the value is not null
), joined_measurements AS (
    SELECT
        s.encounter_id,
        s.patient_id,
        s.spo2_value,
        a.abg_value
    FROM spo2_measurements s
    INNER JOIN abg_measurements a ON s.encounter_id = a.encounter_id AND s.patient_id = a.patient_id  -- Join SpO2 and ABG measurements on encounter and patient ID
)
SELECT
    CASE
        WHEN ABS(spo2_value - abg_value) <= 2 THEN 'At most 2%'  -- Define the category based on the absolute difference
        ELSE 'Greater than 2%'  -- Define the category based on the absolute difference
    END AS difference_category,
    COUNT(*) AS count  -- Count the number of records in each category
FROM joined_measurements
GROUP BY difference_category;  -- Group by the difference category

Iteration 4 SQL execution output:
START_OUTPUT
('At most 2%', 16789007)
('Greater than 2%', 14225200)
END_OUTPUT

In [33]:
# A different wording:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For encounters in which the blood oxygen level of
    the patient is measured through both pulse oximeter (SpO2)
    and Arterial Blood Gas (ABG) test, find the average
    for each method and count the number of those that
    the difference between those two average values
    is at most 2% vs those that it is greater than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "the blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level')]


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "each
    method" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "most 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "greater" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

WITH
  PulseOximetry AS (
    SELECT
      encounter_id,
      AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE
      code_code = '220277' -- Filter for O2 saturation pulseoxymetry
    GROUP BY
      encounter_id
  ),
  ArterialBloodGas AS (
    SELECT
      encounter_id,
      AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE
      code_code = '220227' -- Filter for Arterial O2 Saturation
    GROUP BY
      encounter_id
  ),
  Combined AS (
    SELECT
      p.encounter_id,
      p.avg_spo2,
      a.avg_abg
    FROM PulseOximetry AS p
    JOIN ArterialBloodGas AS a
      ON p.encounter_id = a.encounter_id
  ),
  Difference AS (
    SELECT
      encounter_id,
      ABS(avg_spo2 - avg_abg) AS diff,
      (
        ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg) / 2)
      ) * 100 AS percentage_difference
    FROM Combined
  )
SELECT
  SUM(CASE WHEN percentage_difference <= 2 THEN 1 ELSE 0 END) AS at_most_2_percent,
  SUM(CASE WHEN percentage_difference > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent
FROM Difference;

Iteration 0 SQL execution output:
START_OUTPUT
(12064, 5319)
END_OUTPUT
Iteration 1 SQL:

WITH PulseOximetry AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Filter for O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), ArterialBloodGas AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '220227' -- Filter for Arterial O2 Saturation
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOximetry AS p
  JOIN ArterialBloodGas AS a
    ON p.encounter_id = a.encounter_id
  WHERE
    p.avg_spo2 IS NOT NULL -- Exclude encounters where PulseOximetry average is null
    AND a.avg_abg IS NOT NULL -- Exclude encounters where ArterialBloodGas average is null
), Difference AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff,
    (
      ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg) / 2)
    ) * 100 AS percentage_difference
  FROM Combined
), Summary AS (
  SELECT
    SUM(
      CASE
        WHEN percentage_difference <= 2
        THEN 1
        ELSE 0
      END
    ) AS at_most_2_percent,
    SUM(
      CASE
        WHEN percentage_difference > 2
        THEN 1
        ELSE 0
      END
    ) AS greater_than_2_percent
  FROM Difference
)
SELECT
  at_most_2_percent,
  greater_than_2_percent
FROM Summary;

Iteration 1 SQL execution output:
START_OUTPUT
(12064, 5319)
END_OUTPUT
Iteration 2 SQL:

WITH PulseOximetry AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Filter for O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), ArterialBloodGas AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Filter for Arterial O2 Saturation
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOximetry AS p
  JOIN ArterialBloodGas AS a
    ON p.encounter_id = a.encounter_id
  WHERE
    p.avg_spo2 IS NOT NULL -- Exclude encounters where PulseOximetry average is null
    AND a.avg_abg IS NOT NULL -- Exclude encounters where ArterialBloodGas average is null
), Difference AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff,
    CASE
      WHEN ((avg_spo2 + avg_abg) / 2) = 0 THEN 0  -- Prevent division by zero
      ELSE (
        ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg) / 2)
      ) * 100
    END AS percentage_difference
  FROM Combined
), Summary AS (
  SELECT
    SUM(
      CASE
        WHEN percentage_difference <= 2
        THEN 1
        ELSE 0
      END
    ) AS at_most_2_percent,
    SUM(
      CASE
        WHEN percentage_difference > 2
        THEN 1
        ELSE 0
      END
    ) AS greater_than_2_percent
  FROM Difference
)
SELECT
  at_most_2_percent,
  greater_than_2_percent
FROM Summary;

Iteration 2 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT
Iteration 3 SQL:

WITH PulseOximetry AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Filter for O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), ArterialBloodGas AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Filter for Arterial O2 Saturation
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOximetry AS p
  INNER JOIN ArterialBloodGas AS a
    ON p.encounter_id = a.encounter_id  -- Joining tables on the encounter id
  WHERE
    p.avg_spo2 IS NOT NULL -- Exclude encounters where PulseOximetry average is null
    AND a.avg_abg IS NOT NULL -- Exclude encounters where ArterialBloodGas average is null
), Difference AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff,
    CASE
      WHEN ((avg_spo2 + avg_abg) / 2) = 0 THEN 0  -- Prevent division by zero
      ELSE (
        ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg) / 2)
      ) * 100
    END AS percentage_difference
  FROM Combined
), Summary AS (
  SELECT
    SUM(
      CASE
        WHEN percentage_difference <= 2
        THEN 1
        ELSE 0
      END
    ) AS at_most_2_percent,
    SUM(
      CASE
        WHEN percentage_difference > 2
        THEN 1
        ELSE 0
      END
    ) AS greater_than_2_percent
  FROM Difference
)
SELECT
  COALESCE(at_most_2_percent, 0),
  COALESCE(greater_than_2_percent, 0)
FROM Summary;

Iteration 3 SQL execution output:
START_OUTPUT
(0, 0)
END_OUTPUT
Iteration 4 SQL:

WITH PulseOximetry AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Filter for O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), ArterialBloodGas AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Filter for Arterial O2 Saturation
    AND val_quantity IS NOT NULL -- Ensure val_quantity is not null for accurate average calculation
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOximetry AS p
  INNER JOIN ArterialBloodGas AS a
    ON p.encounter_id = a.encounter_id  -- Joining tables on the encounter id
  WHERE
    p.avg_spo2 IS NOT NULL -- Exclude encounters where PulseOximetry average is null
    AND a.avg_abg IS NOT NULL -- Exclude encounters where ArterialBloodGas average is null
), Difference AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff,
    CASE
      WHEN ((avg_spo2 + avg_abg) / 2) = 0 THEN 0  -- Prevent division by zero
      ELSE (
        ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg) / 2)
      ) * 100
    END AS percentage_difference
  FROM Combined
)
SELECT
  SUM(CASE WHEN percentage_difference <= 2 THEN 1 ELSE 0 END) AS at_most_2_percent,
  SUM(CASE WHEN percentage_difference > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent
FROM Difference;

Iteration 4 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT

### Debugging concept codes

In [47]:
pd.set_option('display.max_colwidth', None)
obs_oxygen = pd.read_sql_query(
    sql="""
    SELECT OCC.`system`, OCC.code, OCC.display, COUNT(*) AS num_obs
    FROM observation_mimic AS O LATERAL VIEW explode(code.coding) AS OCC
    WHERE OCC.code = '220277' OR OCC.code = '220227' OR OCC.code = '50817'
    GROUP BY OCC.`system`, OCC.code, OCC.display
    """,
    con=spark_query_engine,
)
obs_oxygen

,system,code,display,num_obs
0,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-chartevents-d-items,220277,O2 saturation pulseoxymetry,6324341
1,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-chartevents-d-items,220227,Arterial O2 Saturation,87394
2,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems,50817,Oxygen Saturation,176225

In [63]:
from querygen import sqlgen, column_sampler, db_description, util, terminology_indexer
import querygen
querygen.PRINT_CLOSE_CONCEPTS = True
querygen.PRINT_FINAL_PROMPT = False
#querygen.PRINT_FINAL_PROMPT = True
querygen.PRINT_MODEL_RESPONSE = False

# The reloads are to be able to quickly import latest external changes.
from importlib import reload
column_sampler = reload(column_sampler)
db_description = reload(db_description)
util = reload(util)
terminology_indexer = reload(terminology_indexer)
sqlgen = reload(sqlgen)

query_instance_10_07_20 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10,
    close_threshold=0.7,
    max_close=20
)

term_indexer = terminology_indexer.TerminologyIndexer(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec')

In [78]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Count the number of patients that within an hour, their blood oxygen level is
    measured through both pulse oximeter (SpO2) and Arterial Blood Gas (ABG) test
    and the difference of those two measurements is more than than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "their blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "those two measurements" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "more than than 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM (
    SELECT
        o1.patient_id,
        o1.obs_date AS pulseox_time,
        o1.val_quantity AS pulseox_value,
        o2.obs_date AS abg_time,
        o2.val_quantity AS abg_value
    FROM
        observation_mimic_flat o1
    JOIN
        observation_mimic_flat o2
    ON
        o1.patient_id = o2.patient_id  -- Match observations for the same patient
    WHERE
        o1.code_code = '220277'  -- Filter for pulse oximetry measurements
        AND o2.code_code = '220227'  -- Filter for arterial oxygen saturation measurements
        AND ABS(CAST(SUBSTR(STRFTIME('%s', o1.obs_date), 1, 10) AS INT) - CAST(SUBSTR(STRFTIME('%s', o2.obs_date), 1, 10) AS INT)) <= 3600  -- Ensure the measurements are within 1 hour (3600 seconds)
        AND ABS(o1.val_quantity - o2.val_quantity) > 2  -- Filter for a difference greater than 2%
) p;

Iteration 0 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=['*org.apache.hive.service.cli.HiveSQLException:Error running query: org.apache.spark.sql.AnalysisException: Undefined function: STRFTIME. This function is neither a built-in/temporary function, nor a persistent function that is qualified as spark_catalog.default.strftime.; line 19 pos 28:36:35', 'org.apache.spark.sql.hive.thriftserver.HiveThriftServerErrors$:runningQueryError:HiveThriftServerErrors.scala:43', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute:SparkExecuteStatementOperation.scala:325', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:runInternal:SparkExecuteStatementOperation.scala:216', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:277', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$th
END_ERROR
Iteration 1 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM (
    SELECT
        o1.patient_id,
        o1.obs_date AS pulseox_time,
        o1.val_quantity AS pulseox_value,
        o2.obs_date AS abg_time,
        o2.val_quantity AS abg_value
    FROM
        observation_mimic_flat o1
    JOIN
        observation_mimic_flat o2
    ON
        o1.patient_id = o2.patient_id  -- Match observations for the same patient
    WHERE
        o1.code_code = '220277'  -- Filter for pulse oximetry measurements
        AND o2.code_code = '220227'  -- Filter for arterial oxygen saturation measurements
        AND ABS(CAST(UNIX_TIMESTAMP(o1.obs_date) AS BIGINT) - CAST(UNIX_TIMESTAMP(o2.obs_date) AS BIGINT)) <= 3600  -- Ensure the measurements are within 1 hour (3600 seconds)
        AND ABS(o1.val_quantity - o2.val_quantity) > 2  -- Filter for a difference greater than 2%
) p;

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM (
    SELECT
        o1.patient_id,
        o1.obs_date AS pulseox_time,
        o1.val_quantity AS pulseox_value,
        o2.obs_date AS abg_time,
        o2.val_quantity AS abg_value
    FROM
        observation_mimic_flat o1
    JOIN
        observation_mimic_flat o2
    ON
        o1.patient_id = o2.patient_id  -- Match observations for the same patient
    WHERE
        o1.code_code = '220277'  -- Filter for pulse oximetry measurements
        AND o2.code_code = '220227'  -- Filter for arterial oxygen saturation measurements
        AND ABS(CAST(UNIX_TIMESTAMP(o1.obs_date) AS BIGINT) - CAST(UNIX_TIMESTAMP(o2.obs_date) AS BIGINT)) <= 3600  -- Ensure the measurements are within 1 hour (3600 seconds)
        AND ABS(o1.val_quantity - o2.val_quantity) > 2  -- Filter for a difference greater than 2%
        AND o1.val_quantity IS NOT NULL   -- Ensure the value is not null
        AND o2.val_quantity IS NOT NULL  -- Ensure the value is not null
) p;

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM (
    SELECT
        o1.patient_id,
        o1.obs_date AS pulseox_time,
        o1.val_quantity AS pulseox_value,
        o2.obs_date AS abg_time,
        o2.val_quantity AS abg_value
    FROM
        observation_mimic_flat o1
    JOIN
        observation_mimic_flat o2
    ON
        o1.patient_id = o2.patient_id  -- Match observations for the same patient
    WHERE
        o1.code_code = '220277'  -- Filter for pulse oximetry measurements
        AND o2.code_code = '220227'  -- Filter for arterial oxygen saturation measurements
        AND o1.val_quantity IS NOT NULL   -- Ensure the value is not null
        AND o2.val_quantity IS NOT NULL  -- Ensure the value is not null
        AND ABS(UNIX_TIMESTAMP(o1.obs_date) - UNIX_TIMESTAMP(o2.obs_date)) <= 3600  -- Ensure the measurements are within 1 hour (3600 seconds)
        AND ABS(o1.val_quantity - o2.val_quantity) > 2  -- Filter for a difference greater than 2%
) p;

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM (
    SELECT
        o1.patient_id,
        o1.obs_date AS pulseox_time,
        o1.val_quantity AS pulseox_value,
        o2.obs_date AS abg_time,
        o2.val_quantity AS abg_value
    FROM
        observation_mimic_flat o1
    JOIN
        observation_mimic_flat o2
    ON
        o1.patient_id = o2.patient_id  -- Match observations for the same patient
    WHERE
        o1.code_code = '220277'  -- Filter for pulse oximetry measurements
        AND o2.code_code = '220227'  -- Filter for arterial oxygen saturation measurements
        AND o1.val_quantity IS NOT NULL   -- Ensure the value is not null
        AND o2.val_quantity IS NOT NULL  -- Ensure the value is not null
        AND ABS(UNIX_TIMESTAMP(o1.obs_date) - UNIX_TIMESTAMP(o2.obs_date)) <= 3600  -- Ensure the measurements are within 1 hour (3600 seconds)
        AND ABS(o1.val_quantity - o2.val_quantity) > 2  -- Filter for a difference greater than 2%
) p
WHERE p.pulseox_value IS NOT NULL AND p.abg_value IS NOT NULL; -- Added to address possible null values after joining


Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [31]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Count the number of patients for whom the blood oxygen level
    is measured through both pulse oximeter (SpO2) and
    Arterial Blood Gas (ABG) test within an hour, and the
    difference of those two measurements is more than than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "the blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level')]


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "more than than 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM patient_mimic_flat p
JOIN observation_mimic_flat spo2 ON p.id = spo2.patient_id  -- Join patient and SpO2 observations
AND spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
JOIN observation_mimic_flat abg ON p.id = abg.patient_id  -- Join patient and ABG observations
AND abg.code_code = '2708-6'  -- Filter for ABG observations
WHERE ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour

Iteration 0 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error running query: [MISSING_COLUMN] org.apache.spark.sql.AnalysisException: Column 'p.patient_id' does not exist. Did you mean one of the following? [spo2.patient_id, abg.patient_id, p.practitioner_id, p.active, p.family, p.gender, p.given, p.id, spo2.id, abg.id, p.is_deceased, p.organization_id, p.birth_date, spo2.encounter_id, abg.encounter_id, p.deceased_time, spo2.status, abg.status, spo2.value_code, abg.value_code, spo2.value_sys, abg.value_sys, spo2.code_code, abg.code_code, spo2.code_sys, abg.code_sys, spo2.obs_date, abg.obs_date, spo2.val_quantity, abg.val_quantity, spo2.value_display, abg.value_display, spo2.code_display, abg.code_display, spo2.val_quantity_code, abg.val_quantity_code, spo2.val_quantity_unit, abg.val_quantity_unit, spo2.val_quantity_system, abg.val_quantity_system]; line 2 pos 22;\n'Project [unresolvedalias('COUNT(dist
END_ERROR
Iteration 1 SQL:

SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '2708-6'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour

Iteration 1 SQL execution output:
START_OUTPUT
(3406,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '2708-6'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour

Iteration 2 SQL execution output:
START_OUTPUT
(3406,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '2708-6'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour

Iteration 3 SQL execution output:
START_OUTPUT
(3406,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '2708-6'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour

Iteration 4 SQL execution output:
START_OUTPUT
(3406,)
END_OUTPUT

In [77]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Find encounters in which the blood oxygen level of
    the patient is measured through both pulse oximeter (SpO2)
    and Arterial Blood Gas (ABG) test; then find the average
    value for each method and count the number of encounters
    that the difference between those two average values
    is at most 2% vs those that it is greater than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "the blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level')]


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "each method" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "most 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "greater" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

WITH spo2_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277' -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code = '220227' -- Arterial O2 Saturation is used as an ABG indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    JOIN abg_obs a ON s.encounter_id = a.encounter_id
), diff_obs AS (
    SELECT
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100 as perc_diff -- percentage difference calculation
    FROM combined_obs
)
SELECT
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2% difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2% difference
FROM diff_obs;

Iteration 0 SQL execution output:
START_OUTPUT
(12064, 5319)
END_OUTPUT
Iteration 1 SQL:

WITH spo2_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code = '220227'  -- Arterial O2 Saturation is used as an ABG indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    INNER JOIN abg_obs a ON s.encounter_id = a.encounter_id  -- Ensure only encounters with both SpO2 and ABG are included
), diff_obs AS (
    SELECT
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        CASE
            WHEN ((avg_spo2 + avg_abg)/2) = 0 THEN 0 -- Handle cases where the average is zero to avoid division by zero
            ELSE (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100
        END as perc_diff  -- percentage difference calculation
    FROM combined_obs
)
SELECT
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2% difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2% difference
FROM diff_obs;

Iteration 1 SQL execution output:
START_OUTPUT
(12064, 5319)
END_OUTPUT
Iteration 2 SQL:

WITH spo2_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- Selecting O2 saturation pulseoxymetry for SpO2 measurements
    AND val_quantity IS NOT NULL  -- Excluding null values
    GROUP BY encounter_id
), abg_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code = '2708-6'  -- Selecting Oxygen saturation in Arterial blood for ABG measurements
    AND val_quantity IS NOT NULL  -- Excluding null values
    GROUP BY encounter_id
), combined_obs AS (
    SELECT
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    INNER JOIN abg_obs a ON s.encounter_id = a.encounter_id  -- Joining SpO2 and ABG observations based on encounter_id
), diff_obs AS (
    SELECT
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        CASE
            WHEN ((avg_spo2 + avg_abg)/2) = 0 THEN 0  -- Handling division by zero when the average of SpO2 and ABG is zero
            ELSE (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100
        END as perc_diff  -- Calculating percentage difference between SpO2 and ABG
    FROM combined_obs
)
SELECT
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Counting encounters where the percentage difference is within 2%
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Counting encounters where the percentage difference is greater than 2%
FROM diff_obs;

Iteration 2 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT
Iteration 3 SQL:


WITH spo2_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code IN ('2708-6', '220227')  -- Arterial O2 Saturation is used as an ABG indicator. Including both '2708-6' and '220227'
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    INNER JOIN abg_obs a ON s.encounter_id = a.encounter_id  -- Ensure only encounters with both SpO2 and ABG are included
), diff_obs AS (
    SELECT
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        CASE
            WHEN ((avg_spo2 + avg_abg)/2) = 0 THEN 0  -- Handle cases where the average is zero to avoid division by zero
            ELSE (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100
        END as perc_diff  -- percentage difference calculation
    FROM combined_obs
)
SELECT
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2% difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2% difference
FROM diff_obs;


Iteration 3 SQL execution output:
START_OUTPUT
(12064, 5319)
END_OUTPUT
Iteration 4 SQL:

WITH spo2_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277'  -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code IN ('2708-6', '220224', '220227')  -- Arterial O2 Saturation is used as an ABG indicator. including '220224' as well
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    INNER JOIN abg_obs a ON s.encounter_id = a.encounter_id  -- Ensure only encounters with both SpO2 and ABG are included
), diff_obs AS (
    SELECT
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        CASE
            WHEN ((avg_spo2 + avg_abg)/2) = 0 THEN 0  -- Handle cases where the average is zero to avoid division by zero
            ELSE (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100
        END as perc_diff  -- percentage difference calculation
    FROM combined_obs
)
SELECT
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2% difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2% difference
FROM diff_obs;

Iteration 4 SQL execution output:
START_OUTPUT
(1276, 31803)
END_OUTPUT

### Debugging codes
Some of the cell outputs in this section are removed not to expose any individual IDs.

In [48]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_colwidth', None)

In [ ]:
pd.read_sql_query(
    sql="""
    SELECT * FROM observation_mimic AS O
    LATERAL VIEW OUTER explode(code.coding) AS OCC
    WHERE OCC.code = '220227' -- '50817'
    LIMIT 2;
    """,
    con=spark_query_engine,
)

In [ ]:
pd.read_sql_query(
    sql="""
    SELECT * FROM observation_mimic AS O
    LATERAL VIEW OUTER explode(code.coding) AS OCC
    WHERE OCC.code = '50817'
    LIMIT 2;
    """,
    con=spark_query_engine,
)

In [ ]:
pd.read_sql_query(
    sql="""
    SELECT * FROM observation_mimic AS O
    LATERAL VIEW OUTER explode(code.coding) AS OCC
    WHERE OCC.code = '2708-6'
    LIMIT 2;
    """,
    con=spark_query_engine,
)

In [41]:
oxygen_obs = pd.read_sql_query(
    sql="""
    SELECT id, encounter_id, obs_date, val_quantity, val_quantity_unit, code_code
    FROM Observation_mimic_flat AS O
    WHERE O.code_code IN ('50817', '220227', '2708-6')
    AND O.patient_id = '78dd8dd9-31cb-5dd9-b703-11f37937ad14'
    ORDER BY O.obs_date;
    """,
    con=spark_query_engine,
)
oxygen_obs.head(100)

,id,encounter_id,obs_date,val_quantity,val_quantity_unit,code_code
0,92c384cf-5fc2-5854-b01e-8308c07fbd04,None,2174-09-22T09:37:00-04:00,96.0,%,50817
1,5dd913f5-4a1a-5380-a31c-bd69703e4e72,fcc61b5a-510e-5102-bff9-96738a23cf33,2174-10-02T15:57:00-04:00,90.0,%,50817
2,63107731-5ea7-5d20-98b0-872c464e75fa,fcc61b5a-510e-5102-bff9-96738a23cf33,2174-10-02T21:54:00-04:00,97.0,%,50817
3,32cbf905-6cab-5893-bc00-a4696c238be9,fcc61b5a-510e-5102-bff9-96738a23cf33,2174-10-03T04:43:00-04:00,74.0,%,50817
4,ac07af90-08e7-595b-8b3e-eb8affbb38ff,fcc61b5a-510e-5102-bff9-96738a23cf33,2174-10-03T10:24:00-04:00,95.0,%,50817
5,80f8be9c-d6d7-5a66-9b94-06b5ca87f8c1,fcc61b5a-510e-5102-bff9-96738a23cf33,2174-10-03T10:29:00-04:00,57.0,%,50817
6,3167b91f-de08-5bbc-94f5-b8e752debe3c,24a28b35-8155-5542-a477-3192ec7aa4ea,2178-10-12T00:57:00-04:00,95.0,%,2708-6
7,023b3d04-38cd-5b43-84b5-4337a165d5d6,24a28b35-8155-5542-a477-3192ec7aa4ea,2178-10-12T04:38:00-04:00,98.0,%,2708-6
8,4dd6ee12-9885-5086-b9c6-2fa822122cd2,7656e003-9a07-5664-a390-419c6fb25398,2179-10-12T10:39:00-04:00,98.0,%,2708-6
9,4b2d7801-69a2-591e-86ae-1f885629c547,7656e003-9a07-5664-a390-419c6fb25398,2179-10-12T11:14:00-04:00,99.0,%,2708-6
10,be27c6da-e2c7-56c1-89b4-ac32b2929dc5,7656e003-9a07-5664-a390-419c6fb25398,2179-10-12T14:35:00-04:00,96.0,%,2708-6
11,81904bae-40ac-58b3-9f9b-6d07d5b0b41e,7656e003-9a07-5664-a390-419c6fb25398,2179-10-12T16:21:00-04:00,97.0,%,2708-6
12,cf652f83-2e4f-521d-b7e8-a6bbae645cdb,7e67177a-36d1-556e-bd1c-90c4dbcd0b12,2180-08-13T14:03:00-04:00,98.0,%,2708-6
13,163f31f5-742a-5db1-bf5a-342ed56d0980,7e67177a-36d1-556e-bd1c-90c4dbcd0b12,2180-08-13T18:03:00-04:00,94.0,%,2708-6
14,42ae1ec6-16d6-51c6-873c-f155b79c4a3b,f2becd3e-fdf9-53f3-8ed5-f3f176f9372f,2184-03-03T18:34:00-05:00,97.0,%,2708-6
15,e755d67e-0522-5043-a3b1-f0d8f035b7a1,f2becd3e-fdf9-53f3-8ed5-f3f176f9372f,2184-03-03T18:36:00-05:00,97.0,%,2708-6
16,9fe0f197-13fb-556c-bde3-eb9a7d6d032a,f2becd3e-fdf9-53f3-8ed5-f3f176f9372f,2184-03-03T20:12:00-05:00,94.0,%,2708-6
17,fc5d4e1e-8a0c-5579-bb10-b311caaf6d0d,f2becd3e-fdf9-53f3-8ed5-f3f176f9372f,2184-03-04T00:46:00-05:00,97.0,%,2708-6
18,25c9e70b-f7d5-579b-a249-620109020dd3,f2becd3e-fdf9-53f3-8ed5-f3f176f9372f,2184-03-04T01:42:00-05:00,97.0,%,2708-6
19,25ed5362-c4c3-597d-a558-1669b8b0c5ab,6a7f89a6-976d-5432-860e-b4052beab786,2184-07-22T03:45:00-04:00,98.0,%,2708-6
20,d30b5398-49e8-5e8f-a8d6-60e683dd7bc4,6a7f89a6-976d-5432-860e-b4052beab786,2184-07-22T03:47:00-04:00,98.0,%,2708-6
21,8e5fc63c-a0c1-5b08-9d28-6ab93ad7c84c,6a7f89a6-976d-5432-860e-b4052beab786,2184-07-22T06:32:00-04:00,90.0,%,2708-6
22,61793bd8-1e25-5ea2-80fd-097479426516,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T07:53:00-04:00,96.0,%,2708-6
23,b6b8579b-d747-57a3-af40-211d4d59d49d,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T07:54:00-04:00,96.0,%,2708-6
24,80f52dbb-9d38-5b4d-95b1-cf30d7b76c73,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T10:08:00-04:00,93.0,%,2708-6
25,e493a94c-39d0-55e9-b438-8d82de34e0ce,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T10:40:00-04:00,93.0,%,2708-6
26,8b14255c-ae53-520c-bbf8-4759e0503198,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T12:00:00-04:00,94.0,%,2708-6
27,53d16b26-90e3-5275-8996-394dc62854a3,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T13:24:00-04:00,94.0,%,2708-6
28,db2f8761-152f-56df-9705-dc9ee8a73704,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T14:25:00-04:00,93.0,%,2708-6
29,0ecc1ca3-cfc7-51cd-a483-c3ab7fbcdb67,03ea8a8c-a728-5574-b691-7189cd9aacbc,2184-07-24T15:42:00-04:00,95.0,%,2708-6
30,b847ae16-5212-5fab-b8c9-e17c2365dc61,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T20:53:00-04:00,NaN,None,2708-6
31,abcd3a9a-52bd-5493-832d-2f85eab5d4fd,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T20:53:00-04:00,NaN,None,2708-6
32,c47cf69a-d425-5bcb-9260-b61d6261500c,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T21:06:00-04:00,88.0,%,2708-6
33,e57daaf5-144b-5101-bf8f-fcf9ac07317c,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-10-29T21:34:00-04:00,61.0,%,50817
34,6960f1ea-89d4-5555-89ba-b1703792cbed,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T21:53:00-04:00,100.0,%,2708-6
35,8085df9b-3004-5a84-b54a-2fee2ad15918,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:00:00-04:00,100.0,%,2708-6
36,df627887-a1ea-5618-8fbd-86ad41a230d9,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:31:00-04:00,97.0,%,2708-6
37,f44cda3b-b82c-5ad9-8aaf-a85348ecf7c9,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:34:00-04:00,98.0,%,2708-6
38,50551660-1b71-5a20-bfba-a294af290c13,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:37:00-04:00,97.0,%,2708-6
39,87f09d62-40da-5195-bb71-e61dc73d0e8c,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:52:00-04:00,100.0,%,2708-6
40,390624b2-2b1f-551c-90b6-1c617e32cbad,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T22:59:00-04:00,100.0,%,2708-6
41,94ca57a0-2346-510a-97fe-c9b051b4473c,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T23:19:00-04:00,100.0,%,2708-6
42,c3d8da2c-a496-5f62-a4c8-60ed3431863d,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-29T23:55:00-04:00,100.0,%,2708-6
43,658894fe-0fd8-515b-83f9-e1c84159014d,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-30T00:03:00-04:00,100.0,%,2708-6
44,ea361212-2e36-570c-8276-57fa72601c37,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-30T00:05:00-04:00,100.0,%,2708-6
45,34db6821-32c4-54f3-98c6-d33510db19e9,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-30T00:46:00-04:00,100.0,%,2708-6
46,52b8a0cd-3853-5662-8ea6-439278d3695d,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-30T01:14:00-04:00,100.0,%,2708-6
47,a499301f-bb45-5479-8019-2e9423f383b7,c0f72cb2-9671-52af-9eea-60664e674679,2185-10-30T01:20:00-04:00,100.0,%,2708-6
48,29f7a2de-9d2f-5dfe-bce3-82623d3207a4,541986b4-eec3-5d01-a217-b934e007e3f6,2185-10-30T07:03:00-04:00,98.0,%,220227
49,a2829cc9-76cc-5a72-a987-07db8b6d178c,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-10-30T07:03:00-04:00,98.0,%,50817
50,24e6ed52-cd66-5b7c-ae56-4038225bd91f,541986b4-eec3-5d01-a217-b934e007e3f6,2185-10-30T07:31:00-04:00,97.0,%,220227
51,c05505b2-1960-544f-8e90-72ba389032ec,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-10-30T07:31:00-04:00,97.0,%,50817
52,347ecf11-c202-5767-92ef-3eea38ca8948,541986b4-eec3-5d01-a217-b934e007e3f6,2185-10-30T08:17:00-04:00,96.0,%,220227
53,9db792b9-379e-5565-bd5f-1adf827e077f,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-10-30T08:17:00-04:00,96.0,%,50817
54,75e6b686-a9da-51db-8d11-2cd88bb1ba27,541986b4-eec3-5d01-a217-b934e007e3f6,2185-10-30T08:44:00-04:00,97.0,%,220227
55,a99b06c2-2460-570a-be9d-11c1175d35f1,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-10-30T08:44:00-04:00,97.0,%,50817
56,a8d8c969-fc7d-5192-a023-b533285b44c8,541986b4-eec3-5d01-a217-b934e007e3f6,2185-11-07T13:26:00-05:00,94.0,%,220227
57,12785835-4222-5aa8-9b6f-35db8ca9e1b3,0348f650-44fa-523f-bbfb-8acc0e8c643c,2185-11-07T13:26:00-05:00,94.0,%,50817
58,b1881dd4-32ea-5572-aad3-6252a07d1aed,34e811da-df60-5902-8dac-ab33e6dc49b5,2186-01-11T15:30:00-05:00,97.0,%,2708-6
59,81f0f938-9710-502b-835a-8c11a9ad1226,34e811da-df60-5902-8dac-ab33e6dc49b5,2186-01-11T15:31:00-05:00,97.0,%,2708-6
60,a7998e60-571c-5109-ac8a-df7034e9f336,34e811da-df60-5902-8dac-ab33e6dc49b5,2186-01-11T16:11:00-05:00,99.0,%,2708-6
61,bbca7c19-c9da-516a-8296-68b33c9e183f,34e811da-df60-5902-8dac-ab33e6dc49b5,2186-01-11T17:06:00-05:00,98.0,%,2708-6
62,1eb63435-8a65-5e95-9656-e8cf3005b7ba,34e811da-df60-5902-8dac-ab33e6dc49b5,2186-01-11T18:02:00-05:00,99.0,%,2708-6
63,fdff8846-63f8-5141-bd23-6d3fdf33d841,4c1bceff-e038-5353-aeef-57b332d1074d,2186-01-14T01:22:00-05:00,92.0,%,220227
64,f100f61d-6285-50f3-848e-9bd2a418db58,b8e0de0e-b2ee-5459-b476-22e2a5369933,2186-01-14T01:22:00-05:00,92.0,%,50817
65,22784ed3-4a4f-5ac9-b79c-fa7892a3406e,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-25T23:12:00-05:00,98.0,%,2708-6
66,092122c9-255f-5922-948d-a77f8d5170b2,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-25T23:13:00-05:00,98.0,%,2708-6
67,b0198544-8435-5abc-b3f4-ee5c4578e52b,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-25T23:27:00-05:00,94.0,%,2708-6
68,5a5ff4a4-1515-56b3-8d0a-f57b608a8567,5e36505e-aac3-5d3b-a7b2-99be12ec1db9,2186-01-25T23:48:00-05:00,40.0,%,50817
69,0f8acab5-4544-5b3b-a0cd-21985a131dd7,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-26T00:10:00-05:00,100.0,%,2708-6
70,39c53e65-6064-56a3-9a5a-cd0ec74d5bb8,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-26T00:40:00-05:00,99.0,%,2708-6
71,910dcb4b-bb48-50bd-967c-99d2c1c861dd,995afa7d-6164-52ed-8125-0d2c9ea9ab68,2186-01-26T02:54:00-05:00,100.0,%,2708-6
72,b7908f1a-6069-5cb0-91f0-5895626e0604,5e36505e-aac3-5d3b-a7b2-99be12ec1db9,2186-01-28T14:21:00-05:00,54.0,%,50817
73,2f3fac9e-d611-5bca-9d27-81ea5b1f8697,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T02:46:00-05:00,100.0,%,2708-6
74,fbd5f5fc-f815-55d1-83bd-8e35e2ecfeff,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T02:47:00-05:00,100.0,%,2708-6
75,a97f4dc6-5430-587f-8e16-b8cb160b3725,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T02:50:00-05:00,100.0,%,2708-6
76,78d34c94-cb83-5031-93c5-b9d9ffa83700,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T03:05:00-05:00,100.0,%,2708-6
77,3c6c7914-878c-5d9c-88d0-627ac347e9ef,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T03:48:00-05:00,91.0,%,2708-6
78,596dcb7b-5b75-5f6f-898a-54cd0b99e830,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T04:05:00-05:00,95.0,%,2708-6
79,9139df81-0b36-56e9-b1fe-54f3e75a92b2,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T04:34:00-05:00,99.0,%,2708-6
80,2fa44857-59d9-5629-91db-f7c996f07d0e,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T06:19:00-05:00,95.0,%,2708-6
81,78ed24c8-d618-52e6-9d39-60bb1b01ba73,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T07:42:00-05:00,93.0,%,2708-6
82,daef9d22-56f9-5703-ac98-0b4140367546,None,2186-02-10T07:49:00-05:00,64.0,%,50817
83,fd7c4962-ce87-5bbe-b32d-3c08d0addaeb,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T10:43:00-05:00,100.0,%,2708-6
84,b1168428-3510-51b8-89dd-0b096bb6eb79,21571e8d-fceb-5701-abe5-502a1c9f6efa,2186-02-10T13:18:00-05:00,100.0,%,2708-6
85,7b69e7d9-8aab-5358-a78e-10f94dd74826,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-23T23:17:00-05:00,NaN,None,2708-6
86,44be4548-8341-5285-aaed-8ddc4d53e75a,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-23T23:17:00-05:00,NaN,None,2708-6
87,7daa9997-b3ee-52f2-afcd-0618929668a9,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-23T23:30:00-05:00,98.0,%,2708-6
88,72fa7f76-0c6e-5389-b2f0-02f9fc635ee1,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-23T23:32:00-05:00,98.0,%,2708-6
89,e2ba40dd-d3d6-5bc4-89ca-e814aeb2d7b4,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-24T00:02:00-05:00,98.0,%,2708-6
90,d7ad88e0-5c82-5911-b848-083386def2f9,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-24T00:47:00-05:00,98.0,%,2708-6
91,58f2808c-4f43-5812-8922-b504c21ad1dc,54809205-fa70-577a-a623-0dfeddf4ae53,2186-02-24T01:03:00-05:00,100.0,%,2708-6
92,e49eb497-b36d-5b89-af68-78e95b008b8b,8006cf9c-1b89-5a79-9be3-d306e346ff87,2186-03-03T16:09:00-05:00,NaN,None,2708-6
93,e14cc5ae-28a0-543a-b77b-6f8fe1ea912f,8006cf9c-1b89-5a79-9be3-d306e346ff87,2186-03-03T16:09:00-05:00,NaN,None,2708-6
94,5289395c-1350-5dcf-8e8f-a3d7502f85f4,8006cf9c-1b89-5a79-9be3-d306e346ff87,2186-03-03T16:45:00-05:00,NaN,None,2708-6
95,77e2a32c-a275-5af1-adc1-0c429c4d543f,8006cf9c-1b89-5a79-9be3-d306e346ff87,2186-03-03T16:51:00-05:00,100.0,%,2708-6
96,41115a53-299f-5ba2-b619-b28c0529f1ab,8006cf9c-1b89-5a79-9be3-d306e346ff87,2186-03-03T17:37:00-05:00,98.0,%,2708-6

In [100]:
oxygen_obs = pd.read_sql_query(
    sql="""
    SELECT id, encounter_id, obs_date, val_quantity, val_quantity_unit, code_code
    FROM Observation_mimic_flat AS O
    WHERE O.code_code IN ('50817', '220227')
    AND O.patient_id = 'ef70d460-d857-5ce4-ad5d-e09d79a1a006'
    ORDER BY O.obs_date;
    """,
    con=spark_query_engine,
)
oxygen_obs.head(40)

,id,encounter_id,obs_date,val_quantity,val_quantity_unit,code_code
0,691cabfe-f489-54c9-b30f-f479c535ecb6,None,2145-08-26T18:49:00-04:00,94.0,%,50817

In [10]:
pd.read_sql_query(
    sql="""
    SELECT code_code AS code, AVG(YEAR(obs_date)) AS avg_year, COUNT(*) AS num_obs
    FROM observation_mimic_flat AS O
    WHERE code_code IN ('50817', '220227')
    GROUP BY code_code
    ORDER BY code;
    """,
    con=spark_query_engine,
)

     code     avg_year  num_obs
0  220227  2153.366913    87394
1   50817  2153.599058   176225

In [12]:
# Original query with 220227
pd.read_sql_query(
    sql="""
    WITH spo2_obs AS (
    SELECT 
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277' -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT 
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code = '220227' -- Arterial O2 Saturation is used as an ABG indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT 
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    JOIN abg_obs a ON s.encounter_id = a.encounter_id
), diff_obs AS (
    SELECT 
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100 as perc_diff -- percentage difference calculation
    FROM combined_obs
)
SELECT 
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2pct difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2pct difference
FROM diff_obs;
    """,
    con=spark_query_engine,
)

   within_2_percent  greater_than_2_percent
0             12064                    5319

In [13]:
# Same query with 50817 instead of 220227
pd.read_sql_query(
    sql="""
    WITH spo2_obs AS (
    SELECT 
        encounter_id,
        AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE code_code = '220277' -- O2 saturation pulseoxymetry is used as a SpO2 indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), abg_obs AS (
    SELECT 
        encounter_id,
        AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE code_code = '50817' -- Arterial O2 Saturation is used as an ABG indicator
    AND val_quantity IS NOT NULL
    GROUP BY encounter_id
), combined_obs AS (
    SELECT 
        s.encounter_id,
        s.avg_spo2,
        a.avg_abg
    FROM spo2_obs s
    JOIN abg_obs a ON s.encounter_id = a.encounter_id
), diff_obs AS (
    SELECT 
        encounter_id,
        ABS(avg_spo2 - avg_abg) AS abs_diff,
        (ABS(avg_spo2 - avg_abg) / ((avg_spo2 + avg_abg)/2))*100 as perc_diff -- percentage difference calculation
    FROM combined_obs
)
SELECT 
    SUM(CASE WHEN perc_diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,  -- Count encounters within 2pct difference
    SUM(CASE WHEN perc_diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent  -- Count encounters with greater than 2pct difference
FROM diff_obs;
    """,
    con=spark_query_engine,
)

  within_2_percent greater_than_2_percent
0             None                   None

In [ ]:
oxygen_obs = pd.read_sql_query(
    sql="""
    SELECT id, encounter_id, obs_date, val_quantity, val_quantity_unit, code_code
    FROM Observation_mimic_flat AS O
    WHERE O.code_code IN ('50817', '220227', '220277')
    AND O.patient_id = 'XXX'
    ORDER BY O.obs_date;
    """,
    con=spark_query_engine,
)
oxygen_obs.head(30)

In [19]:
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id -- Join SpO2 and ABG observations on patient ID
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations
AND abg.code_code = '220227'  -- Filter for ABG observations (Arterial O2 Saturation)
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Calculate the absolute difference of SpO2 and ABG values and filter for differences > 2
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) >= CAST(substr(abg.obs_date, 1, 19) AS timestamp)  -- Ensure spo2 observation time is after ABG observation time
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) <=  CAST(substr(abg.obs_date, 1, 19) AS timestamp) + INTERVAL '1' HOUR;  -- Ensure that the SpO2 and ABG measurements are within 1 hour of each other
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                        8762

In [52]:
# Note time constraints is incorrect.
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id -- Join SpO2 and ABG observations on patient ID
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations
AND abg.code_code = '50817'  -- Filter for ABG observations (Arterial O2 Saturation)
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Calculate the absolute difference of SpO2 and ABG values and filter for differences > 2
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) >= CAST(substr(abg.obs_date, 1, 19) AS timestamp)  -- Ensure spo2 observation time is after ABG observation time
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) <=  CAST(substr(abg.obs_date, 1, 19) AS timestamp) + INTERVAL '1' HOUR;  -- Ensure that the SpO2 and ABG measurements are within 1 hour of each other
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                       14136

In [21]:
# Side note: one of the suggested queries has an encounter contraint in it (why?):
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id -- Join SpO2 and ABG observations on patient ID
AND spo2.encounter_id = abg.encounter_id -- Ensuring both reading taken during the same encounter
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations
AND abg.code_code = '220227'  -- Filter for ABG observations (Arterial O2 Saturation)
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Calculate the absolute difference of SpO2 and ABG values and filter for differences > 2
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) >= CAST(substr(abg.obs_date, 1, 19) AS timestamp)  -- Ensure spo2 observation time is after ABG observation time
AND CAST(substr(spo2.obs_date, 1, 19) AS timestamp) <=  CAST(substr(abg.obs_date, 1, 19) AS timestamp) + INTERVAL '1' HOUR;  -- Ensure that the SpO2 and ABG measurements are within 1 hour of each other
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                        8756

In [53]:
# Correct query with 2708-6
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '2708-6'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                        3406

In [54]:
# Correct query with 220227
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '220227'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                       10225

In [55]:
# Correct query with 50817
pd.read_sql_query(
    sql="""
SELECT COUNT(DISTINCT spo2.patient_id)
FROM observation_mimic_flat spo2
JOIN observation_mimic_flat abg ON spo2.patient_id = abg.patient_id  -- Join SpO2 and ABG observations on patient_id
WHERE spo2.code_code = '220277'  -- Filter for SpO2 observations using pulse oximetry
AND abg.code_code = '50817'  -- Filter for ABG observations
AND ABS(spo2.val_quantity - abg.val_quantity) > 2  -- Filter where the absolute difference is greater than 2
AND CAST(spo2.obs_date AS TIMESTAMP) BETWEEN CAST(abg.obs_date AS TIMESTAMP) - INTERVAL '1' HOUR AND CAST(abg.obs_date AS TIMESTAMP) + INTERVAL '1' HOUR;  -- Filter for observations within 1 hour
    """,
    con=spark_query_engine,
)

   count(DISTINCT patient_id)
0                       15114

In [32]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For encounters in which the blood oxygen level of the patient is measured through both
    pulse oximeter (SpO2) and Arterial Blood Gas (ABG) test, find the average of for each
    method and count the number of those that the difference between those two average values
    is at most 2% vs those that it is greater than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "the blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level')]


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "each
    method" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "most 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "greater" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

WITH
  PulseOx AS (
    SELECT
      encounter_id,
      AVG(val_quantity) AS avg_spo2
    FROM observation_mimic_flat
    WHERE
      code_code = '220277' -- Selecting O2 saturation pulseoxymetry
      AND val_quantity IS NOT NULL
    GROUP BY
      encounter_id
  ),
  ABG AS (
    SELECT
      encounter_id,
      AVG(val_quantity) AS avg_abg
    FROM observation_mimic_flat
    WHERE
      code_code = '220227' -- Selecting Arterial O2 Saturation
      AND val_quantity IS NOT NULL
    GROUP BY
      encounter_id
  ),
  Combined AS (
    SELECT
      p.encounter_id,
      p.avg_spo2,
      a.avg_abg
    FROM PulseOx AS p
    INNER JOIN ABG AS a
      ON p.encounter_id = a.encounter_id
  ),
  Diff AS (
    SELECT
      encounter_id,
      ABS(avg_spo2 - avg_abg) AS diff
    FROM Combined
  )
SELECT
  SUM(CASE WHEN diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,
  SUM(CASE WHEN diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent
FROM Diff;

Iteration 0 SQL execution output:
START_OUTPUT
(12333, 5050)
END_OUTPUT
Iteration 1 SQL:

WITH PulseOx AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Selecting O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL
  GROUP BY
    encounter_id
), ABG AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Selecting Oxygen saturation in Arterial blood
    AND val_quantity IS NOT NULL
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOx AS p
  INNER JOIN ABG AS a
    ON p.encounter_id = a.encounter_id
), Diff AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff
  FROM Combined
)
SELECT
  SUM(CASE WHEN diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,
  SUM(CASE WHEN diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent
FROM Diff;

Iteration 1 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT
Iteration 2 SQL:

WITH PulseOx AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Selecting O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL
  GROUP BY
    encounter_id
), ABG AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Selecting Oxygen saturation in Arterial blood
    AND val_quantity IS NOT NULL
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOx AS p
  INNER JOIN ABG AS a
    ON p.encounter_id = a.encounter_id -- Joining on encounter_id to combine pulse ox and ABG data
  WHERE
    p.avg_spo2 IS NOT NULL
    AND a.avg_abg IS NOT NULL
), Diff AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff
  FROM Combined
)
SELECT
  SUM(CASE WHEN diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent,
  SUM(CASE WHEN diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent
FROM Diff;

Iteration 2 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT
Iteration 3 SQL:

WITH PulseOx AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Selecting O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Only consider valid quantity values
  GROUP BY
    encounter_id
), ABG AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Selecting Oxygen saturation in Arterial blood
    AND val_quantity IS NOT NULL -- Only consider valid quantity values
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOx AS p
  INNER JOIN ABG AS a
    ON p.encounter_id = a.encounter_id -- Joining on encounter_id to combine pulse ox and ABG data
), Diff AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff
  FROM Combined
  WHERE
    avg_spo2 IS NOT NULL -- Filtering null avg_spo2 values
    AND avg_abg IS NOT NULL -- Filtering null avg_abg values
)
SELECT
  SUM(CASE WHEN diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent, -- Counting encounters within 2% difference
  SUM(CASE WHEN diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent -- Counting encounters with greater than 2% difference
FROM Diff;

Iteration 3 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT
Iteration 4 SQL:

WITH PulseOx AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_spo2
  FROM observation_mimic_flat
  WHERE
    code_code = '220277' -- Selecting O2 saturation pulseoxymetry
    AND val_quantity IS NOT NULL -- Only consider valid quantity values
  GROUP BY
    encounter_id
), ABG AS (
  SELECT
    encounter_id,
    AVG(val_quantity) AS avg_abg
  FROM observation_mimic_flat
  WHERE
    code_code = '2708-6' -- Selecting Oxygen saturation in Arterial blood
    AND val_quantity IS NOT NULL -- Only consider valid quantity values
  GROUP BY
    encounter_id
), Combined AS (
  SELECT
    p.encounter_id,
    p.avg_spo2,
    a.avg_abg
  FROM PulseOx AS p
  INNER JOIN ABG AS a
    ON p.encounter_id = a.encounter_id -- Joining on encounter_id to combine pulse ox and ABG data
), Diff AS (
  SELECT
    encounter_id,
    ABS(avg_spo2 - avg_abg) AS diff
  FROM Combined
  WHERE
    avg_spo2 IS NOT NULL -- Filtering null avg_spo2 values
    AND avg_abg IS NOT NULL -- Filtering null avg_abg values
)
SELECT
  SUM(CASE WHEN diff <= 2 THEN 1 ELSE 0 END) AS within_2_percent, -- Counting encounters within 2% difference
  SUM(CASE WHEN diff > 2 THEN 1 ELSE 0 END) AS greater_than_2_percent -- Counting encounters with greater than 2% difference
FROM Diff;

Iteration 4 SQL execution output:
START_OUTPUT
(None, None)
END_OUTPUT

In [33]:
pd.read_sql_query(
    sql="""
SELECT COUNT(*)
FROM observation_mimic_flat o
WHERE code_code = '2708-6'
    """,
    con=spark_query_engine,
)

   count(1)
0   1989697

In [34]:
pd.read_sql_query(
    sql="""
SELECT COUNT(*)
FROM observation_mimic_flat o
WHERE code_code = '220227'
    """,
    con=spark_query_engine,
)

   count(1)
0     87394

In [36]:
pd.read_sql_query(
    sql="""
SELECT COUNT(*)
FROM observation_mimic o
    """,
    con=spark_query_engine,
)

    count(1)
0  461098908

# Eval set
Source repo: [github.com/glee4810/ehrsql-2024](https://github.com/glee4810/ehrsql-2024)

In [7]:
from querygen import sqlgen, column_sampler, db_description, util, terminology_indexer
import querygen
querygen.PRINT_CLOSE_CONCEPTS = True
querygen.PRINT_FINAL_PROMPT = False
#querygen.PRINT_FINAL_PROMPT = True
querygen.PRINT_MODEL_RESPONSE = False

# The reloads are to be able to quickly import latest external changes.
from importlib import reload
column_sampler = reload(column_sampler)
db_description = reload(db_description)
util = reload(util)
terminology_indexer = reload(terminology_indexer)
sqlgen = reload(sqlgen)

query_instance_10_07_20 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10,
    close_threshold=0.7,
    max_close=20
)

term_indexer = terminology_indexer.TerminologyIndexer(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec')

## Population level queries
The queries are from the [EHRSQL 2024 dataset](https://github.com/glee4810/ehrsql-2024/tree/master/data/mimic_iv/test)
where a queries are for the whole population.

### Most frequent lab tests
**Analysis**: The general structure of the query and the answer are partially correct,
however there are some issues/observations:
- One issue is that in the FHIR version of MIMIC,
various tables like `labevents`, `microbiologyevents`, `chartevents`,
`datetimeevents`, `vitalsign`, etc. are all represented as `Observation`.
This makes it harder to write the correct SQL compared to original tables.
The only column useful to differentiate this is `code_sys` in flat observation
tables. However, this column values were not properly sampled when on 10K rows
were checked. Here is what we got in the generated prompt:
```
Here are 10 sample values from column code_sys of table observation_mimic_full_flat_custom
sorted by their frequencies over 10000 rows: 

0  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-chartevents-d-items  10000
```
By enabling full column sampling (see subsection below), we get these values:
```
Here are 10 sample values from column code_sys of table observation_mimic_flat
sorted by their frequencies over ALL rows: 

0      http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-chartevents-d-items  313645032
1               http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems  118171367
2                                                          http://loinc.org   14352966
3                  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items   11347966
4        http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test    2184371
5  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-antibiotic    1107278
6    http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-organism     289928
```
*Side note*: The `labevents` are also included in the `identifier.system` of
original Observation resources but that column is not included in our flat views.
the `observation_mimic_flat`.

- Another issue is that multiple codes have the same `display` value, e.g., there are
three codes with `display` being `Safety Measures` (all from `chartevents`); so the query
should have included `code` and `system` too.

See: https://physionet.org/content/mimic-iv-fhir/2.1/

In [14]:
# Question ID: ce4170ef70617d0f660eb8c8
# Expected answer: [['chloride'], ['creatinine'], ['hematocrit'], ['sodium']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Can you show me the top four most frequent lab tests given?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "four" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50891', 'C4')]


            For "frequent lab tests" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display
FROM observation_mimic_flat
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- show the top four most frequent lab tests given

Iteration 0 SQL execution output:
START_OUTPUT
('Safety Measures',)
('Heart Rate',)
('Respiratory Rate',)
('O2 saturation pulseoxymetry',)
END_OUTPUT
Iteration 1 SQL:

SELECT code_display
FROM observation_mimic_flat
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- show the top four most frequent lab tests given

Iteration 1 SQL execution output:
START_OUTPUT
('Safety Measures',)
('Heart Rate',)
('Respiratory Rate',)
('O2 saturation pulseoxymetry',)
END_OUTPUT
Iteration 2 SQL:

SELECT code_display
FROM observation_mimic_flat
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- Show the top four most frequent lab tests given based on code_display

Iteration 2 SQL execution output:
START_OUTPUT
('Safety Measures',)
('Heart Rate',)
('Respiratory Rate',)
('O2 saturation pulseoxymetry',)
END_OUTPUT
Iteration 3 SQL:

SELECT code_display
FROM observation_mimic_flat
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- Show the top four most frequent lab tests based on the count of each code_display

Iteration 3 SQL execution output:
START_OUTPUT
('Safety Measures',)
('Heart Rate',)
('Respiratory Rate',)
('O2 saturation pulseoxymetry',)
END_OUTPUT
Iteration 4 SQL:

SELECT code_display
FROM observation_mimic_flat
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- Show the top four most frequent lab tests given

Iteration 4 SQL execution output:
START_OUTPUT
('Safety Measures',)
('Heart Rate',)
('Respiratory Rate',)
('O2 saturation pulseoxymetry',)
END_OUTPUT

In [21]:
pd.read_sql_query(
    sql="""
    SELECT code_display, COUNT(*) AS num_obs
    FROM observation_mimic_flat
    GROUP BY code_display
    ORDER BY count(*) DESC
    LIMIT 10; -- show the top four most frequent lab tests given
    """,
    con=spark_query_engine,
)

                            code_display  num_obs
0                        Safety Measures  9159444
1                             Heart Rate  6460839
2                       Respiratory Rate  6393762
3            O2 saturation pulseoxymetry  6324341
4                           Heart Rhythm  5907987
5                          Ectopy Type 1  5272404
6   Non Invasive Blood Pressure systolic  4067219
7  Non Invasive Blood Pressure diastolic  4066337
8       Non Invasive Blood Pressure mean  4064537
9                             Hemoglobin  3729307

In [22]:
pd.read_sql_query(
    sql="""
    SELECT code_code, code_sys, code_display, COUNT(*) AS num_obs
    FROM observation_mimic_flat
    GROUP BY code_code, code_sys, code_display
    ORDER BY COUNT(*) DESC
    LIMIT 20;
    """,
    con=spark_query_engine,
)

,code_code,code_sys,code_display,num_obs
0,227969,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Safety Measures,8770670
1,220045,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Heart Rate,6460839
2,220210,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Respiratory Rate,6393762
3,220277,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,O2 saturation pulseoxymetry,6324341
4,220048,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Heart Rhythm,5907987
5,224650,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Ectopy Type 1,5272404
6,220179,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Non Invasive Blood Pressure systolic,4067219
7,220180,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Non Invasive Blood Pressure diastolic,4066337
8,220181,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Non Invasive Blood Pressure mean,4064537
9,227958,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Less Restrictive Measures,3333656
10,51221,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Hematocrit,3325700
11,50912,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Creatinine,3282278
12,51265,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Platelet Count,3216656
13,51006,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Urea Nitrogen,3189474
14,51222,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Hemoglobin,3188835
15,51301,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,White Blood Cells,3171798
16,51249,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,MCHC,3167190
17,51279,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,Red Blood Cells,3167075
18,51250,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,MCV,3167074
19,51248,http://mimic.mit.edu/fhir/mimic/CodeSystem/mim...,MCH,3167073

#### With full column sampling
With full column sampling we get the correct `code_sys` constraint and the results:
```
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
```
I think the answer provided in the EHRSQL dataset is incorrect. Here is the SQL the
model generates:
```sql
SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- To filter for lab tests
GROUP BY code_display
ORDER BY COUNT(*) DESC
LIMIT 4; -- To get the top four most frequent lab tests
```

*Side note*: In the first run below, ~2 minutes is for full column sampling. This is
cached and the impact can be seen in the next repeat cell which takes only ~27 seconds.

In [30]:
# With full column sampling
#
# Question ID: ce4170ef70617d0f660eb8c8
# Expected answer: [['chloride'], ['creatinine'], ['hematocrit'], ['sodium']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Can you show me the top four most frequent lab tests given?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "four" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50891', 'C4')]


            For "frequent lab tests" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- To filter for lab tests
GROUP BY code_display
ORDER BY COUNT(*) DESC
LIMIT 4; -- To get the top four most frequent lab tests

Iteration 0 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 1 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- To filter for lab tests based on code system
GROUP BY code_display
ORDER BY COUNT(*) DESC -- Order by the count of each lab test in descending order
LIMIT 4; -- Limit the result to the top 4 lab tests

Iteration 1 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 2 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems'  -- Filter for lab items based on the code system
GROUP BY code_display  -- Group the results by the display name of the lab test
ORDER BY COUNT(*) DESC  -- Order the results by the count of each lab test in descending order
LIMIT 4;  -- Limit the result set to the top 4 lab tests

Iteration 2 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 3 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- Filter for lab tests based on the code system.
GROUP BY code_display -- Group the results by the display name of the lab test.
ORDER BY COUNT(*) DESC -- Order the results by the count of each lab test in descending order.
LIMIT 4; -- Limit the result set to the top 4 lab tests.

Iteration 3 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 4 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- Filter for lab tests based on the code system
GROUP BY code_display -- Group the results by the display name of the lab test
ORDER BY COUNT(*) DESC -- Order the results by the count of each lab test in descending order
LIMIT 4; -- Limit the result set to the top 4 lab tests

Iteration 4 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT

In [31]:
# With full column sampling; repeating to show the performance effect of full
# sampling as it is cached in this second run.
#
# Question ID: ce4170ef70617d0f660eb8c8
# Expected answer: [['chloride'], ['creatinine'], ['hematocrit'], ['sodium']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Can you show me the top four most frequent lab tests given?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "four" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50891', 'C4')]


            For "frequent lab tests" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- To filter for lab tests
GROUP BY code_display
ORDER BY count(*) DESC
LIMIT 4; -- To get the top four most frequent lab tests

Iteration 0 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 1 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems' -- Filter for lab items using code_sys
GROUP BY code_display
ORDER BY count(*) DESC -- Order by frequency in descending order
LIMIT 4; -- Limit to the top four most frequent lab tests

Iteration 1 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 2 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems'  -- Filter for lab items by code system
GROUP BY code_display  -- Group by the display name to count occurrences
ORDER BY COUNT(*) DESC  -- Order in descending order based on the count of each lab test
LIMIT 4;  -- Limit the result to the top 4

Iteration 2 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 3 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems'  -- Filter for lab items using the correct code system
GROUP BY code_display  -- Group by lab test display name
ORDER BY COUNT(*) DESC  -- Order by frequency in descending order
LIMIT 4;  -- Limit to the top 4 most frequent lab tests

Iteration 3 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT
Iteration 4 SQL:

SELECT code_display
FROM observation_mimic_flat
WHERE code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-labitems'  -- Filter for lab items
GROUP BY code_display  -- Group the results by the display name of the lab test
ORDER BY COUNT(*) DESC  -- Order the results in descending order based on the count of each group
LIMIT 4;  -- Limit the output to the top 4 lab tests

Iteration 4 SQL execution output:
START_OUTPUT
('Glucose',)
('Hematocrit',)
('Hemoglobin',)
('Creatinine',)
END_OUTPUT

### Most frequent microbiology tests after cardiac arrest
**Analysis**: Similar to the above example; adding full column sampling
fixes the queries/result. Another related point is that the performance
of the queries are much better probably because of the following constraint:
```
code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test'
```

It is worth noting that the "expected answer" is probably wrong too as it only
has the one element *'blood culture, routine'* (instead of four). Our queries return:
```
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT
```

Finally note that for the codes that are picked for cardiac arrest, `I462` is the
target one as its description exactly matches that of the question, i.e.,
_"Cardiac arrest due to underlying cardiac condition"_ (which makes the question
a little bit unrealistic BTW). But the LLM sometime picks other related codes too,
e.g., 
- `I469`: _"Cardiac arrest, cause unspecified"_
- `I468`: _"Cardiac arrest due to other underlying condition"_

In [26]:
# Question ID: e56ea93964e30564ef0d8599
# Expected answer: [['blood culture, routine']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    What is the four most frequently given microbiology tests since 2100 for
    patients who were previously diagnosed with cardiac arrest due to
    underlying cardiac condition in the same hospital encounter?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "four" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50891', 'C4')]


            For "microbiology tests" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "2100" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "cardiac arrest" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '4275', 'Cardiac arrest'), ('procedure_mimic_flat', 'code_code', '225466', 'Cardiac Arrest'), ('condition_mimic_flat', 'code_code', 'I462', 'Cardiac arrest due to underlying cardiac condition'), ('condition_mimic_flat', 'code_code', 'R092', 'Respiratory arrest'), ('condition_mimic_flat', 'code_code', '7991', 'Respiratory arrest'), ('condition_mimic_flat', 'code_code', '78551', 'Cardiogenic shock'), ('condition_mimic_flat', 'code_code', 'R570', 'Cardiogenic shock'), ('condition_mimic_flat', 'code_code', 'I469', 'Cardiac arrest, cause unspecified'), ('procedure_mimic_flat', 'code_code', '225475', 'Respiratory Arrest'), ('condition_mimic_flat', 'code_code', 'I468', 'Cardiac arrest due to other underlying condition'), ('condition_mimic_flat', 'code_code', 'V1253', 'Personal history of sudden cardiac arrest'), ('condition_mimic_flat', 'code_code', 'Z8674', 'Personal history of sudden cardiac arrest'), ('condition_mimic_flat', 'code_code', 'I97710', 'Intraoperative cardiac arrest during cardiac surgery'), ('condition_mimic_flat', 'code_code', 'I97120', 'Postprocedural cardiac arrest following cardiac surgery'), ('procedure_mimic_flat', 'code_code', '225464', 'Cardioversion/Defibrillation'), ('condition_mimic_flat', 'code_code', 'I97711', 'Intraoperative cardiac arrest during other surgery'), ('procedure_mimic_flat', 'code_code', '3963', 'Cardioplegia'), ('condition_mimic_flat', 'code_code', 'I97121', 'Postprocedural cardiac arrest following other surgery'), ('condition_mimic_flat', 'code_code', 'I4901', 'Ventricular fibrillation'), ('condition_mimic_flat', 'code_code', '42741', 'Ventricular fibrillation')]


            For "cardiac condition" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('encounter_mimic_flat', 'type_code', '93457', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92937', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93508', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93539', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93460', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92943', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93567', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93456', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93526', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92928', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93510', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92978', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93571', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93451', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93459', 'Cardiovascular'), ('observation_mimic_flat', 'code_code', '228699', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92920', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93580', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93545', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93543', 'Cardiovascular')]


Iteration 0 SQL:

SELECT
  o.code_display
FROM observation_mimic_flat AS o
JOIN encounter_mimic_flat AS e
  ON o.encounter_id = e.id -- Joining observation and encounter tables on encounter_id
JOIN condition_mimic_flat AS c
  ON e.patient_id = c.patient_id AND e.id = c.encounter_id -- Joining encounter and condition tables on patient_id and encounter_id
WHERE
  c.code_code = 'I462' -- Filtering for patients diagnosed with cardiac arrest due to underlying cardiac condition
  AND CAST(SUBSTRING(e.period_start, 1, 4) AS INTEGER) >= 2100 -- Filtering for encounters occurring after the year 2100 based on the encounter start date
GROUP BY
  o.code_display
ORDER BY
  COUNT(o.id) DESC -- Ordering the results by the frequency of microbiology tests in descending order
LIMIT 4; -- Limiting the results to the top 4 most frequently given microbiology tests

Iteration 0 SQL execution output:
START_OUTPUT
('Glucose',)
('Potassium',)
('Sodium',)
('Chloride',)
END_OUTPUT
Iteration 1 SQL:

SELECT
  o.code_display
FROM observation_mimic_flat AS o
JOIN encounter_mimic_flat AS e
  ON o.encounter_id = e.id -- Joining observation and encounter tables on encounter_id
JOIN condition_mimic_flat AS c
  ON e.patient_id = c.patient_id AND e.id = c.encounter_id -- Joining encounter and condition tables on patient_id and encounter_id
WHERE
  c.code_code = 'I462' -- Filtering for patients diagnosed with cardiac arrest due to underlying cardiac condition
  AND CAST(SUBSTRING(e.period_start, 1, 4) AS INTEGER) >= 2100 -- Filtering for encounters occurring after the year 2100 based on the encounter start date
GROUP BY
  o.code_display
ORDER BY
  COUNT(o.id) DESC -- Ordering the results by the frequency of observation tests in descending order
LIMIT 4; -- Limiting the results to the top 4 most frequently given tests

Iteration 1 SQL execution output:
START_OUTPUT
('Glucose',)
('Potassium',)
('Sodium',)
('Chloride',)
END_OUTPUT
Iteration 2 SQL:

SELECT o.code_display
FROM observation_mimic_flat AS o
JOIN encounter_mimic_flat AS e ON o.encounter_id = e.id  -- Joining observation and encounter tables on encounter_id
JOIN condition_mimic_flat AS c ON e.patient_id = c.patient_id AND e.id = c.encounter_id  -- Joining encounter and condition tables on patient_id and encounter_id to link conditions to encounters
WHERE c.code_code = 'I462'  -- Filtering for patients diagnosed with cardiac arrest due to underlying cardiac condition
AND e.period_start LIKE '21%'  -- Filtering for encounters occurring after the year 2100 based on the encounter start date.  Using LIKE for simplicity since all dates are strings
GROUP BY o.code_display  -- Grouping by observation code_display to count the occurrences of each test
ORDER BY COUNT(o.id) DESC  -- Ordering the results by the frequency of observation tests in descending order
LIMIT 4;  -- Limiting the results to the top 4 most frequently given tests

Iteration 2 SQL execution output:
START_OUTPUT
('Glucose',)
('Potassium',)
('Sodium',)
('Hemoglobin',)
END_OUTPUT
Iteration 3 SQL:

SELECT o.code_display
FROM observation_mimic_flat AS o
JOIN encounter_mimic_flat AS e ON o.encounter_id = e.id  -- Joining observation and encounter tables on encounter_id
JOIN condition_mimic_flat AS c ON e.patient_id = c.patient_id AND e.id = c.encounter_id  -- Joining encounter and condition tables on patient_id and encounter_id to link conditions to encounters
WHERE c.code_code = 'I462'  -- Filtering for patients diagnosed with cardiac arrest due to underlying cardiac condition
AND substr(e.period_start, 1, 4) >= '2100'  -- Filtering for encounters occurring after the year 2100 based on the encounter start date.
GROUP BY o.code_display  -- Grouping by observation code_display to count the occurrences of each test
ORDER BY COUNT(o.id) DESC  -- Ordering the results by the frequency of observation tests in descending order
LIMIT 4;  -- Limiting the results to the top 4 most frequently given tests

Iteration 3 SQL execution output:
START_OUTPUT
('Glucose',)
('Potassium',)
('Sodium',)
('Chloride',)
END_OUTPUT
Iteration 4 SQL:

SELECT o.code_display
FROM observation_mimic_flat AS o
JOIN encounter_mimic_flat AS e ON o.encounter_id = e.id  -- Join observation and encounter tables on encounter_id
JOIN condition_mimic_flat AS c ON e.patient_id = c.patient_id AND e.id = c.encounter_id  -- Join encounter and condition tables on patient_id and encounter_id
WHERE c.code_code = 'I462'  -- Filter for patients diagnosed with cardiac arrest due to underlying cardiac condition
AND substr(e.period_start, 1, 4) >= '2100'  -- Filter for encounters occurring after the year 2100
GROUP BY o.code_display  -- Group by observation code display
ORDER BY COUNT(o.id) DESC  -- Order by count of observation id descending
LIMIT 4;  -- Limit to the top 4

Iteration 4 SQL execution output:
START_OUTPUT
('Glucose',)
('Potassium',)
('Sodium',)
('Chloride',)
END_OUTPUT

In [32]:
# With full column sampling.
#
# Question ID: e56ea93964e30564ef0d8599
# Expected answer: [['blood culture, routine']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    What is the four most frequently given microbiology tests since 2100 for
    patients who were previously diagnosed with cardiac arrest due to
    underlying cardiac condition in the same hospital encounter?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "four" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50891', 'C4')]


            For "microbiology tests" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "2100" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "cardiac arrest" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '4275', 'Cardiac arrest'), ('procedure_mimic_flat', 'code_code', '225466', 'Cardiac Arrest'), ('condition_mimic_flat', 'code_code', 'I462', 'Cardiac arrest due to underlying cardiac condition'), ('condition_mimic_flat', 'code_code', 'R092', 'Respiratory arrest'), ('condition_mimic_flat', 'code_code', '7991', 'Respiratory arrest'), ('condition_mimic_flat', 'code_code', '78551', 'Cardiogenic shock'), ('condition_mimic_flat', 'code_code', 'R570', 'Cardiogenic shock'), ('condition_mimic_flat', 'code_code', 'I469', 'Cardiac arrest, cause unspecified'), ('procedure_mimic_flat', 'code_code', '225475', 'Respiratory Arrest'), ('condition_mimic_flat', 'code_code', 'I468', 'Cardiac arrest due to other underlying condition'), ('condition_mimic_flat', 'code_code', 'V1253', 'Personal history of sudden cardiac arrest'), ('condition_mimic_flat', 'code_code', 'Z8674', 'Personal history of sudden cardiac arrest'), ('condition_mimic_flat', 'code_code', 'I97710', 'Intraoperative cardiac arrest during cardiac surgery'), ('condition_mimic_flat', 'code_code', 'I97120', 'Postprocedural cardiac arrest following cardiac surgery'), ('procedure_mimic_flat', 'code_code', '225464', 'Cardioversion/Defibrillation'), ('condition_mimic_flat', 'code_code', 'I97711', 'Intraoperative cardiac arrest during other surgery'), ('procedure_mimic_flat', 'code_code', '3963', 'Cardioplegia'), ('condition_mimic_flat', 'code_code', 'I97121', 'Postprocedural cardiac arrest following other surgery'), ('condition_mimic_flat', 'code_code', 'I4901', 'Ventricular fibrillation'), ('condition_mimic_flat', 'code_code', '42741', 'Ventricular fibrillation')]


            For "cardiac condition" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('encounter_mimic_flat', 'type_code', '93457', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92937', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93508', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93539', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93460', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92943', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93567', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93456', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93526', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92928', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93510', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92978', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93571', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93451', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93459', 'Cardiovascular'), ('observation_mimic_flat', 'code_code', '228699', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '92920', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93580', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93545', 'Cardiovascular'), ('encounter_mimic_flat', 'type_code', '93543', 'Cardiovascular')]


Iteration 0 SQL:

SELECT
  T1.code_display
FROM observation_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2
  ON T1.encounter_id = T2.id
INNER JOIN condition_mimic_flat AS T3
  ON T2.patient_id = T3.patient_id AND T1.encounter_id = T3.encounter_id
WHERE
  T3.code_code = 'I462' -- Select only patients who have been diagnosed with cardiac arrest due to underlying cardiac condition
  AND T1.code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test' --Selecting only microbiology tests
  AND substr(T1.obs_date, 1, 4) >= '2100' -- Selecting dates greater than or equal to the year 2100
GROUP BY
  T1.code_display
ORDER BY
  count(*) DESC
LIMIT 4;

Iteration 0 SQL execution output:
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT
Iteration 1 SQL:

SELECT T1.code_display
FROM observation_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
INNER JOIN condition_mimic_flat AS T3 ON T2.patient_id = T3.patient_id AND T1.encounter_id = T3.encounter_id
WHERE T3.code_code IN ('4275', 'I462', 'I469', 'I468') -- Select only patients who have been diagnosed with cardiac arrest due to underlying cardiac condition; including different codes for cardiac arrest
AND T1.code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test' -- Selecting only microbiology tests
AND substr(T1.obs_date, 1, 4) >= '2100' -- Selecting dates greater than or equal to the year 2100
GROUP BY T1.code_display
ORDER BY count(*) DESC
LIMIT 4; -- Limit to the top 4 most frequent tests


Iteration 1 SQL execution output:
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT
Iteration 2 SQL:

SELECT T1.code_display
FROM observation_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
INNER JOIN condition_mimic_flat AS T3 ON T2.patient_id = T3.patient_id AND T1.encounter_id = T3.encounter_id
WHERE T3.code_code IN ('4275', 'I462', 'I469', 'I468', 'I461') -- Select only patients who have been diagnosed with cardiac arrest due to underlying cardiac condition; including different codes for cardiac arrest
AND T1.code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test' -- Selecting only microbiology tests
AND substr(T1.obs_date, 1, 4) >= '2100' -- Selecting dates greater than or equal to the year 2100
GROUP BY T1.code_display
ORDER BY count(*) DESC
LIMIT 4; -- Limit to the top 4 most frequent tests

Iteration 2 SQL execution output:
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT
Iteration 3 SQL:

SELECT T1.code_display
FROM observation_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
INNER JOIN condition_mimic_flat AS T3 ON T2.patient_id = T3.patient_id AND T1.encounter_id = T3.encounter_id
WHERE T3.code_code IN ('4275', 'I462', 'I469', 'I468', 'I461') -- Select only patients who have been diagnosed with cardiac arrest due to underlying cardiac condition; including different codes for cardiac arrest
AND T1.code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test' -- Selecting only microbiology tests
AND substr(T1.obs_date, 1, 4) >= '2100' -- Selecting dates greater than or equal to the year 2100
GROUP BY T1.code_display
ORDER BY count(*) DESC
LIMIT 4; -- Limit to the top 4 most frequent tests

Iteration 3 SQL execution output:
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT
Iteration 4 SQL:

SELECT T1.code_display
FROM observation_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
INNER JOIN condition_mimic_flat AS T3 ON T2.patient_id = T3.patient_id AND T1.encounter_id = T3.encounter_id
WHERE T3.code_code IN ('4275', 'I462', 'I469', 'I468', 'I461') -- Select only patients who have been diagnosed with cardiac arrest due to underlying cardiac condition; including different codes for cardiac arrest
AND T1.code_sys = 'http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-microbiology-test' -- Selecting only microbiology tests
AND substr(T1.obs_date, 1, 4) >= '2100' -- Selecting dates greater than or equal to the year 2100
GROUP BY T1.code_display
ORDER BY count(*) DESC
LIMIT 4; -- Limit to the top 4 most frequent tests

Iteration 4 SQL execution output:
START_OUTPUT
('Blood Culture, Routine',)
('GRAM STAIN',)
('URINE CULTURE',)
('RESPIRATORY CULTURE',)
END_OUTPUT

### Most frequent procedures
The actual generated query seems to be correct but the information about the time at
which the procedure was performed is in the `performed.dateTime` field of `Procedure`
FHIR resources which is not exposed in the flat views. Instead the model uses the
`period_start` which is a good choice but it is not set for most procedures.

In [4]:
# Question ID: 783af9c867b3757480fa6805
# Expected answer: [['arterial catheterization'], ['central venous catheter placement with guidance'],
#  ['continuous invasive mechanical ventilation for less than 96 consecutive hours'],
#  ['enteral infusion of concentrated nutritional substances'], ['extracorporeal circulation auxiliary to open heart surgery'], ...
# The expected answer has more elements while it is clearly asking for only five!
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Can you tell me the top five most common procedures this year?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "five" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '51767', 'EE5')]


            For "this year" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = SUBSTR(CURRENT_DATE(), 1, 4) -- Filter by the current year, assuming period_start contains the year
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result to the top 5 procedures

Iteration 0 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 1 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = SUBSTR(CAST(CURRENT_DATE() AS STRING), 1, 4) -- Filter by the current year, assuming period_start contains the year and casting date to string for substr
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result to the top 5 procedures

Iteration 1 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 2 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = CAST(YEAR(CURRENT_DATE()) AS STRING) -- Filter by the current year, extracting year from period_start and comparing with current year
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit to the top 5 most common procedures

Iteration 2 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 3 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = CAST(YEAR(CURRENT_DATE()) AS STRING) -- Filter by the current year by comparing the year part of period_start with the current year.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result set to the top 5 procedures.

Iteration 3 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 4 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = CAST(YEAR(CURRENT_DATE()) AS STRING) -- Filter by the current year by comparing the year part of period_start with the current year.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result set to the top 5 procedures.

Iteration 4 SQL execution output:
START_OUTPUT

END_OUTPUT

In [5]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Can you tell me the top five most common procedures in year 2100?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "five" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '51767', 'EE5')]


            For "year 2100" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2100' -- Filter for procedures in the year 2100, using the start date.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit to the top 5 most common procedures.

Iteration 0 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 1 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2100' -- Filter for procedures in the year 2100 based on period_start.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result to the top 5 procedures.

Iteration 1 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 2 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2100' -- Filter procedures occurring in the year 2100 based on the start date.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the results to the top 5 most frequent procedures.

Iteration 2 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 3 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2100' -- Filter for procedures in the year 2100 based on the period_start column
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the results to the top 5 procedures

Iteration 3 SQL execution output:
START_OUTPUT

END_OUTPUT
Iteration 4 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2100' -- Filters for procedures that started in the year 2100
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limits the output to the top 5 most frequent procedures

Iteration 4 SQL execution output:
START_OUTPUT

END_OUTPUT

In [9]:
# The problem is that most procedures do not have the period fields:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(period_start, 1, 4) AS year, COUNT(*) AS num_proc
    FROM procedure_mimic_flat
    GROUP BY year
    ORDER BY num_proc DESC
    LIMIT 5; -- Limit to the top 5 most common procedures.
    """,
    con=spark_query_engine,
)

   year  num_proc
0  None   2658883
1  2149     10080
2  2130      9689
3  2183      9602
4  2163      9502

In [78]:
# Instead it is the `performed.dateTime` field that should be used but
# it is *not* exposed in the flat view.
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(performed.dateTime, 1, 4) AS year, COUNT(*) AS num_proc
    FROM procedure_mimic
    GROUP BY year
    ORDER BY num_proc DESC
    LIMIT 10;
    """,
    con=spark_query_engine,
)

   year  num_proc
0  None    696092
1  2176     34951
2  2145     34662
3  2181     34652
4  2141     34529
5  2144     34528
6  2146     34394
7  2163     34307
8  2177     34261
9  2180     34231

#### After adding `performed.dateTime` to the `procedure_mimic_flat`
*Analysis:* Note the `COALESCE(period_start, performed_time)` function in the
generated SQLs.

In [77]:
# After adding performed.dateTime to `procedure_mimic_flat`
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(performed_time, 1, 4) AS year, COUNT(*) AS num_proc
    FROM procedure_mimic_flat
    GROUP BY year
    ORDER BY num_proc DESC
    LIMIT 10; -- Limit to the top 5 most common procedures.
    """,
    con=spark_query_engine,
)

   year  num_proc
0  None    696092
1  2176     34951
2  2145     34662
3  2181     34652
4  2141     34529
5  2144     34528
6  2146     34394
7  2163     34307
8  2177     34261
9  2180     34231

In [79]:
query_instance_10_07_30 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10,
    close_threshold=0.7,
    max_close=30
)

In [81]:
query_instance_10_07_30.iterative_gen_sql(
    query='''
    Can you tell me the top five most common procedures in year 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "five" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '51767', 'EE5')]


            For "year 2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2150' -- Filter procedures that started in the year 2150
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result to the top 5 procedures

Iteration 0 SQL execution output:
START_OUTPUT
('20 Gauge', 1008)
('Chest X-Ray', 851)
('18 Gauge', 698)
('EKG', 440)
('Invasive Ventilation', 371)
END_OUTPUT
Iteration 1 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(period_start, 1, 4) = '2150' -- Filter procedures that started in the year 2150
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result to the top 5 procedures

Iteration 1 SQL execution output:
START_OUTPUT
('20 Gauge', 1008)
('Chest X-Ray', 851)
('18 Gauge', 698)
('EKG', 440)
('Invasive Ventilation', 371)
END_OUTPUT
Iteration 2 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(COALESCE(period_start, performed_time), 1, 4) = '2150'  -- Consider both period_start and performed_time, coalesce to handle nulls
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5;  -- Limit the results to the top 5 procedures

Iteration 2 SQL execution output:
START_OUTPUT
('Taking patient vital signs assessment (procedure)', 18745)
('Triage: emergency center (procedure)', 5039)
('20 Gauge', 1008)
('Chest X-Ray', 851)
('18 Gauge', 698)
END_OUTPUT
Iteration 3 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(COALESCE(period_start, performed_time), 1, 4) = '2150' -- Consider both period_start and performed_time for the year, coalesce to handle nulls
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the results to the top 5 procedures

Iteration 3 SQL execution output:
START_OUTPUT
('Taking patient vital signs assessment (procedure)', 18745)
('Triage: emergency center (procedure)', 5039)
('20 Gauge', 1008)
('Chest X-Ray', 851)
('18 Gauge', 698)
END_OUTPUT
Iteration 4 SQL:

SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(COALESCE(period_start, performed_time), 1, 4) = '2150' -- Consider both period_start and performed_time to include all procedures in 2150. COALESCE handles cases where period_start might be null.
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5; -- Limit the result set to the top 5 most frequent procedures.

Iteration 4 SQL execution output:
START_OUTPUT
('Taking patient vital signs assessment (procedure)', 18745)
('Triage: emergency center (procedure)', 5039)
('20 Gauge', 1008)
('Chest X-Ray', 851)
('18 Gauge', 698)
END_OUTPUT

In [85]:
# Checking queries
pd.read_sql_query(
    sql="""
SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE SUBSTR(COALESCE(period_start, performed_time), 1, 4) = '2150'  -- Consider both period_start and performed_time, coalesce to handle nulls
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 5;  -- Limit the results to the top 5 procedures
    """,
    con=spark_query_engine,
)

                                        code_display  procedure_count
0  Taking patient vital signs assessment (procedure)            18745
1               Triage: emergency center (procedure)             5039
2                                           20 Gauge             1008
3                                        Chest X-Ray              851
4                                           18 Gauge              698

In [96]:
# without the date constraint
pd.read_sql_query(
    sql="""
SELECT code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
-- WHERE SUBSTR(COALESCE(period_start, performed_time), 1, 4) = '2150'  -- Consider both period_start and performed_time, coalesce to handle nulls
GROUP BY code_display
ORDER BY procedure_count DESC
LIMIT 10;  -- Limit the results to the top 5 procedures
    """,
    con=spark_query_engine,
)

                                        code_display  procedure_count
0  Taking patient vital signs assessment (procedure)          1564610
1               Triage: emergency center (procedure)           425087
2                                           20 Gauge            86558
3                                        Chest X-Ray            69120
4                                           18 Gauge            57127
5                                                EKG            36727
6                                      Arterial Line            33173
7                               Invasive Ventilation            30710
8                                     Blood Cultured            22444
9                                         Extubation            22336

In [101]:
# with system
pd.read_sql_query(
    sql="""
SELECT code_sys, code_code, code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
GROUP BY code_sys, code_code, code_display
ORDER BY procedure_count DESC
LIMIT 20;  -- Limit the results to the top 5 procedures
    """,
    con=spark_query_engine,
)

,code_sys,code_code,code_display,procedure_count
0,http://snomed.info/sct,410188000,Taking patient vital signs assessment (procedure),1564610
1,http://snomed.info/sct,386478007,Triage: emergency center (procedure),425087
2,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224275,20 Gauge,86558
3,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225459,Chest X-Ray,69120
4,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224277,18 Gauge,57127
5,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225402,EKG,36727
6,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225752,Arterial Line,33173
7,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225792,Invasive Ventilation,30710
8,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225401,Blood Cultured,22444
9,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,227194,Extubation,22336
10,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224274,22 Gauge,21831
11,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224263,Multi Lumen,21730
12,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,221214,CT scan,21680
13,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,229351,Foley Catheter,16676
14,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,228129,Family updated by RN,16256
15,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,225469,OR Received,14806
16,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224276,16 Gauge,14053
17,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-procedure-icd9,3893,"Venous catheterization, not elsewhere classified",13928
18,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,229581,Portable Chest X-Ray,12740
19,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-d-items,224264,PICC Line,12359

In [98]:
# Testing target procedures
pd.read_sql_query(
    sql="""
SELECT code_sys, code_display, COUNT(*) AS procedure_count
FROM procedure_mimic_flat
WHERE LOWER(code_display) = 'arterial catheterization'
GROUP BY code_sys, code_display
ORDER BY procedure_count DESC
LIMIT 10;  -- Limit the results to the top 5 procedures
    """,
    con=spark_query_engine,
)

,code_sys,code_display,procedure_count
0,http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-procedure-icd9,Arterial catheterization,3473

### Number of Prednisone prescriptions
**Analysis:** In this case too, the general structure of the final query is correct with
the following caveats:
- Unlike other codes, for medication codes the `display` field is empty and instead
  the `code` field has a textual representation of the medication name. This means that
  our embedding based similarity search is useless for this code.
- The model correctly recognizes that it should look at the `code` text directly but the
  additional challenge is that `Prednisone` is spelled as `PredniSONE` (not sure why) and
  the model does not recognize it (as it never sees it example values).
- The year `2100` is probably a bad choice because of date-shifts in MIMIC. As the investigations
  below show, picking a "good year" like 2150 works.

In [104]:
# Question ID: d1d8f2df3141cf92ddc53228
# Expected answer: [['4']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    How many prednisone prescription cases were there in 2100?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "prednisone prescription" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "2100" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT mr.id)
FROM medication_request_mimic_flat mr
WHERE mr.medication_code LIKE '%Prednisone%' -- To find Prednisone prescriptions
AND SUBSTR(mr.id, 1, 4) = '2100'; -- There is no date field, so we're checking the first four characters of id assuming they might represent the year

Iteration 0 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 1 SQL:

SELECT COUNT(DISTINCT mr.id)
FROM medication_request_mimic_flat mr
WHERE mr.medication_code LIKE '%Prednisone%' -- To find Prednisone prescriptions
AND SUBSTR(mr.encounter_id, 1, 4) = '2100'; -- There is no date field, so we're checking the first four characters of encounter_id assuming they might represent the year. The id column is unique and does not represent time, so encounter_id is used instead.

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT mr.id)
FROM medication_request_mimic_flat mr
JOIN encounter_mimic_flat en ON mr.encounter_id = en.id -- Join medication requests with encounters to access encounter dates
WHERE mr.medication_code LIKE '%Prednisone%' -- Filter for medication codes containing "Prednisone"
AND SUBSTR(en.period_start, 1, 4) = '2100'; -- Filter for encounters that started in the year 2100 using the period_start column

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT mr.id)
FROM medication_request_mimic_flat mr
JOIN encounter_mimic_flat en ON mr.encounter_id = en.id  -- Join the medication requests and encounters tables using the encounter ID.
WHERE mr.medication_code LIKE '%Prednisone%'  -- Filter the medication requests to only include those where the medication code contains "Prednisone".
AND SUBSTR(en.period_start, 1, 4) = '2100';  -- Filter the joined results to only include encounters that started in the year 2100, based on the period_start column.

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT mr.id)
FROM medication_request_mimic_flat mr
JOIN encounter_mimic_flat en ON mr.encounter_id = en.id  -- Join medication requests with encounters on encounter_id to access encounter dates
WHERE mr.medication_code LIKE '%Prednisone%'  -- Filter for medication codes containing 'Prednisone'
AND SUBSTR(en.period_start, 1, 4) = '2100';  -- Filter for encounters starting in 2100 using SUBSTR on period_start

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [16]:
pd.read_sql_query(
    sql="""
    SELECT med.medication_code, COUNT(*) AS num_med
FROM medication_request_mimic_flat AS med
GROUP BY med.medication_code
ORDER BY num_med DESC
LIMIT 20;
    """,
    con=spark_query_engine,
)

                   medication_code   num_med
0                             None  13533220
1       Sodium Chloride 0.9% Flush    194908
2                       IV therapy    150815
3                          Insulin    122879
4                    Acetaminophen     70808
5                          Heparin     56742
6         HYDROmorphone (Dilaudid)     56245
7                  Docusate Sodium     54624
8   Influenza Vaccine Quadrivalent     41424
9                            Senna     32762
10                     Ondansetron     32245
11             Metoprolol Tartrate     31312
12                Morphine Sulfate     30203
13                      Vancomycin     23801
14              Lidocaine 5% Patch     22584
15                         Aspirin     22156
16     Heparin Flush (10 units/ml)     21721
17             Polyethylene Glycol     19917
18                Acetaminophen IV     19124
19   OxyCODONE (Immediate Release)     18323

In [41]:
# One issue is case sensitivity (note LOWER):
from sqlalchemy import text

with spark_query_engine.connect() as connection:
    result = connection.execute(text(
        """
        SELECT COUNT(DISTINCT med.id)
FROM medication_request_mimic_flat AS med
WHERE LOWER(med.medication_code) LIKE '%prednisone%' -- Filter for medication requests containing 'Prednisone'
        """))
    for row in result:
        print("num with LOWER: ", row)
        
    result = connection.execute(text(
        """
        SELECT COUNT(DISTINCT med.id)
FROM medication_request_mimic_flat AS med
WHERE med.medication_code LIKE '%Prednisone%' -- Filter for medication requests containing 'Prednisone'
        """))
    for row in result:
        print("num without LOWER: ", row)

    result = connection.execute(text(
        """
        SELECT med.medication_code AS med_code, COUNT(*) AS num_med
FROM medication_request_mimic_flat AS med
WHERE LOWER(med.medication_code) LIKE '%prednisone%' -- Filter for medication requests containing 'Prednisone'
GROUP BY med_code
ORDER BY num_med DESC
LIMIT 10;
        """))
    for row in result:
        print("name and count: ", row)

num with LOWER:  (5147,)
num without LOWER:  (1,)
name and count:  ('PredniSONE', 5145)
name and count:  ('Prednisone', 1)
name and count:  ('predniSONE', 1)

In [38]:
# Another issue is the date:
with spark_query_engine.connect() as connection:
    result = connection.execute(text(
        """
        SELECT COUNT(DISTINCT med.id)
FROM medication_request_mimic_flat AS med
JOIN encounter_mimic_flat AS enc ON med.encounter_id = enc.id -- Join the tables to link medication requests to encounters
WHERE LOWER(med.medication_code) LIKE '%prednisone%' -- Filter for medication requests containing 'Prednisone'
AND SUBSTR(enc.period_start, 1, 4) = '2100'; -- Filter for encounters where the period_start year is 2100
        """))
    for row in result:
        print("num_med in 2100: ", row)

    result = connection.execute(text(
        """
        SELECT SUBSTR(enc.period_start, 1, 4) AS med_year, COUNT(DISTINCT med.id) AS num_med
FROM medication_request_mimic_flat AS med
JOIN encounter_mimic_flat AS enc ON med.encounter_id = enc.id -- Join the tables to link medication requests to encounters
WHERE LOWER(med.medication_code) LIKE '%prednisone%' -- Filter for medication requests containing 'Prednisone'
GROUP BY med_year
ORDER BY num_med DESC
LIMIT 10;
        """))
    for row in result:
        print("row: ", row)

num_med in 2100:  (0,)
row:  ('2141', 91)
row:  ('2147', 86)
row:  ('2165', 83)
row:  ('2173', 82)
row:  ('2131', 81)
row:  ('2151', 80)
row:  ('2150', 78)
row:  ('2170', 75)
row:  ('2133', 74)
row:  ('2164', 74)

In [39]:
# Same query with LOWER fix and a different year:

with spark_query_engine.connect() as connection:
    result = connection.execute(text(
        """
        SELECT COUNT(DISTINCT med.id)
FROM medication_request_mimic_flat AS med
JOIN encounter_mimic_flat AS enc ON med.encounter_id = enc.id -- Join the tables to link medication requests to encounters
WHERE LOWER(med.medication_code) LIKE '%prednisone%' -- Filter for medication requests containing 'Prednisone'
AND SUBSTR(enc.period_start, 1, 4) = '2150'; -- Filter for encounters where the period_start year is 2100
        """))
    for row in result:
        print("Number of Prednisone meds in 2150: ", row)

Number of Prednisone meds in 2150:  (78,)

In [105]:
# Question ID: d1d8f2df3141cf92ddc53228
# Expected answer: [['4']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    How many prednisone prescription cases were there in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "prednisone prescription" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(*)
FROM medication_request_mimic_flat
WHERE medication_code LIKE '%Prednisone%' -- To find prednisone prescriptions
AND encounter_id IN (SELECT id FROM encounter_mimic_flat WHERE SUBSTRING(period_start, 1, 4) = '2150'); -- To filter encounters that happened in the year 2150

Iteration 0 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 1 SQL:

SELECT COUNT(DISTINCT T1.id)
FROM medication_request_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
WHERE T1.medication_code LIKE '%Prednisone%' -- To find prednisone prescriptions
AND SUBSTRING(T2.period_start, 1, 4) = '2150'; -- To filter encounters that happened in the year 2150

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT T1.id)
FROM medication_request_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
WHERE LOWER(T1.medication_code) LIKE '%prednisone%' -- To find prednisone prescriptions, case-insensitive
AND SUBSTR(T2.period_start, 1, 4) = '2150'; -- To filter encounters that happened in the year 2150

Iteration 2 SQL execution output:
START_OUTPUT
(78,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT T1.id)
FROM medication_request_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
WHERE LOWER(T1.medication_code) LIKE '%prednisone%' -- To find prednisone prescriptions, case-insensitive
AND SUBSTR(T2.period_start, 1, 4) = '2150'; -- To filter encounters that happened in the year 2150

Iteration 3 SQL execution output:
START_OUTPUT
(78,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT T1.id)
FROM medication_request_mimic_flat AS T1
INNER JOIN encounter_mimic_flat AS T2 ON T1.encounter_id = T2.id
WHERE LOWER(T1.medication_code) LIKE '%prednisone%' -- To find prednisone prescriptions, case-insensitive
AND SUBSTR(T2.period_start, 1, 4) = '2150'; -- To filter encounters that happened in the year 2150

Iteration 4 SQL execution output:
START_OUTPUT
(78,)
END_OUTPUT

### Mammary-coronary artery bypass after arthropathy

Query in the evaluation set (based on original MIMIC schema):
```sql
SELECT COUNT( DISTINCT T1.subject_id )
FROM ( 
    SELECT admissions.subject_id, diagnoses_icd.charttime
    FROM diagnoses_icd JOIN admissions ON diagnoses_icd.hadm_id = admissions.hadm_id
    WHERE diagnoses_icd.icd_code = (
        SELECT d_icd_diagnoses.icd_code FROM d_icd_diagnoses
        WHERE d_icd_diagnoses.long_title = 'arthropathy, unspecified, lower leg' )
          AND strftime('%Y',diagnoses_icd.charttime) = '2100' ) AS T1
        JOIN (
            SELECT admissions.subject_id, procedures_icd.charttime
            FROM procedures_icd JOIN admissions ON procedures_icd.hadm_id = admissions.hadm_id
            WHERE procedures_icd.icd_code = (
                 SELECT d_icd_procedures.icd_code FROM d_icd_procedures
                 WHERE d_icd_procedures.long_title = 'single internal mammary-coronary artery bypass'
            ) AND strftime('%Y',procedures_icd.charttime) = '2100' ) AS T2
        ON T1.subject_id = T2.subject_id
        WHERE T1.charttime < T2.charttime
          AND datetime(T1.charttime,'start of month') = datetime(T2.charttime,'start of month')
```

In [43]:
# Question ID: 15a83f8dbbf6d2243721a87b
# Expected answer: [['1']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    How many patients underwent single internal mammary-coronary artery bypass during the same
    month after the diagnosis with arthropathy, unspecified, lower leg, in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "single internal mammary-coronary artery bypass" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '3615', 'Single internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '3616', 'Double internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '02100A8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100A9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210098', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210099', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110A8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3611', '(Aorto)coronary bypass of one coronary artery'), ('procedure_mimic_flat', 'code_code', '02104Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '02110A9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02130Z8', 'Bypass Coronary Artery, Four or More Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0211099', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach')]


            For "the same
    month" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "arthropathy" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'M129', 'Arthropathy, unspecified'), ('condition_mimic_flat', 'code_code', '71688', 'Other specified arthropathy, other specified sites'), ('condition_mimic_flat', 'code_code', 'M154', 'Erosive (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71690', 'Arthropathy, unspecified, site unspecified'), ('condition_mimic_flat', 'code_code', 'M064', 'Inflammatory polyarthropathy'), ('condition_mimic_flat', 'code_code', '71689', 'Other specified arthropathy, multiple sites'), ('condition_mimic_flat', 'code_code', '71680', 'Other specified arthropathy, site unspecified'), ('condition_mimic_flat', 'code_code', '71698', 'Arthropathy, unspecified, other specified sites'), ('condition_mimic_flat', 'code_code', '7138', 'Arthropathy associated with other conditions classifiable elsewhere'), ('condition_mimic_flat', 'code_code', 'M150', 'Primary generalized (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71687', 'Other specified arthropathy, ankle and foot'), ('condition_mimic_flat', 'code_code', '7140', 'Rheumatoid arthritis'), ('condition_mimic_flat', 'code_code', '6960', 'Psoriatic arthropathy'), ('condition_mimic_flat', 'code_code', '71699', 'Arthropathy, unspecified, multiple sites'), ('condition_mimic_flat', 'code_code', '7144', 'Chronic postrheumatic arthropathy'), ('condition_mimic_flat', 'code_code', 'M363', 'Arthropathy in other blood disorders'), ('condition_mimic_flat', 'code_code', 'D8686', 'Sarcoid arthropathy'), ('observation_mimic_flat', 'code_code', '228703', 'Musculoskeletal'), ('condition_mimic_flat', 'code_code', 'M153', 'Secondary multiple arthritis'), ('condition_mimic_flat', 'code_code', '71697', 'Arthropathy, unspecified, ankle and foot')]


            For "lower" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "leg" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '228405', 'Motor L Leg'), ('observation_mimic_flat', 'code_code', '228407', 'Motor R Leg'), ('observation_mimic_flat', 'code_code', '228410', 'Strength L Leg'), ('condition_mimic_flat', 'code_code', '9166', 'FOREIGN BODY HIP/LEG'), ('condition_mimic_flat', 'code_code', 'M79605', 'Pain in left leg'), ('observation_mimic_flat', 'code_code', '228411', 'Strength R Leg'), ('condition_mimic_flat', 'code_code', 'M79604', 'Pain in right leg'), ('condition_mimic_flat', 'code_code', '71686', 'ARTHROPATHY NEC-L/LEG'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', '9244', 'MULTIPLE CONTUSION LEG'), ('condition_mimic_flat', 'code_code', '73681', 'Unequal leg length (acquired)'), ('condition_mimic_flat', 'code_code', 'M79662', 'Pain in left lower leg'), ('condition_mimic_flat', 'code_code', '71916', 'Hemarthrosis, lower leg')]


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE EXTRACT(YEAR FROM c.onset_datetime) = 2150 -- diagnoses should be in 2150
AND c.code_code = '71686' -- diagnosis is Arthropathy, unspecified, lower leg
AND EXTRACT(MONTH FROM c.onset_datetime) = EXTRACT(MONTH FROM p.period_start) -- ensure the procedures and diagnosis are within the same month
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9') -- procedure is single internal mammary-coronary artery bypass
;

Iteration 0 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 1 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150' -- diagnoses should be in 2150, comparing the year part of the string
AND c.code_code = '71686' -- diagnosis is Arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 6, 2) = SUBSTR(p.period_start, 6, 2) -- ensure the procedures and diagnosis are within the same month, comparing the month part of the string
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9') -- procedure is single internal mammary-coronary artery bypass
;

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- diagnoses should be in 2150, comparing the year part of the string
AND c.code_code = '71686'  -- diagnosis is Arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 6, 2) = SUBSTR(p.period_start, 6, 2)  -- ensure the procedures and diagnosis are within the same month, comparing the month part of the string
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611')  -- procedure is single internal mammary-coronary artery bypass, removing codes that are not single bypass procedures
;

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- diagnoses should be in 2150
AND c.code_code = '71686'  -- diagnosis is Arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 6, 2) = SUBSTR(p.period_start, 6, 2)  -- ensure the procedures and diagnosis are within the same month
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611')  -- procedure is single internal mammary-coronary artery bypass
;

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- diagnoses should be in 2150
AND c.code_code = '71686'  -- diagnosis is Arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 6, 2) = SUBSTR(p.period_start, 6, 2)  -- ensure the procedures and diagnosis are within the same month
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611')  -- procedure is single internal mammary-coronary artery bypass
;

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [8]:
# Question ID: 15a83f8dbbf6d2243721a87b
# Expected answer: [['1']]
query_instance_10_07_20.iterative_gen_sql(
    query='''
    How many patients underwent single internal mammary-coronary artery bypass during the same
    month after the diagnosis with arthropathy, unspecified, lower leg, in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "single internal mammary-coronary artery bypass" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '3615', 'Single internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '3616', 'Double internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '02100A8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100A9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210098', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210099', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110A8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3611', '(Aorto)coronary bypass of one coronary artery'), ('procedure_mimic_flat', 'code_code', '02104Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '02110A9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02130Z8', 'Bypass Coronary Artery, Four or More Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0211099', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach')]


            For "the same
    month" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "arthropathy" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'M129', 'Arthropathy, unspecified'), ('condition_mimic_flat', 'code_code', '71688', 'Other specified arthropathy, other specified sites'), ('condition_mimic_flat', 'code_code', 'M154', 'Erosive (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71690', 'Arthropathy, unspecified, site unspecified'), ('condition_mimic_flat', 'code_code', 'M064', 'Inflammatory polyarthropathy'), ('condition_mimic_flat', 'code_code', '71689', 'Other specified arthropathy, multiple sites'), ('condition_mimic_flat', 'code_code', '71680', 'Other specified arthropathy, site unspecified'), ('condition_mimic_flat', 'code_code', '71698', 'Arthropathy, unspecified, other specified sites'), ('condition_mimic_flat', 'code_code', '7138', 'Arthropathy associated with other conditions classifiable elsewhere'), ('condition_mimic_flat', 'code_code', 'M150', 'Primary generalized (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71687', 'Other specified arthropathy, ankle and foot'), ('condition_mimic_flat', 'code_code', '7140', 'Rheumatoid arthritis'), ('condition_mimic_flat', 'code_code', '6960', 'Psoriatic arthropathy'), ('condition_mimic_flat', 'code_code', '71699', 'Arthropathy, unspecified, multiple sites'), ('condition_mimic_flat', 'code_code', '7144', 'Chronic postrheumatic arthropathy'), ('condition_mimic_flat', 'code_code', 'M363', 'Arthropathy in other blood disorders'), ('condition_mimic_flat', 'code_code', 'D8686', 'Sarcoid arthropathy'), ('observation_mimic_flat', 'code_code', '228703', 'Musculoskeletal'), ('condition_mimic_flat', 'code_code', 'M153', 'Secondary multiple arthritis'), ('condition_mimic_flat', 'code_code', '71697', 'Arthropathy, unspecified, ankle and foot')]


            For "lower" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "leg" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '228405', 'Motor L Leg'), ('observation_mimic_flat', 'code_code', '228407', 'Motor R Leg'), ('observation_mimic_flat', 'code_code', '228410', 'Strength L Leg'), ('condition_mimic_flat', 'code_code', '9166', 'FOREIGN BODY HIP/LEG'), ('condition_mimic_flat', 'code_code', 'M79605', 'Pain in left leg'), ('observation_mimic_flat', 'code_code', '228411', 'Strength R Leg'), ('condition_mimic_flat', 'code_code', 'M79604', 'Pain in right leg'), ('condition_mimic_flat', 'code_code', '71686', 'ARTHROPATHY NEC-L/LEG'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', '9244', 'MULTIPLE CONTUSION LEG'), ('condition_mimic_flat', 'code_code', '73681', 'Unequal leg length (acquired)'), ('condition_mimic_flat', 'code_code', 'M79662', 'Pain in left lower leg'), ('condition_mimic_flat', 'code_code', '71916', 'Hemarthrosis, lower leg')]


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id
WHERE c.code_code = '71686' -- Arthropathy NEC-L/LEG
AND STRFTIME('%Y', c.onset_datetime) = '2150' -- Diagnosis in 2150
AND STRFTIME('%Y', c.onset_datetime) = STRFTIME('%Y', pr.period_start) -- Procedure in the same year as diagnosis.
AND STRFTIME('%m', c.onset_datetime) = STRFTIME('%m', pr.period_start) -- Procedure in the same month as diagnosis.
AND pr.code_code IN ('3615','3616','02100A8','02100Z8','02100A9','02100Z9','0210098','0210099','02110Z8','02110A8','3611','02104Z9','02110A9','02110Z9','02120Z8','02120A8','02130Z8','02120A9','02120Z9','0211099'); -- Single internal mammary-coronary artery bypass codes

Iteration 0 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=['*org.apache.hive.service.cli.HiveSQLException:Error running query: org.apache.spark.sql.AnalysisException: Undefined function: STRFTIME. This function is neither a built-in/temporary function, nor a persistent function that is qualified as spark_catalog.default.strftime.; line 7 pos 4:36:35', 'org.apache.spark.sql.hive.thriftserver.HiveThriftServerErrors$:runningQueryError:HiveThriftServerErrors.scala:43', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thriftserver$SparkExecuteStatementOperation$$execute:SparkExecuteStatementOperation.scala:325', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:runInternal:SparkExecuteStatementOperation.scala:216', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:277', 'org.apache.spark.sql.hive.thriftserver.SparkExecuteStatementOperation:org$apache$spark$sql$hive$thri
END_ERROR
Iteration 1 SQL:

SELECT COUNT(DISTINCT p.id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id -- Join patient and condition tables on patient ID
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id -- Join patient and procedure tables on patient ID
WHERE c.code_code = '71686' -- Filter for arthropathy of lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150' -- Filter for diagnosis year 2150
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(pr.period_start, 1, 7) -- Filter for procedure in the same month as diagnosis
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099'); -- Filter for specific bypass procedure codes


Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT p.id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id -- Join patient and condition tables on patient ID
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id -- Join patient and procedure tables on patient ID
WHERE c.code_code = '71686' -- Filter for arthropathy of lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150' -- Filter for diagnosis year 2150
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(pr.period_start, 1, 7) -- Filter for procedure in the same month as diagnosis
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099'); -- Filter for specific bypass procedure codes

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT p.id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id  -- Join patient and condition tables on patient ID
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id  -- Join patient and procedure tables on patient ID
WHERE c.code_code = '71686'  -- Filter for arthropathy of lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filter for diagnosis year 2150
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(pr.period_start, 1, 7)  -- Filter for procedure in the same month as diagnosis
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099') -- Filter for specific bypass procedure codes
AND c.onset_datetime IS NOT NULL
AND pr.period_start IS NOT NULL; -- Ensure that onset_datetime and period_start are not null

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT p.id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id  -- Join patient and condition tables on patient ID
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id  -- Join patient and procedure tables on patient ID
WHERE c.code_code = '71686'  -- Filter for arthropathy of lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filter for diagnosis year 2150
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(pr.period_start, 1, 7)  -- Filter for procedure in the same month as diagnosis
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099') -- Filter for specific bypass procedure codes
AND c.onset_datetime IS NOT NULL -- Ensure that onset_datetime is not null
AND pr.period_start IS NOT NULL; -- Ensure that period_start is not null

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [62]:
# The problem is that most procedures do not have the period fields:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(c.onset_datetime, 1, 4) AS cond_year, COUNT(DISTINCT p.patient_id) AS num_patients
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE 
  -- SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- diagnoses should be in 2150
c.code_code = '71686'  -- diagnosis is Arthropathy, unspecified, lower leg
-- AND SUBSTR(c.onset_datetime, 6, 2) = SUBSTR(p.period_start, 6, 2)  -- ensure the procedures and diagnosis are within the same month
AND p.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611')  -- procedure is single internal mammary-coronary artery bypass
GROUP BY cond_year
ORDER BY num_patients DESC
LIMIT 10;
;
    """,
    con=spark_query_engine,
)

Empty DataFrame
Columns: [cond_year, num_patients]
Index: []

In [63]:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(c.onset_datetime, 1, 4) AS cond_year, COUNT(*) AS num_cond
FROM condition_mimic_flat c
WHERE c.code_code = '71686'  -- diagnosis is Arthropathy, unspecified, lower leg
GROUP BY cond_year
ORDER BY num_cond DESC
LIMIT 10;
;
    """,
    con=spark_query_engine,
)

  cond_year  num_cond
0      None         2

#### Tweaking closeness thresholds

In [64]:
query_instance_10_06_30 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10,
    close_threshold=0.6,
    max_close=30
)

In [65]:
query_instance_10_06_30.iterative_gen_sql(
    query='''
    How many patients underwent single internal mammary-coronary artery bypass during the same
    month after the diagnosis with arthropathy, unspecified, lower leg, in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "single internal mammary-coronary artery bypass" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '3615', 'Single internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '3616', 'Double internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '02100A8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100A9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210098', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210099', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110A8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3611', '(Aorto)coronary bypass of one coronary artery'), ('procedure_mimic_flat', 'code_code', '02104Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '02110A9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02130Z8', 'Bypass Coronary Artery, Four or More Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0211099', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0213099', 'Bypass Coronary Artery, Four or More Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210499', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '0212099', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3612', '(Aorto)coronary bypass of two coronary arteries'), ('procedure_mimic_flat', 'code_code', '03U007Z', 'Supplement Right Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '03U107Z', 'Supplement Left Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '3613', '(Aorto)coronary bypass of three coronary arteries'), ('procedure_mimic_flat', 'code_code', '03L10ZZ', 'Occlusion of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '03B10ZZ', 'Excision of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '3617', 'Abdominal-coronary artery bypass')]


            For "the same
    month" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "arthropathy" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'M129', 'Arthropathy, unspecified'), ('condition_mimic_flat', 'code_code', '71688', 'Other specified arthropathy, other specified sites'), ('condition_mimic_flat', 'code_code', 'M154', 'Erosive (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71690', 'Arthropathy, unspecified, site unspecified'), ('condition_mimic_flat', 'code_code', 'M064', 'Inflammatory polyarthropathy'), ('condition_mimic_flat', 'code_code', '71689', 'Other specified arthropathy, multiple sites'), ('condition_mimic_flat', 'code_code', '71680', 'Other specified arthropathy, site unspecified'), ('condition_mimic_flat', 'code_code', '71698', 'Arthropathy, unspecified, other specified sites'), ('condition_mimic_flat', 'code_code', '7138', 'Arthropathy associated with other conditions classifiable elsewhere'), ('condition_mimic_flat', 'code_code', 'M150', 'Primary generalized (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71687', 'Other specified arthropathy, ankle and foot'), ('condition_mimic_flat', 'code_code', '7140', 'Rheumatoid arthritis'), ('condition_mimic_flat', 'code_code', '6960', 'Psoriatic arthropathy'), ('condition_mimic_flat', 'code_code', '71699', 'Arthropathy, unspecified, multiple sites'), ('condition_mimic_flat', 'code_code', '7144', 'Chronic postrheumatic arthropathy'), ('condition_mimic_flat', 'code_code', 'M363', 'Arthropathy in other blood disorders'), ('condition_mimic_flat', 'code_code', 'D8686', 'Sarcoid arthropathy'), ('observation_mimic_flat', 'code_code', '228703', 'Musculoskeletal'), ('condition_mimic_flat', 'code_code', 'M153', 'Secondary multiple arthritis'), ('condition_mimic_flat', 'code_code', '71697', 'Arthropathy, unspecified, ankle and foot'), ('condition_mimic_flat', 'code_code', '7135', 'Arthropathy associated with neurological disorders'), ('condition_mimic_flat', 'code_code', '71694', 'Arthropathy, unspecified, hand'), ('condition_mimic_flat', 'code_code', '71696', 'Arthropathy, unspecified, lower leg'), ('condition_mimic_flat', 'code_code', '73392', 'Chondromalacia'), ('condition_mimic_flat', 'code_code', '7137', 'Other general diseases with articular involvement'), ('condition_mimic_flat', 'code_code', '7133', 'Arthropathy associated with dermatological disorders'), ('condition_mimic_flat', 'code_code', 'M1288', 'Other specific arthropathies, not elsewhere classified, other specified site'), ('condition_mimic_flat', 'code_code', '2740', 'Gouty arthropathy'), ('condition_mimic_flat', 'code_code', '7132', 'Arthropathy associated with hematological disorders'), ('condition_mimic_flat', 'code_code', 'M1258', 'Traumatic arthropathy, other specified site')]


            For "lower" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '51678', 'L'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', 'M545', 'Low back pain'), ('condition_mimic_flat', 'code_code', '44422', 'LOWER EXTREMITY EMBOLISM'), ('condition_mimic_flat', 'code_code', 'Z596', 'Low income'), ('procedure_mimic_flat', 'code_code', '8764', 'Lower GI series'), ('observation_mimic_flat', 'code_code', '226563', 'Suprapubic'), ('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '226610', 'Lumbar'), ('observation_mimic_flat', 'code_code', '51453', 'Other'), ('observation_mimic_flat', 'code_code', '51123', 'Other'), ('observation_mimic_flat', 'code_code', '52278', 'Other'), ('observation_mimic_flat', 'code_code', '51381', 'Other'), ('observation_mimic_flat', 'code_code', '50934', 'H'), ('condition_mimic_flat', 'code_code', '4423', 'LOWER EXTREMITY ANEURYSM'), ('procedure_mimic_flat', 'code_code', '225474', 'Fall'), ('observation_mimic_flat', 'code_code', '52288', 'Young'), ('observation_mimic_flat', 'code_code', '51129', 'Young'), ('observation_mimic_flat', 'code_code', '52371', 'Young'), ('condition_mimic_flat', 'code_code', 'E8888', 'Other fall'), ('condition_mimic_flat', 'code_code', 'Q72891', 'Other reduction defects of right lower limb'), ('observation_mimic_flat', 'code_code', '224709', 'T Low (APRV)'), ('observation_mimic_flat', 'code_code', '224706', 'P Low (APRV)')]


            For "leg" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '228405', 'Motor L Leg'), ('observation_mimic_flat', 'code_code', '228407', 'Motor R Leg'), ('observation_mimic_flat', 'code_code', '228410', 'Strength L Leg'), ('condition_mimic_flat', 'code_code', '9166', 'FOREIGN BODY HIP/LEG'), ('condition_mimic_flat', 'code_code', 'M79605', 'Pain in left leg'), ('observation_mimic_flat', 'code_code', '228411', 'Strength R Leg'), ('condition_mimic_flat', 'code_code', 'M79604', 'Pain in right leg'), ('condition_mimic_flat', 'code_code', '71686', 'ARTHROPATHY NEC-L/LEG'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', '9244', 'MULTIPLE CONTUSION LEG'), ('condition_mimic_flat', 'code_code', '73681', 'Unequal leg length (acquired)'), ('condition_mimic_flat', 'code_code', 'M79662', 'Pain in left lower leg'), ('condition_mimic_flat', 'code_code', '71916', 'Hemarthrosis, lower leg'), ('condition_mimic_flat', 'code_code', 'M79606', 'Pain in leg, unspecified'), ('condition_mimic_flat', 'code_code', 'M79661', 'Pain in right lower leg'), ('condition_mimic_flat', 'code_code', '71846', 'JT CONTRACTURE-L/LEG'), ('condition_mimic_flat', 'code_code', '92410', 'Contusion of lower leg'), ('condition_mimic_flat', 'code_code', '71946', 'Pain in joint, lower leg'), ('condition_mimic_flat', 'code_code', '7295', 'Pain in limb'), ('procedure_mimic_flat', 'code_code', '8827', 'Skeletal x-ray of thigh, knee, and lower leg'), ('condition_mimic_flat', 'code_code', '71886', 'Other joint derangement, not elsewhere classified, lower leg'), ('condition_mimic_flat', 'code_code', '94509', 'BURN NOS LEG-MULTIPLE'), ('condition_mimic_flat', 'code_code', '71906', 'JOINT EFFUSION-L/LEG'), ('condition_mimic_flat', 'code_code', 'M21762', 'Unequal limb length (acquired), left tibia'), ('condition_mimic_flat', 'code_code', '72982', 'Cramp of limb'), ('condition_mimic_flat', 'code_code', 'M89761', 'Major osseous defect, right lower leg'), ('condition_mimic_flat', 'code_code', 'M21764', 'Unequal limb length (acquired), left fibula'), ('condition_mimic_flat', 'code_code', 'M21752', 'Unequal limb length (acquired), left femur'), ('condition_mimic_flat', 'code_code', 'M21761', 'Unequal limb length (acquired), right tibia')]


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT
    COUNT(DISTINCT c.patient_id)
FROM
    condition_mimic_flat c
INNER JOIN
    procedure_mimic_flat p
ON
    c.patient_id = p.patient_id  -- Joining conditions and procedures on patient ID
WHERE
    SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filtering condition onset year to 2150
    AND c.code_code = '71696'  -- arthropathy, unspecified, lower leg
    AND SUBSTR(p.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Ensuring the procedure happened in the same month as the condition diagnosis
    AND p.code_code = '3615';  -- single internal mammary-coronary artery bypass

Iteration 0 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 1 SQL:

SELECT COUNT(DISTINCT t1.patient_id)
FROM condition_mimic_flat AS t1
INNER JOIN procedure_mimic_flat AS t2
ON t1.patient_id = t2.patient_id
WHERE CAST(SUBSTR(t1.onset_datetime, 1, 4) AS INTEGER) = 2150 -- Filtering the year from the onset_datetime
AND t1.code_code = '71696' -- Filtering for arthropathy, unspecified, lower leg
AND CAST(SUBSTR(t2.period_start, 1, 7) AS TEXT) = CAST(SUBSTR(t1.onset_datetime, 1, 7) AS TEXT) -- Matching month and year for diagnosis and procedure
AND t2.code_code = '3615'; -- Filter single internal mammary-coronary artery bypass

Iteration 1 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error running query: org.apache.spark.sql.catalyst.parser.ParseException: \nDataType text is not supported.(line 8, pos 42)\n\n== SQL ==\n\nSELECT COUNT(DISTINCT t1.patient_id)\nFROM condition_mimic_flat AS t1\nINNER JOIN procedure_mimic_flat AS t2\nON t1.patient_id = t2.patient_id\nWHERE CAST(SUBSTR(t1.onset_datetime, 1, 4) AS INTEGER) = 2150 -- Filtering the year from the onset_datetime\nAND t1.code_code = '71696' -- Filtering for arthropathy, unspecified, lower leg\nAND CAST(SUBSTR(t2.period_start, 1, 7) AS TEXT) = CAST(SUBSTR(t1.onset_datetime, 1, 7) AS TEXT) -- Matching month and year for diagnosis and procedure\n------------------------------------------^^^\nAND t2.code_code = '3615'; -- Filter single internal mammary-coronary artery bypass\n:36:35", 'org.apache.spark.sql.hive.thriftserver.HiveThriftServerErrors$:runningQueryError:HiveThrif
END_ERROR
Iteration 2 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id  -- Join condition and procedure tables on patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filter for conditions diagnosed in the year 2150
AND c.code_code = '71696'  -- Filter for arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(p.period_start, 1, 7)  -- Ensure the procedure occurred in the same month as the condition diagnosis
AND p.code_code = '3615';  -- Filter for single internal mammary-coronary artery bypass

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat p ON c.patient_id = p.patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'
AND c.code_code = '71696'
AND SUBSTR(c.onset_datetime, 1, 7) = SUBSTR(p.period_start, 1, 7)
AND p.code_code = '3615';

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT t1.patient_id)
FROM condition_mimic_flat AS t1
INNER JOIN procedure_mimic_flat AS t2
ON t1.patient_id = t2.patient_id
WHERE SUBSTR(t1.onset_datetime, 1, 4) = '2150'  -- Filtering the year from the onset_datetime
AND t1.code_code = '71696'  -- Filtering for arthropathy, unspecified, lower leg
AND SUBSTR(t2.period_start, 1, 7) = SUBSTR(t1.onset_datetime, 1, 7)  -- Matching month and year for diagnosis and procedure
AND t2.code_code = '3615';  -- Filter single internal mammary-coronary artery bypass

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [66]:
query_instance_10_07_30 = sqlgen.SqlGen(
    target_db_url='hive://localhost:10001/default',
    pg_vector_db_url='postgresql://postgres:admin@localhost:5438/codevec',
    nlp_ner=nlp_ner,
    num_column_samples=10,
    close_threshold=0.7,
    max_close=30
)

In [67]:
query_instance_10_07_30.iterative_gen_sql(
    query='''
    How many patients underwent single internal mammary-coronary artery bypass during the same
    month after the diagnosis with arthropathy, unspecified, lower leg, in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "single internal mammary-coronary artery bypass" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '3615', 'Single internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '3616', 'Double internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '02100A8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100A9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210098', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210099', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110A8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3611', '(Aorto)coronary bypass of one coronary artery'), ('procedure_mimic_flat', 'code_code', '02104Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '02110A9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02130Z8', 'Bypass Coronary Artery, Four or More Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0211099', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0213099', 'Bypass Coronary Artery, Four or More Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210499', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '0212099', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3612', '(Aorto)coronary bypass of two coronary arteries'), ('procedure_mimic_flat', 'code_code', '03U007Z', 'Supplement Right Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '03U107Z', 'Supplement Left Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '3613', '(Aorto)coronary bypass of three coronary arteries'), ('procedure_mimic_flat', 'code_code', '03L10ZZ', 'Occlusion of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '03B10ZZ', 'Excision of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '3617', 'Abdominal-coronary artery bypass')]


            For "the same
    month" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "arthropathy" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'M129', 'Arthropathy, unspecified'), ('condition_mimic_flat', 'code_code', '71688', 'Other specified arthropathy, other specified sites'), ('condition_mimic_flat', 'code_code', 'M154', 'Erosive (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71690', 'Arthropathy, unspecified, site unspecified'), ('condition_mimic_flat', 'code_code', 'M064', 'Inflammatory polyarthropathy'), ('condition_mimic_flat', 'code_code', '71689', 'Other specified arthropathy, multiple sites'), ('condition_mimic_flat', 'code_code', '71680', 'Other specified arthropathy, site unspecified'), ('condition_mimic_flat', 'code_code', '71698', 'Arthropathy, unspecified, other specified sites'), ('condition_mimic_flat', 'code_code', '7138', 'Arthropathy associated with other conditions classifiable elsewhere'), ('condition_mimic_flat', 'code_code', 'M150', 'Primary generalized (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71687', 'Other specified arthropathy, ankle and foot'), ('condition_mimic_flat', 'code_code', '7140', 'Rheumatoid arthritis'), ('condition_mimic_flat', 'code_code', '6960', 'Psoriatic arthropathy'), ('condition_mimic_flat', 'code_code', '71699', 'Arthropathy, unspecified, multiple sites'), ('condition_mimic_flat', 'code_code', '7144', 'Chronic postrheumatic arthropathy'), ('condition_mimic_flat', 'code_code', 'M363', 'Arthropathy in other blood disorders'), ('condition_mimic_flat', 'code_code', 'D8686', 'Sarcoid arthropathy'), ('observation_mimic_flat', 'code_code', '228703', 'Musculoskeletal'), ('condition_mimic_flat', 'code_code', 'M153', 'Secondary multiple arthritis'), ('condition_mimic_flat', 'code_code', '71697', 'Arthropathy, unspecified, ankle and foot'), ('condition_mimic_flat', 'code_code', '7135', 'Arthropathy associated with neurological disorders'), ('condition_mimic_flat', 'code_code', '71694', 'Arthropathy, unspecified, hand'), ('condition_mimic_flat', 'code_code', '71696', 'Arthropathy, unspecified, lower leg'), ('condition_mimic_flat', 'code_code', '73392', 'Chondromalacia'), ('condition_mimic_flat', 'code_code', '7137', 'Other general diseases with articular involvement'), ('condition_mimic_flat', 'code_code', '7133', 'Arthropathy associated with dermatological disorders'), ('condition_mimic_flat', 'code_code', 'M1288', 'Other specific arthropathies, not elsewhere classified, other specified site'), ('condition_mimic_flat', 'code_code', '2740', 'Gouty arthropathy'), ('condition_mimic_flat', 'code_code', '7132', 'Arthropathy associated with hematological disorders'), ('condition_mimic_flat', 'code_code', 'M1258', 'Traumatic arthropathy, other specified site')]


            For "lower" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "leg" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '228405', 'Motor L Leg'), ('observation_mimic_flat', 'code_code', '228407', 'Motor R Leg'), ('observation_mimic_flat', 'code_code', '228410', 'Strength L Leg'), ('condition_mimic_flat', 'code_code', '9166', 'FOREIGN BODY HIP/LEG'), ('condition_mimic_flat', 'code_code', 'M79605', 'Pain in left leg'), ('observation_mimic_flat', 'code_code', '228411', 'Strength R Leg'), ('condition_mimic_flat', 'code_code', 'M79604', 'Pain in right leg'), ('condition_mimic_flat', 'code_code', '71686', 'ARTHROPATHY NEC-L/LEG'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', '9244', 'MULTIPLE CONTUSION LEG'), ('condition_mimic_flat', 'code_code', '73681', 'Unequal leg length (acquired)'), ('condition_mimic_flat', 'code_code', 'M79662', 'Pain in left lower leg'), ('condition_mimic_flat', 'code_code', '71916', 'Hemarthrosis, lower leg')]


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id -- Join patients with their conditions
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id  -- Join patients with their procedures
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150' -- Filter for conditions diagnosed in 2150.
AND c.code_code = '71696' -- Filter for arthropathy, unspecified, lower leg.
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7) -- Ensure procedure and condition occur in the same month.
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613', '03L10ZZ', '03B10ZZ', '3617') -- Filter for single internal mammary-coronary artery bypass procedures.
;

Iteration 0 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error running query: [MISSING_COLUMN] org.apache.spark.sql.AnalysisException: Column 'p.patient_id' does not exist. Did you mean one of the following? [c.patient_id, pr.patient_id, pr.location_id, p.practitioner_id, p.active, c.category, c.encounter_id, pr.encounter_id, p.family, p.gender, p.given, p.id, pr.period_end, pr.practitioner_id, c.id, pr.id, p.is_deceased, p.organization_id, pr.status, p.birth_date, c.code_code, pr.code_code, c.code_sys, pr.code_sys, pr.period_start, p.deceased_time, p.identifier_sys, c.onset_datetime, c.code_display, pr.code_display, p.identifier_value, c.clinical_status, c.verification_status]; line 2 pos 22;\n'Project [unresolvedalias('COUNT(distinct 'p.patient_id), None)]\n+- Filter (((substr(onset_datetime#19516, 1, 4) = 2150) AND (code_code#19517 = 71696)) AND ((substr(period_start#20581, 1, 7) = substr(onset_date
END_ERROR
Iteration 1 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id  -- Join conditions with their procedures using patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150' -- Filter for conditions diagnosed in 2150.
AND c.code_code = '71696' -- Filter for arthropathy, unspecified, lower leg.
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7) -- Ensure procedure and condition occur in the same month.
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613', '03L10ZZ', '03B10ZZ', '3617') -- Filter for single internal mammary-coronary artery bypass procedures.
;

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id  -- Join conditions with their procedures using patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filter for conditions diagnosed in 2150
AND c.code_code = '71696'  -- Filter for arthropathy, unspecified, lower leg
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Ensure procedure and condition occur in the same month
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613', '03L10ZZ', '03B10ZZ', '3617');  -- Filter for single internal mammary-coronary artery bypass procedures

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id  -- Join conditions with their procedures based on patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Filter for conditions diagnosed in 2150
AND c.code_code = '71696'  -- Filter for arthropathy, unspecified, lower leg
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Ensure procedure and condition occur in the same month
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613', '03L10ZZ', '03B10ZZ', '3617');  -- Filter for single internal mammary-coronary artery bypass procedures

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id  -- Join conditions and procedures on patient_id
WHERE SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- Conditions diagnosed in 2150
AND c.code_code = '71696'  -- Arthropathy, unspecified, lower leg
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Procedure and condition in the same month
AND pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9', '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613', '03L10ZZ', '03B10ZZ', '3617');  -- Single internal mammary-coronary artery bypass

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [68]:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(c.onset_datetime, 1, 4) AS cond_year, COUNT(*) AS num_cond
FROM condition_mimic_flat c
WHERE c.code_code = '71696'
GROUP BY cond_year
ORDER BY num_cond DESC
LIMIT 10;
;
    """,
    con=spark_query_engine,
)

  cond_year  num_cond
0      None       314

In [72]:
# This is the same issue with procedure dates not being in `pariod` but `performed`.
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(pr.period_start, 1, 7) AS month, COUNT(DISTINCT patient_id) AS num_patients
FROM procedure_mimic_flat pr
WHERE pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099',
  '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9',
  '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613',
  '03L10ZZ', '03B10ZZ', '3617')  -- Single internal mammary-coronary artery bypass
-- AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Procedure and condition in the same month
GROUP BY month
ORDER BY num_patients DESC
LIMIT 20
;
    """,
    con=spark_query_engine,
)

  month  num_patients
0  None          5487

In [ ]:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(pr.period_start, 1, 7) AS month, COUNT(DISTINCT patient_id) AS num_patients
FROM procedure_mimic_flat pr
WHERE pr.code_code IN ('3615', '3616', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099',
  '02110Z8', '02110A8', '3611', '02104Z9', '02110A9', '02110Z9', '02120Z8', '02120A8', '02130Z8', '02120A9',
  '02120Z9', '0211099', '0213099', '0210499', '0212099', '3612', '03U007Z', '03U107Z', '3613',
  '03L10ZZ', '03B10ZZ', '3617')  -- Single internal mammary-coronary artery bypass
-- AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- Procedure and condition in the same month
GROUP BY month
ORDER BY num_patients DESC
LIMIT 20
;
    """,
    con=spark_query_engine,
)

#### After adding `performed.dateTime` to `procedure_mimic_flat`

In [82]:
query_instance_10_07_30.iterative_gen_sql(
    query='''
    How many patients underwent single internal mammary-coronary artery bypass during the same
    month after the diagnosis with arthropathy, unspecified, lower leg, in 2150?
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "single internal mammary-coronary artery bypass" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '3615', 'Single internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '3616', 'Double internal mammary-coronary artery bypass'), ('procedure_mimic_flat', 'code_code', '02100A8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z8', 'Bypass Coronary Artery, One Artery from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100A9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02100Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210098', 'Bypass Coronary Artery, One Artery from Right Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210099', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110A8', 'Bypass Coronary Artery, Two Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3611', '(Aorto)coronary bypass of one coronary artery'), ('procedure_mimic_flat', 'code_code', '02104Z9', 'Bypass Coronary Artery, One Artery from Left Internal Mammary, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '02110A9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02110Z9', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A8', 'Bypass Coronary Artery, Three Arteries from Right Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02130Z8', 'Bypass Coronary Artery, Four or More Arteries from Right Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120A9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Arterial Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '02120Z9', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary, Open Approach'), ('procedure_mimic_flat', 'code_code', '0211099', 'Bypass Coronary Artery, Two Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0213099', 'Bypass Coronary Artery, Four or More Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '0210499', 'Bypass Coronary Artery, One Artery from Left Internal Mammary with Autologous Venous Tissue, Percutaneous Endoscopic Approach'), ('procedure_mimic_flat', 'code_code', '0212099', 'Bypass Coronary Artery, Three Arteries from Left Internal Mammary with Autologous Venous Tissue, Open Approach'), ('procedure_mimic_flat', 'code_code', '3612', '(Aorto)coronary bypass of two coronary arteries'), ('procedure_mimic_flat', 'code_code', '03U007Z', 'Supplement Right Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '03U107Z', 'Supplement Left Internal Mammary Artery with Autologous Tissue Substitute, Open Approach'), ('procedure_mimic_flat', 'code_code', '3613', '(Aorto)coronary bypass of three coronary arteries'), ('procedure_mimic_flat', 'code_code', '03L10ZZ', 'Occlusion of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '03B10ZZ', 'Excision of Left Internal Mammary Artery, Open Approach'), ('procedure_mimic_flat', 'code_code', '3617', 'Abdominal-coronary artery bypass')]


            For "the same
    month" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "arthropathy" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', 'M129', 'Arthropathy, unspecified'), ('condition_mimic_flat', 'code_code', '71688', 'Other specified arthropathy, other specified sites'), ('condition_mimic_flat', 'code_code', 'M154', 'Erosive (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71690', 'Arthropathy, unspecified, site unspecified'), ('condition_mimic_flat', 'code_code', 'M064', 'Inflammatory polyarthropathy'), ('condition_mimic_flat', 'code_code', '71689', 'Other specified arthropathy, multiple sites'), ('condition_mimic_flat', 'code_code', '71680', 'Other specified arthropathy, site unspecified'), ('condition_mimic_flat', 'code_code', '71698', 'Arthropathy, unspecified, other specified sites'), ('condition_mimic_flat', 'code_code', '7138', 'Arthropathy associated with other conditions classifiable elsewhere'), ('condition_mimic_flat', 'code_code', 'M150', 'Primary generalized (osteo)arthritis'), ('condition_mimic_flat', 'code_code', '71687', 'Other specified arthropathy, ankle and foot'), ('condition_mimic_flat', 'code_code', '7140', 'Rheumatoid arthritis'), ('condition_mimic_flat', 'code_code', '6960', 'Psoriatic arthropathy'), ('condition_mimic_flat', 'code_code', '71699', 'Arthropathy, unspecified, multiple sites'), ('condition_mimic_flat', 'code_code', '7144', 'Chronic postrheumatic arthropathy'), ('condition_mimic_flat', 'code_code', 'M363', 'Arthropathy in other blood disorders'), ('condition_mimic_flat', 'code_code', 'D8686', 'Sarcoid arthropathy'), ('observation_mimic_flat', 'code_code', '228703', 'Musculoskeletal'), ('condition_mimic_flat', 'code_code', 'M153', 'Secondary multiple arthritis'), ('condition_mimic_flat', 'code_code', '71697', 'Arthropathy, unspecified, ankle and foot'), ('condition_mimic_flat', 'code_code', '7135', 'Arthropathy associated with neurological disorders'), ('condition_mimic_flat', 'code_code', '71694', 'Arthropathy, unspecified, hand'), ('condition_mimic_flat', 'code_code', '71696', 'Arthropathy, unspecified, lower leg'), ('condition_mimic_flat', 'code_code', '73392', 'Chondromalacia'), ('condition_mimic_flat', 'code_code', '7137', 'Other general diseases with articular involvement'), ('condition_mimic_flat', 'code_code', '7133', 'Arthropathy associated with dermatological disorders'), ('condition_mimic_flat', 'code_code', 'M1288', 'Other specific arthropathies, not elsewhere classified, other specified site'), ('condition_mimic_flat', 'code_code', '2740', 'Gouty arthropathy'), ('condition_mimic_flat', 'code_code', '7132', 'Arthropathy associated with hematological disorders'), ('condition_mimic_flat', 'code_code', 'M1258', 'Traumatic arthropathy, other specified site')]


            For "lower" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "leg" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '225461', 'Pelvis'), ('observation_mimic_flat', 'code_code', '228405', 'Motor L Leg'), ('observation_mimic_flat', 'code_code', '228407', 'Motor R Leg'), ('observation_mimic_flat', 'code_code', '228410', 'Strength L Leg'), ('condition_mimic_flat', 'code_code', '9166', 'FOREIGN BODY HIP/LEG'), ('condition_mimic_flat', 'code_code', 'M79605', 'Pain in left leg'), ('observation_mimic_flat', 'code_code', '228411', 'Strength R Leg'), ('condition_mimic_flat', 'code_code', 'M79604', 'Pain in right leg'), ('condition_mimic_flat', 'code_code', '71686', 'ARTHROPATHY NEC-L/LEG'), ('condition_mimic_flat', 'code_code', '9597', 'LOWER LEG INJURY NOS'), ('condition_mimic_flat', 'code_code', '9244', 'MULTIPLE CONTUSION LEG'), ('condition_mimic_flat', 'code_code', '73681', 'Unequal leg length (acquired)'), ('condition_mimic_flat', 'code_code', 'M79662', 'Pain in left lower leg'), ('condition_mimic_flat', 'code_code', '71916', 'Hemarthrosis, lower leg')]


            For "2150" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


Iteration 0 SQL:

SELECT COUNT(DISTINCT p.patient_id)
FROM patient_mimic_flat p
JOIN condition_mimic_flat c ON p.id = c.patient_id
JOIN procedure_mimic_flat pr ON p.id = pr.patient_id
WHERE c.code_code = '71696'  -- Diagnosis with arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150' -- in 2150
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7) -- During the same month
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499') -- Single internal mammary-coronary artery bypass codes
;

Iteration 0 SQL execution output:
START_ERROR
(pyhive.exc.OperationalError) TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=["*org.apache.hive.service.cli.HiveSQLException:Error running query: [MISSING_COLUMN] org.apache.spark.sql.AnalysisException: Column 'p.patient_id' does not exist. Did you mean one of the following? [c.patient_id, pr.patient_id, pr.location_id, p.practitioner_id, p.active, c.category, c.encounter_id, pr.encounter_id, p.family, p.gender, p.given, p.id, pr.period_end, pr.practitioner_id, c.id, pr.id, p.is_deceased, p.organization_id, pr.status, p.birth_date, c.code_code, pr.code_code, c.code_sys, pr.code_sys, pr.period_start, p.deceased_time, p.identifier_sys, c.onset_datetime, pr.performed_time, c.code_display, pr.code_display, p.identifier_value, c.clinical_status, c.verification_status]; line 2 pos 22;\n'Project [unresolvedalias('COUNT(distinct 'p.patient_id), None)]\n+- Filter (((code_code#21334 = 71696) AND (substr(onset_datetime#21333, 1, 4) = 2150)) AND ((substr(period_start#22399, 1, 7)
END_ERROR
Iteration 1 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id  -- Join condition and procedure tables on patient_id
WHERE c.code_code = '71696'  -- Diagnosis with arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150'  -- in 2150
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)  -- During the same month
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499')  -- Single internal mammary-coronary artery bypass codes
;

Iteration 1 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 2 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id
WHERE c.code_code = '71696' -- Diagnosis with arthropathy, unspecified, lower leg
AND SUBSTR(c.onset_datetime, 1, 4) = '2150' -- Condition occurred in 2150
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7) -- Procedure occurred in the same month as the condition
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499'); -- Procedure is a single internal mammary-coronary artery bypass

Iteration 2 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 3 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id
WHERE c.code_code = '71696'  -- Diagnosis with arthropathy, unspecified, lower leg
AND substr(c.onset_datetime, 1, 4) = '2150'  -- Condition occurred in 2150
AND substr(pr.period_start, 1, 7) = substr(c.onset_datetime, 1, 7)  -- Procedure occurred in the same month as the condition
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499');  -- Procedure is a single internal mammary-coronary artery bypass

Iteration 3 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT
Iteration 4 SQL:

SELECT COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id
WHERE c.code_code = '71696'
AND SUBSTR(c.onset_datetime, 1, 4) = '2150'
AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499');

Iteration 4 SQL execution output:
START_OUTPUT
(0,)
END_OUTPUT

In [13]:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(c.onset_datetime, 1, 4) AS year, COUNT(DISTINCT c.patient_id)
FROM condition_mimic_flat c
JOIN procedure_mimic_flat pr ON c.patient_id = pr.patient_id
WHERE c.code_code = '71696'
-- AND SUBSTR(c.onset_datetime, 1, 4) = '2150'
-- AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)
AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499')
GROUP BY year
ORDER BY year
;
    """,
    con=spark_query_engine,
)

   year  count(DISTINCT patient_id)
0  None                          15

In [14]:
pd.read_sql_query(
    sql="""
    SELECT SUBSTR(c.onset_datetime, 1, 4) AS year, COUNT(*)
FROM condition_mimic_flat c
-- WHERE c.code_code = '71696'
-- AND SUBSTR(c.onset_datetime, 1, 4) = '2150'
-- AND SUBSTR(pr.period_start, 1, 7) = SUBSTR(c.onset_datetime, 1, 7)
-- AND pr.code_code IN ('3615', '02100A8', '02100Z8', '02100A9', '02100Z9', '0210098', '0210099', '3611', '02104Z9', '0210499')
GROUP BY year
ORDER BY year
;
    """,
    con=spark_query_engine,
)

   year  count(1)
0  None   5655376

In [26]:
pd.read_sql_query(
    sql="""
    SELECT id, onset
FROM condition_mimic c
LIMIT 5
;
    """,
    con=spark_query_engine,
)

                                     id onset
0  283c04d1-a092-58da-8118-2374dd7e37fc  None
1  916c70a6-56a3-55c4-8a54-a5bd3f67dd69  None
2  789d8b3e-d873-584c-8e76-fa43b46f4696  None
3  ff0fbb16-eb00-5d58-9570-1e25d5463ffe  None
4  c0878bb9-f070-5dc4-9003-884b03ca2534  None

# Appendix: Full prompt
This section includes some examples that show the full prompt. They are moved
here to reduce clutter.

In [64]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    For encounters in which the blood oxygen level of the patient is measured through both
    pulse oximeter (SpO2) and Arterial Blood Gas (ABG) test, find the average of for each
    method and count the number of those that the difference between those two average values
    is at most 2% vs those that it is greater than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "the blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('observation_mimic_flat', 'code_code', '50823', 'Required O2'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level')]


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "each
    method" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "two" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '50947', 'I')]


            For "most 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "greater" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


PROMPT:

Assume that we have a database with these tables and schema:

Table condition_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
onset_datetime: string
code_code: string
code_sys: string
code_display: string
category: string
clinical_status: string
verification_status: string

Table encounter_mimic_flat columns and types are:
id: string
status: string
patient_id: string
service_org_id: string
period_start: string
period_end: string
EpisodeOfCareId: string
type_sys: string
type_code: string
type_display: string
practitioner_id: string
location_id: string

Table location_mimic_flat columns and types are:
id: string
status: string
name: string
city: string
country: string
longitude: string
latitude: string
altitude: string
org_id: string

Table medication_request_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
status: string
intent: string
doNotPerform: boolean
req_practitioner_id: string
perf_practitioner_id: string
med_id: string
medication_system: string
medication_code: string
medication_display: string
statusReason_sys: string
statusReason_code: string
statusReason_display: string

Table observation_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
status: string
obs_date: string
val_quantity: double
val_quantity_unit: string
val_quantity_system: string
val_quantity_code: string
code_code: string
code_sys: string
code_display: string
value_code: string
value_sys: string
value_display: string

Table organization_mimic_flat columns and types are:
id: string
active: boolean
name: string
partOf_org_id: string
city: string
country: string
type_sys: string
type_code: string
type_display: string

Table patient_mimic_flat columns and types are:
id: string
active: boolean
gender: string
birth_date: string
is_deceased: boolean
deceased_time: string
organization_id: string
practitioner_id: string
family: string
given: string

Table procedure_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
practitioner_id: string
location_id: string
status: string
period_start: string
period_end: string
code_code: string
code_sys: string
code_display: string


Here are some sample values from these tables:

Here are 10 sample values from column id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  3f478f25-b897-57e3-979f-1970b86dde2d  1
1  3a554e57-e7fb-59ae-b721-8b78ec750bc5  1
2  22f92872-23a9-53ef-b7c1-4789649b61c6  1
3  3296faa4-4224-5338-95fb-0b21bbfae500  1
4  f2f85b5f-74de-5700-b493-0fec2a157d22  1
5  fdae5b93-e7b9-5d51-aee9-6ca8f9ad76c0  1
6  b6a76c8d-c9ec-5a58-b6e7-58eac3dfc4a1  1
7  43ae2028-5d4d-5a33-b09e-71ee0db8bc30  1
8  6204d451-123f-5970-8c3f-fec242fa1169  1
9  8228fa62-fbcf-5261-bc5b-059fe8a6dcbe  1

Here are 10 sample values from column patient_id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  268bbeb8-d84f-522b-981e-ccaf495839f6  315
1  265ae86d-9072-5d41-8018-5e43225511c3  298
2  26785ea2-73fa-5982-ba4f-81d7e0536edb  240
3  264f00f0-1d3e-55e1-b7ae-584b97ded95e  235
4  264e19d3-7280-519e-8964-90ba135ec938  211
5  26bfa2fa-a515-5124-a948-b89d7edb87dd  180
6  26bf7618-00f9-504c-afed-481196e16906  173
7  2655f629-8e24-5ffc-9395-c0ea611823c1  168
8  26bd2c4f-0713-583d-866b-834df4bbff17  141
9  267a5eba-a493-59ec-86fe-45f3aa9ab909  129

Here are 10 sample values from column encounter_id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  20bc2bf8-f882-5280-b658-508bf0e3637b  39
1  1200f0e0-5a47-5fd4-93ed-ae6c0511d077  39
2  ff9fc6c0-f976-55ff-b49e-5f154478a042  39
3  cee46858-960b-5ea0-8e41-cd11ae5629e4  37
4  db25d4f9-e74e-5624-96ea-0ce2863cbc6f  36
5  ba296e4e-df50-5321-8da6-7adb34d6be9c  36
6  fc34da90-a031-52ef-8c88-8e993ed2e94b  36
7  b9f0bdb5-4968-573c-a59d-07769d79d5da  36
8  9ee57703-0442-5e1f-a4be-5986a8b8bc34  35
9  0a63dc87-bb07-5f47-9cc7-87629d24ba19  35

Here are 10 sample values from column onset_datetime of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column code_code of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0    4019  181
1    2724  157
2    E785  128
3   25000  109
4     I10   95
5  Z87891   95
6    F329   93
7   V1582   90
8    K219   81
9   53081   79

Here are 10 sample values from column code_sys of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0   http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-diagnosis-icd9  5495
1  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-diagnosis-icd10  4505

Here are 10 sample values from column code_display of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                                                                          Unspecified essential hypertension  181
1                                                                        Other and unspecified hyperlipidemia  157
2                                                                                 Hyperlipidemia, unspecified  128
3  Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled  109
4                                                                            Essential (primary) hypertension   95
5                                                                     Personal history of nicotine dependence   95
6                                                      Major depressive disorder, single episode, unspecified   93
7                                                                           Acute kidney failure, unspecified   91
8                                                                             Personal history of tobacco use   90
9                                                        Gastro-esophageal reflux disease without esophagitis   81

Here are 10 sample values from column category of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  encounter-diagnosis  10000

Here are 10 sample values from column clinical_status of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column verification_status of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  fc9316a1-8afa-53e4-b82f-72bc86d2bc11  21
1  818e2c91-5c54-5aac-9041-c9fce1f2f220  15
2  0c7ec3d2-bd8b-511c-b066-6a55b0ffa33a  15
3  c839f081-9c32-5821-9f52-54fda5117ac7  15
4  8b6eac30-a540-5bcf-a325-6c4f6ebc5f05  14
5  df9483b7-08ea-5ddb-8e94-833ec10d13f7  13
6  1086d586-342c-50ac-9027-0aed36c08d9a  13
7  f34cfa92-7ac8-5137-8db2-f0cbcde00d56  12
8  5a3ed828-e0f1-549e-b10f-06d79691369b  12
9  cb3e63d7-24f1-50dc-94ef-029d280c1c52  12

Here are 10 sample values from column status of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  finished  10000

Here are 10 sample values from column patient_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  78f7c72d-df3a-5cac-a5ce-f361fa92eda8  117
1  791e5bcc-83d7-5b47-8415-b87db063d77a  104
2  7843eb67-36c9-504c-8bcf-19cfb7b8f4c7   94
3  7873a8b8-ebe2-5268-8715-b8b1573a3b0f   84
4  78e1bc4c-e80f-5c2c-a331-ba05b3548620   82
5  78e334be-02e8-580e-a5ff-3435ecb27e5b   81
6  7902ac71-6e0e-5feb-8937-b7542a68415d   76
7  7920a648-7e30-5f0b-a871-d5a2a04a2d96   72
8  78583116-6611-5413-b5f4-347ec6825659   58
9  7883fc65-b0e5-5442-bd8d-58d13a0a0c09   57

Here are 10 sample values from column service_org_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ee172322-118b-5716-abbc-18e4c5437e15  10000

Here are 10 sample values from column period_start of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  2126-07-21T01:51:00-04:00  21
1  2152-07-24T17:41:00-04:00  15
2  2138-09-16T05:49:00-04:00  15
3  2114-12-03T12:36:00-05:00  15
4  2170-04-17T06:17:00-04:00  14
5  2127-01-28T14:50:00-05:00  13
6  2131-01-11T21:56:00-05:00  13
7  2126-10-14T23:27:00-04:00  12
8  2155-02-15T14:47:00-05:00  12
9  2127-04-14T14:30:00-04:00  12

Here are 10 sample values from column period_end of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  2126-11-06T12:33:00-05:00  21
1  2152-10-01T15:15:00-04:00  15
2  2138-09-19T10:45:00-04:00  15
3  2115-01-03T00:55:00-05:00  15
4  2170-06-08T03:30:00-04:00  14
5  2127-02-25T18:15:00-05:00  13
6  2131-04-23T10:23:00-04:00  13
7  2126-10-16T17:10:00-04:00  12
8  2155-02-16T10:27:00-05:00  12
9  2127-05-08T14:15:00-04:00  12

Here are 10 sample values from column EpisodeOfCareId of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column type_sys of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                                     http://snomed.info/sct  7577
1  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-hcpcs-cd  2423

Here are 10 sample values from column type_code of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  308335008  7577
1      99219   872
2      G0378   780
3      99218   200
4      99220   151
5      C9600    17
6      43235    14
7      43264    14
8      43239    12
9      47562    11

Here are 10 sample values from column type_display of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0    Patient encounter procedure  7577
1  Hospital observation services  1223
2    Hospital observation per hr   780
3               Digestive system   152
4         Musculoskeletal system    69
5                 Nervous system    35
6                 Cardiovascular    33
7          Cardiovascular system    30
8             Respiratory system    22
9    Perc drug-el cor stent sing    17

Here are 10 sample values from column practitioner_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column location_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  501cd59a-cd8a-5f98-8298-2ca9c897d59f  2669
1  0fc2d23b-0e5b-5f91-8369-6d37301fea51  1447
2  c69e109f-5540-5e58-98a8-32154d4c539d   718
3  0483cba3-574b-58e3-a6a1-2eec0f3b707a   432
4  f4ed77ed-3be3-5700-bc6a-3622ca10f90f   420
5  9152585d-31b9-50ca-9476-a4db49030917   342
6  25fdf8f3-5c5e-517b-b732-8f4501f25c33   329
7  ce894871-5616-57b1-9cf0-687c06efb1f0   313
8  35f60a03-d022-5ad4-9952-6494d475fc09   312
9  0e7530e9-f728-5f0f-a959-bfd148882219   298

Here are 10 sample values from column id of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ecbf468a-22ec-5320-8e11-6ebcc918dad5  1
1  501cd59a-cd8a-5f98-8298-2ca9c897d59f  1
2  f4ed77ed-3be3-5700-bc6a-3622ca10f90f  1
3  30fa4243-10dc-5b14-8819-e4785f8dd4a7  1
4  dcde0b27-37b5-5ef1-8d7e-85d608901e2b  1
5  7fc6d652-37b4-5812-9412-a1e397a11d7f  1
6  73a95bb4-bc53-5ad9-ba8b-0cc7d99bc51f  1
7  d82eeafd-5ac3-5765-8eb2-2b4153978abb  1
8  77b3f959-fa2c-5599-8713-a86815b29a4a  1
9  f35a0cd4-fadf-5ba5-9648-64ccf26866f5  1

Here are 10 sample values from column status of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  active  39

Here are 10 sample values from column name of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                   Cardiology Surgery Intermediate  1
1                              Emergency Department  1
2                                  Discharge Lounge  1
3                          Coronary Care Unit (CCU)  1
4  Medical/Surgical Intensive Care Unit (MICU/SICU)  1
5                                      Med/Surg/GYN  1
6                                           Unknown  1
7                                   Med/Surg/Trauma  1
8                Medical Intensive Care Unit (MICU)  1
9                                           Surgery  1

Here are 10 sample values from column city of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column country of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column longitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column latitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column altitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column org_id of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ee172322-118b-5716-abbc-18e4c5437e15  39

Here are 10 sample values from column id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  723231f4-af5d-5e47-991c-84447abbf568  1
1  1695e831-b5c1-58d4-9caa-e9340e604eea  1
2  8cb483ec-f356-5ef3-811a-a104a0b45f76  1
3  3cb708d6-cacf-520a-b322-05fcb72f8bf4  1
4  4764b1da-12ad-502d-b8b8-13cebfe0b48c  1
5  41e96034-16a9-5d7d-bb56-4c8141154d56  1
6  dc4f507d-9708-5e4e-8817-a1ab4b8aea42  1
7  76dad988-2468-53e3-8adf-c9ffdac4049f  1
8  86dea594-b9e5-558b-9a62-cdcca9a0397e  1
9  cb08d62d-80ec-53ad-84d2-421d41f39711  1

Here are 10 sample values from column patient_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  abc94c7b-d0af-5b72-b25a-6454507bffb3  1855
1  abacb6ed-4084-5578-8e06-02ddb726aca8   523
2  abbdf316-a81c-517b-b1e5-e4fbd634468e   488
3  abc797a2-a9f7-5ff7-a96a-f080a493cfc1   483
4  abbf0360-7c31-5877-b460-edb285e38366   421
5  abb870be-df4b-569f-8ee5-df8e50961335   408
6  abae2ff1-bd34-5445-a6c5-b46f3e419f64   401
7  abc4ab48-9ab5-59ae-9419-a853bab7d030   371
8  abc9fe43-9f29-5e42-8a22-79c2a41e61d3   280
9  abb568a0-4c5e-5643-9a67-9b5f143fbb7f   276

Here are 10 sample values from column encounter_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  cbbfb35d-7713-5dc5-84d6-ed18799d486f  255
1  5b03eebc-bdcf-518f-9d7a-6843262b94a4  168
2  3c59c526-50af-5650-8351-6bf2d8dae18d  162

In [67]:
query_instance_10_07_20.iterative_gen_sql(
    query='''
    Count the number of patients that within an hour, their blood oxygen level is
    measured through both pulse oximeter (SpO2) and Arterial Blood Gas (ABG) test
    and the difference of those two measurements is more than 2%.
    ''',
    table_suffix='_mimic_flat',
    num_rounds=5
)

CLOSE CONCEPTS:

            For "their blood oxygen level" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "pulse oximeter" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('procedure_mimic_flat', 'code_code', '7538', 'Fetal pulse oximetry'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '223770', 'O2 Saturation Pulseoxymetry Alarm - Low'), ('observation_mimic_flat', 'code_code', '223769', 'O2 Saturation Pulseoxymetry Alarm - High'), ('procedure_mimic_flat', 'code_code', '8963', 'Pulmonary artery pressure monitoring'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid')]


            For "SpO2" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('observation_mimic_flat', 'code_code', '223772', 'SvO2'), ('observation_mimic_flat', 'code_code', '50821', 'pO2'), ('observation_mimic_flat', 'code_code', '226253', 'SpO2 Desat Limit'), ('observation_mimic_flat', 'code_code', '220277', 'O2 saturation pulseoxymetry'), ('observation_mimic_flat', 'code_code', '227516', 'PO2 (Mixed Venous)'), ('observation_mimic_flat', 'code_code', '226541', 'ScvO2 Central Venous O2% Sat'), ('observation_mimic_flat', 'code_code', '50832', 'pO2, Body Fluid'), ('observation_mimic_flat', 'code_code', '227541', 'SvO2 Calibrated'), ('observation_mimic_flat', 'code_code', '229317', 'StO2'), ('observation_mimic_flat', 'code_code', '227805', 'SvO2 SQI'), ('observation_mimic_flat', 'code_code', '227549', 'ScvO2 (Presep)'), ('observation_mimic_flat', 'code_code', '50817', 'Oxygen Saturation'), ('observation_mimic_flat', 'code_code', '229841', 'FiO2 (CH)'), ('observation_mimic_flat', 'code_code', '226063', 'Venous O2 Pressure'), ('observation_mimic_flat', 'code_code', '229280', 'FiO2 (ECMO)'), ('observation_mimic_flat', 'code_code', '50816', 'Oxygen'), ('observation_mimic_flat', 'code_code', '229862', 'Forehead SpO2 Sensor in Place'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('condition_mimic_flat', 'code_code', '79902', 'Hypoxemia'), ('condition_mimic_flat', 'code_code', 'R0902', 'Hypoxemia')]


            For "Arterial Blood Gas" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            [('condition_mimic_flat', 'code_code', '79091', 'Abnormal arterial blood gases'), ('procedure_mimic_flat', 'code_code', '8960', 'Continuous intra-arterial blood gas monitoring'), ('procedure_mimic_flat', 'code_code', '8965', 'Measurement of systemic arterial blood gases'), ('condition_mimic_flat', 'code_code', 'R7981', 'Abnormal blood-gas level'), ('observation_mimic_flat', 'code_code', '2708-6', 'Oxygen saturation in Arterial blood'), ('observation_mimic_flat', 'code_code', '220235', 'Arterial CO2 Pressure'), ('observation_mimic_flat', 'code_code', '220227', 'Arterial O2 Saturation'), ('observation_mimic_flat', 'code_code', '220224', 'Arterial O2 pressure')]


            For "ABG) test" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "those two measurements" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


            For "more than than 2%" this is the list of relevant codes and their description, the format
            of list elements is ('table_name', 'code_column_name', 'code', 'display'):
            []


PROMPT:

Assume that we have a database with these tables and schema:

Table condition_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
onset_datetime: string
code_code: string
code_sys: string
code_display: string
category: string
clinical_status: string
verification_status: string

Table encounter_mimic_flat columns and types are:
id: string
status: string
patient_id: string
service_org_id: string
period_start: string
period_end: string
EpisodeOfCareId: string
type_sys: string
type_code: string
type_display: string
practitioner_id: string
location_id: string

Table location_mimic_flat columns and types are:
id: string
status: string
name: string
city: string
country: string
longitude: string
latitude: string
altitude: string
org_id: string

Table medication_request_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
status: string
intent: string
doNotPerform: boolean
req_practitioner_id: string
perf_practitioner_id: string
med_id: string
medication_system: string
medication_code: string
medication_display: string
statusReason_sys: string
statusReason_code: string
statusReason_display: string

Table observation_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
status: string
obs_date: string
val_quantity: double
val_quantity_unit: string
val_quantity_system: string
val_quantity_code: string
code_code: string
code_sys: string
code_display: string
value_code: string
value_sys: string
value_display: string

Table organization_mimic_flat columns and types are:
id: string
active: boolean
name: string
partOf_org_id: string
city: string
country: string
type_sys: string
type_code: string
type_display: string

Table patient_mimic_flat columns and types are:
id: string
active: boolean
gender: string
birth_date: string
is_deceased: boolean
deceased_time: string
organization_id: string
practitioner_id: string
family: string
given: string

Table procedure_mimic_flat columns and types are:
id: string
patient_id: string
encounter_id: string
practitioner_id: string
location_id: string
status: string
period_start: string
period_end: string
code_code: string
code_sys: string
code_display: string


Here are some sample values from these tables:

Here are 10 sample values from column id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  3f478f25-b897-57e3-979f-1970b86dde2d  1
1  3a554e57-e7fb-59ae-b721-8b78ec750bc5  1
2  22f92872-23a9-53ef-b7c1-4789649b61c6  1
3  3296faa4-4224-5338-95fb-0b21bbfae500  1
4  f2f85b5f-74de-5700-b493-0fec2a157d22  1
5  fdae5b93-e7b9-5d51-aee9-6ca8f9ad76c0  1
6  b6a76c8d-c9ec-5a58-b6e7-58eac3dfc4a1  1
7  43ae2028-5d4d-5a33-b09e-71ee0db8bc30  1
8  6204d451-123f-5970-8c3f-fec242fa1169  1
9  8228fa62-fbcf-5261-bc5b-059fe8a6dcbe  1

Here are 10 sample values from column patient_id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  268bbeb8-d84f-522b-981e-ccaf495839f6  315
1  265ae86d-9072-5d41-8018-5e43225511c3  298
2  26785ea2-73fa-5982-ba4f-81d7e0536edb  240
3  264f00f0-1d3e-55e1-b7ae-584b97ded95e  235
4  264e19d3-7280-519e-8964-90ba135ec938  211
5  26bfa2fa-a515-5124-a948-b89d7edb87dd  180
6  26bf7618-00f9-504c-afed-481196e16906  173
7  2655f629-8e24-5ffc-9395-c0ea611823c1  168
8  26bd2c4f-0713-583d-866b-834df4bbff17  141
9  267a5eba-a493-59ec-86fe-45f3aa9ab909  129

Here are 10 sample values from column encounter_id of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  20bc2bf8-f882-5280-b658-508bf0e3637b  39
1  1200f0e0-5a47-5fd4-93ed-ae6c0511d077  39
2  ff9fc6c0-f976-55ff-b49e-5f154478a042  39
3  cee46858-960b-5ea0-8e41-cd11ae5629e4  37
4  db25d4f9-e74e-5624-96ea-0ce2863cbc6f  36
5  ba296e4e-df50-5321-8da6-7adb34d6be9c  36
6  fc34da90-a031-52ef-8c88-8e993ed2e94b  36
7  b9f0bdb5-4968-573c-a59d-07769d79d5da  36
8  9ee57703-0442-5e1f-a4be-5986a8b8bc34  35
9  0a63dc87-bb07-5f47-9cc7-87629d24ba19  35

Here are 10 sample values from column onset_datetime of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column code_code of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0    4019  181
1    2724  157
2    E785  128
3   25000  109
4     I10   95
5  Z87891   95
6    F329   93
7   V1582   90
8    K219   81
9   53081   79

Here are 10 sample values from column code_sys of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0   http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-diagnosis-icd9  5495
1  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-diagnosis-icd10  4505

Here are 10 sample values from column code_display of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                                                                          Unspecified essential hypertension  181
1                                                                        Other and unspecified hyperlipidemia  157
2                                                                                 Hyperlipidemia, unspecified  128
3  Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled  109
4                                                                            Essential (primary) hypertension   95
5                                                                     Personal history of nicotine dependence   95
6                                                      Major depressive disorder, single episode, unspecified   93
7                                                                           Acute kidney failure, unspecified   91
8                                                                             Personal history of tobacco use   90
9                                                        Gastro-esophageal reflux disease without esophagitis   81

Here are 10 sample values from column category of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  encounter-diagnosis  10000

Here are 10 sample values from column clinical_status of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column verification_status of table condition_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  fc9316a1-8afa-53e4-b82f-72bc86d2bc11  21
1  818e2c91-5c54-5aac-9041-c9fce1f2f220  15
2  0c7ec3d2-bd8b-511c-b066-6a55b0ffa33a  15
3  c839f081-9c32-5821-9f52-54fda5117ac7  15
4  8b6eac30-a540-5bcf-a325-6c4f6ebc5f05  14
5  df9483b7-08ea-5ddb-8e94-833ec10d13f7  13
6  1086d586-342c-50ac-9027-0aed36c08d9a  13
7  f34cfa92-7ac8-5137-8db2-f0cbcde00d56  12
8  5a3ed828-e0f1-549e-b10f-06d79691369b  12
9  cb3e63d7-24f1-50dc-94ef-029d280c1c52  12

Here are 10 sample values from column status of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  finished  10000

Here are 10 sample values from column patient_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  78f7c72d-df3a-5cac-a5ce-f361fa92eda8  117
1  791e5bcc-83d7-5b47-8415-b87db063d77a  104
2  7843eb67-36c9-504c-8bcf-19cfb7b8f4c7   94
3  7873a8b8-ebe2-5268-8715-b8b1573a3b0f   84
4  78e1bc4c-e80f-5c2c-a331-ba05b3548620   82
5  78e334be-02e8-580e-a5ff-3435ecb27e5b   81
6  7902ac71-6e0e-5feb-8937-b7542a68415d   76
7  7920a648-7e30-5f0b-a871-d5a2a04a2d96   72
8  78583116-6611-5413-b5f4-347ec6825659   58
9  7883fc65-b0e5-5442-bd8d-58d13a0a0c09   57

Here are 10 sample values from column service_org_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ee172322-118b-5716-abbc-18e4c5437e15  10000

Here are 10 sample values from column period_start of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  2126-07-21T01:51:00-04:00  21
1  2152-07-24T17:41:00-04:00  15
2  2138-09-16T05:49:00-04:00  15
3  2114-12-03T12:36:00-05:00  15
4  2170-04-17T06:17:00-04:00  14
5  2127-01-28T14:50:00-05:00  13
6  2131-01-11T21:56:00-05:00  13
7  2126-10-14T23:27:00-04:00  12
8  2155-02-15T14:47:00-05:00  12
9  2127-04-14T14:30:00-04:00  12

Here are 10 sample values from column period_end of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  2126-11-06T12:33:00-05:00  21
1  2152-10-01T15:15:00-04:00  15
2  2138-09-19T10:45:00-04:00  15
3  2115-01-03T00:55:00-05:00  15
4  2170-06-08T03:30:00-04:00  14
5  2127-02-25T18:15:00-05:00  13
6  2131-04-23T10:23:00-04:00  13
7  2126-10-16T17:10:00-04:00  12
8  2155-02-16T10:27:00-05:00  12
9  2127-05-08T14:15:00-04:00  12

Here are 10 sample values from column EpisodeOfCareId of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column type_sys of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                                     http://snomed.info/sct  7577
1  http://mimic.mit.edu/fhir/mimic/CodeSystem/mimic-hcpcs-cd  2423

Here are 10 sample values from column type_code of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  308335008  7577
1      99219   872
2      G0378   780
3      99218   200
4      99220   151
5      C9600    17
6      43235    14
7      43264    14
8      43239    12
9      47562    11

Here are 10 sample values from column type_display of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0    Patient encounter procedure  7577
1  Hospital observation services  1223
2    Hospital observation per hr   780
3               Digestive system   152
4         Musculoskeletal system    69
5                 Nervous system    35
6                 Cardiovascular    33
7          Cardiovascular system    30
8             Respiratory system    22
9    Perc drug-el cor stent sing    17

Here are 10 sample values from column practitioner_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column location_id of table encounter_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  501cd59a-cd8a-5f98-8298-2ca9c897d59f  2669
1  0fc2d23b-0e5b-5f91-8369-6d37301fea51  1447
2  c69e109f-5540-5e58-98a8-32154d4c539d   718
3  0483cba3-574b-58e3-a6a1-2eec0f3b707a   432
4  f4ed77ed-3be3-5700-bc6a-3622ca10f90f   420
5  9152585d-31b9-50ca-9476-a4db49030917   342
6  25fdf8f3-5c5e-517b-b732-8f4501f25c33   329
7  ce894871-5616-57b1-9cf0-687c06efb1f0   313
8  35f60a03-d022-5ad4-9952-6494d475fc09   312
9  0e7530e9-f728-5f0f-a959-bfd148882219   298

Here are 10 sample values from column id of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ecbf468a-22ec-5320-8e11-6ebcc918dad5  1
1  501cd59a-cd8a-5f98-8298-2ca9c897d59f  1
2  f4ed77ed-3be3-5700-bc6a-3622ca10f90f  1
3  30fa4243-10dc-5b14-8819-e4785f8dd4a7  1
4  dcde0b27-37b5-5ef1-8d7e-85d608901e2b  1
5  7fc6d652-37b4-5812-9412-a1e397a11d7f  1
6  73a95bb4-bc53-5ad9-ba8b-0cc7d99bc51f  1
7  d82eeafd-5ac3-5765-8eb2-2b4153978abb  1
8  77b3f959-fa2c-5599-8713-a86815b29a4a  1
9  f35a0cd4-fadf-5ba5-9648-64ccf26866f5  1

Here are 10 sample values from column status of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  active  39

Here are 10 sample values from column name of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0                   Cardiology Surgery Intermediate  1
1                              Emergency Department  1
2                                  Discharge Lounge  1
3                          Coronary Care Unit (CCU)  1
4  Medical/Surgical Intensive Care Unit (MICU/SICU)  1
5                                      Med/Surg/GYN  1
6                                           Unknown  1
7                                   Med/Surg/Trauma  1
8                Medical Intensive Care Unit (MICU)  1
9                                           Surgery  1

Here are 10 sample values from column city of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column country of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column longitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column latitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column altitude of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  39

Here are 10 sample values from column org_id of table location_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  ee172322-118b-5716-abbc-18e4c5437e15  39

Here are 10 sample values from column id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  723231f4-af5d-5e47-991c-84447abbf568  1
1  1695e831-b5c1-58d4-9caa-e9340e604eea  1
2  8cb483ec-f356-5ef3-811a-a104a0b45f76  1
3  3cb708d6-cacf-520a-b322-05fcb72f8bf4  1
4  4764b1da-12ad-502d-b8b8-13cebfe0b48c  1
5  41e96034-16a9-5d7d-bb56-4c8141154d56  1
6  dc4f507d-9708-5e4e-8817-a1ab4b8aea42  1
7  76dad988-2468-53e3-8adf-c9ffdac4049f  1
8  86dea594-b9e5-558b-9a62-cdcca9a0397e  1
9  cb08d62d-80ec-53ad-84d2-421d41f39711  1

Here are 10 sample values from column patient_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  abc94c7b-d0af-5b72-b25a-6454507bffb3  1855
1  abacb6ed-4084-5578-8e06-02ddb726aca8   523
2  abbdf316-a81c-517b-b1e5-e4fbd634468e   488
3  abc797a2-a9f7-5ff7-a96a-f080a493cfc1   483
4  abbf0360-7c31-5877-b460-edb285e38366   421
5  abb870be-df4b-569f-8ee5-df8e50961335   408
6  abae2ff1-bd34-5445-a6c5-b46f3e419f64   401
7  abc4ab48-9ab5-59ae-9419-a853bab7d030   371
8  abc9fe43-9f29-5e42-8a22-79c2a41e61d3   280
9  abb568a0-4c5e-5643-9a67-9b5f143fbb7f   276

Here are 10 sample values from column encounter_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  cbbfb35d-7713-5dc5-84d6-ed18799d486f  255
1  5b03eebc-bdcf-518f-9d7a-6843262b94a4  168
2  3c59c526-50af-5650-8351-6bf2d8dae18d  162
3  ab5cfddd-e80b-5a5d-ba2c-c818f810f500  162
4  515177bc-b2dc-5e72-b233-441393a78109  154
5  ecfb2ede-9474-5264-9f16-239dc014db69  153
6  946ae00c-a15e-5234-9649-e4f0f2cb41c7  149
7  3f72813c-454d-5101-808e-70167968fb95  148
8  0eaaf6f6-ecff-5f73-9cee-a3b72c1a6920  147
9  d6cde16e-e8b2-5bdc-ae9a-14f30233fe7c  138

Here are 10 sample values from column status of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  completed  6826
1    stopped  3156
2     active    17
3    unknown     1

Here are 10 sample values from column intent of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  order  10000

Here are 10 sample values from column doNotPerform of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column req_practitioner_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column perf_practitioner_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:

0  None  10000

Here are 10 sample values from column med_id of table medication_request_mimic_flat
sorted by their frequencies over at most 10000 rows:
