In [1]:
from datetime import datetime
import pandas
from typing import List, Any
import pyspark.sql.functions as F

import query_lib
import indicator_lib

In [2]:
BASE_DIR='./test_files_small/'
CODE_SYSTEM='http://snomed.info/sct'

patient_query = query_lib.patient_query_factory(
    query_lib.Runner.SPARK, BASE_DIR, CODE_SYSTEM)

## Encounter view

In [3]:
flat_enc_df = patient_query.get_patient_encounter_view()
flat_enc_df.head()

[INDICATORS_LOG 2021-08-21 01:45:46.671894] Number of Patient resources= 2
[INDICATORS_LOG 2021-08-21 01:45:48.461240] Number of Encounter resources= 28

,patientId,locationId,displayName,encTypeSystem,encTypeCode,numEncounters,firstDate,lastDate
0,8295eb5b-fba6-4e83-a5cb-2817b135cd27,b1a8b05e-3542-4037-bbd3-998ee9c40574,Inpatient Ward,None,None,4,None,None
1,637d5571-dee2-4e5e-8ece-b65d2d965081,58c57d25-8d39-41ab-8422-108a0c277d98,Outpatient Clinic,None,None,2,None,None
2,637d5571-dee2-4e5e-8ece-b65d2d965081,8d6c993e-c2cc-11de-8d13-0010c6dffd0f,Unknown Location,None,None,2,None,None
3,8295eb5b-fba6-4e83-a5cb-2817b135cd27,58c57d25-8d39-41ab-8422-108a0c277d98,Outpatient Clinic,None,None,10,None,None
4,8295eb5b-fba6-4e83-a5cb-2817b135cd27,8d6c993e-c2cc-11de-8d13-0010c6dffd0f,Unknown Location,None,None,10,None,None

## Observation view

In [49]:
_VL_CODE = '50373000'  # Height
_ARV_PLAN = '106230009'  # Diagnosis certainty; uuid 159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
_DRUG1 = '410596003'  # From "diagnosis certainty" values
_DRUG2 = '395098000'  # From "diagnosis certainty" values
end_date='2020-12-30'
start_date='2020-12-01'
old_start_date='2020-10-01'
BASE_PATIENT_URL='http://localhost:8099/openmrs/ws/fhir2/R4/Patient/'

patient_query.include_obs_values_in_time_range(
    _VL_CODE, min_time=old_start_date, max_time=end_date)
patient_query.include_obs_values_in_time_range(
    _ARV_PLAN, min_time=old_start_date, max_time=end_date)
patient_query.include_all_other_codes(min_time=start_date, max_time=end_date)
# Note the first call to `find_patient_aggregates` starts a local Spark
# cluster, load input files, and flattens observations. These won't be
# done in subsequent calls of this function on the same instance.
# Also same cluster will be reused for other instances of `PatientQuery`.
agg_df = patient_query.find_patient_aggregates(BASE_PATIENT_URL)
agg_df.head(20)

[INDICATORS_LOG 2021-07-13 20:06:39.308425] Number of Patient resources= 1000
[INDICATORS_LOG 2021-07-13 20:06:39.583153] Number of Observation resources= 72869
[INDICATORS_LOG 2021-07-13 20:06:40.521911] Number of flattened obs rows = 41288
[INDICATORS_LOG 2021-07-13 20:06:41.687035] Number of aggregated obs= 988
[INDICATORS_LOG 2021-07-13 20:06:42.235419] Number of joined patient_agg_obs= 988

,patientId,birthDate,gender,code,num_obs,min_value,max_value,min_date,max_date,first_value,last_value,first_value_code,last_value_code
0,0ade630a-f6f2-43e5-9020-8be3a4f26068,1970-10-18,male,106230009,1,None,None,2020-11-19T08:54:07+00:00,2020-11-19T08:54:07+00:00,None,None,395098000,395098000
1,2ffbc136-5a1c-4314-90e0-3bfffe9b9e5e,1938-12-18,female,50373000,1,67.0000,67.0000,2020-10-10T08:27:45+00:00,2020-10-10T08:27:45+00:00,67.0000,67.0000,None,None
2,6a97783c-0eec-480f-8202-b1bfea0f3b6d,1995-11-17,male,78564009,1,122.0000,122.0000,2020-12-07T08:43:26+00:00,2020-12-07T08:43:26+00:00,122.0000,122.0000,None,None
3,9b3bad0a-d650-4667-bb2c-78b599212e32,2008-04-19,female,27113001,1,70.0000,70.0000,2020-12-05T08:36:19+00:00,2020-12-05T08:36:19+00:00,70.0000,70.0000,None,None
4,ba4a9540-11b0-43ec-bcfe-5988b1dd7965,1971-01-18,male,50373000,1,39.0000,39.0000,2020-12-08T08:11:22+00:00,2020-12-08T08:11:22+00:00,39.0000,39.0000,None,None
5,e2557413-13ef-476e-a858-5fcce5fe55c3,1983-12-07,male,50373000,1,67.0000,67.0000,2020-12-09T08:18:28+00:00,2020-12-09T08:18:28+00:00,67.0000,67.0000,None,None
6,e5d31544-d92f-42f0-9cb4-8dfeb1bc367c,1961-04-27,female,106230009,2,None,None,2020-12-07T09:55:01+00:00,2020-12-07T09:55:01+00:00,None,None,395098000,395098000
7,35144ce7-0656-4f8f-9464-e265ed946da6,1966-03-25,female,50373000,2,187.0000,201.0000,2020-10-18T08:59:00+00:00,2020-11-18T08:49:59+00:00,201.0000,187.0000,None,None
8,59f04a88-84c7-4abc-8eb9-4e7e61bb0d08,2013-06-01,female,50373000,1,103.0000,103.0000,2020-10-11T08:27:44+00:00,2020-10-11T08:27:44+00:00,103.0000,103.0000,None,None
9,8a7ae068-35ce-429d-af3e-79e25a7ccf6a,1998-09-15,female,50373000,1,42.0000,42.0000,2020-11-18T08:07:59+00:00,2020-11-18T08:07:59+00:00,42.0000,42.0000,None,None
10,90d829f3-b642-4f7e-a698-4a420b6e565f,2006-02-11,male,50373000,1,149.0000,149.0000,2020-10-22T08:55:10+00:00,2020-10-22T08:55:10+00:00,149.0000,149.0000,None,None
11,bec77d42-5a7d-4c1b-986c-790809a66971,1931-03-15,female,50373000,2,87.0000,103.0000,2020-10-25T08:30:25+00:00,2020-11-03T08:43:24+00:00,103.0000,87.0000,None,None
12,fa624acb-c26b-427e-9bc4-c9dc38efa586,1979-08-24,female,50373000,1,121.0000,121.0000,2020-12-02T08:34:40+00:00,2020-12-02T08:34:40+00:00,121.0000,121.0000,None,None
13,024153eb-8b9b-4b7a-ab4c-8939355c1124,1945-08-16,male,50373000,2,85.0000,126.0000,2020-10-25T08:44:30+00:00,2020-11-19T08:28:30+00:00,126.0000,85.0000,None,None
14,0f5c5b9a-c02f-4c07-a7b7-66705d7716bf,1991-07-22,female,27113001,1,32.0000,32.0000,2020-12-02T08:50:03+00:00,2020-12-02T08:50:03+00:00,32.0000,32.0000,None,None
15,17adca4c-3819-4ba5-9f0e-9edd1f38ab6c,1989-07-16,female,27113001,1,16.0000,16.0000,2020-12-06T07:46:00+00:00,2020-12-06T07:46:00+00:00,16.0000,16.0000,None,None
16,2e3f58c8-26b3-490b-91cf-33468ac840d3,1986-05-02,female,431314004,1,51.0000,51.0000,2020-12-04T07:54:54+00:00,2020-12-04T07:54:54+00:00,51.0000,51.0000,None,None
17,4d99f41d-afb7-46c6-a919-c856279b303a,1958-09-19,male,50373000,2,15.0000,137.0000,2020-10-01T08:23:17+00:00,2020-12-04T08:45:17+00:00,137.0000,15.0000,None,None
18,a9d24c86-aea3-45a9-b15b-7072a84a88db,1976-02-20,female,106230009,3,None,None,2020-10-12T09:13:01+00:00,2020-10-27T09:54:00+00:00,None,None,410596003,410596003
19,3172ae5e-b167-443a-91e6-58da33bfb00b,1990-03-09,male,106230009,2,None,None,2020-11-19T09:14:46+00:00,2020-11-19T09:14:46+00:00,None,None,395098000,395098000

In [50]:
agg_df[(agg_df['code'] == '106230009') & (agg_df['min_date'] != agg_df['max_date'])][
    ['patientId', 'code', 'min_date', 'max_date', 'first_value_code', 'last_value_code']].head()

,patientId,code,min_date,max_date,first_value_code,last_value_code
18,a9d24c86-aea3-45a9-b15b-7072a84a88db,106230009,2020-10-12T09:13:01+00:00,2020-10-27T09:54:00+00:00,410596003,410596003
20,32c55c0e-de13-437d-bee4-8e99b0671847,106230009,2020-10-11T09:18:35+00:00,2020-12-08T09:23:34+00:00,410596003,410596003
58,8b41e217-65de-416c-ac7d-47eeff9c9860,106230009,2020-10-14T09:29:20+00:00,2020-11-08T09:23:20+00:00,410596003,395098000
71,13362029-6165-4f50-b80b-790d91ec0b17,106230009,2020-10-01T09:31:42+00:00,2020-11-04T09:13:41+00:00,395098000,395098000
73,6d610c28-44c7-40fb-b9b0-d84e52f425db,106230009,2020-11-05T08:58:55+00:00,2020-11-08T09:51:54+00:00,395098000,395098000

# Inspecting underlying Spark data-frames
The _user_ of the library does not need to deal with the underlying distributed query processing system. However, the _developer_ of the library needs an easy way to inspect the internal data of these systems. Here is how:

In [53]:
obs = patient_query._obs_df
#obs.withColumn('coding', F.explode('code.coding')).head()
#obs.withColumn('coding', F.explode('code.coding')).filter(F.col('coding.system').isNull()).head()
obs.withColumn('coding', F.explode('code.coding')).filter('coding.system IS NULL').head()

Row(id='http://localhost:8099/openmrs/ws/fhir2/R4/Observation/cabe475f-b72e-4d75-bccc-2f0b01594f51', meta=None, implicitRules=None, language=None, text=None, contained=None, identifier=None, basedOn=None, status='final', category=[Row(id=None, coding=[Row(id=None, system='http://terminology.hl7.org/CodeSystem/observation-category', version=None, code='exam', display='Exam', userSelected=None)], text=None)], code=Row(id=None, coding=[Row(id=None, system=None, version=None, code='5088AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Temperature (C)', userSelected=None), Row(id=None, system='http://loinc.org', version=None, code='8310-5', display='Temperature (C)', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='5088', display='Temperature (C)', userSelected=None)], text=None), subject=Row(DeviceId=None, GroupId=None, LocationId=None, PatientId='b1d8fbb7-1a31-46f0-863d-8e171071849c', id=None, reference='Patient/b1d8fbb7-1a31-46f0-863d-8e171071849c', identifier=None, display='Ashley Baker (OpenMRS ID: 10104K)'), context=Row(EncounterId='f0b8c492-1f3d-48d5-a6a3-90df4a4cf237', EpisodeOfCareId=None, id=None, reference='Encounter/f0b8c492-1f3d-48d5-a6a3-90df4a4cf237', identifier=None, display=None), effective=Row(dateTime='2019-02-17T09:04:08+00:00', period=None), issued='2020-12-09T11:04:08.000+00:00', performer=None, value=Row(quantity=Row(id=None, value=Decimal('25.0000'), comparator=None, unit=None, system=None, code=None), codeableConcept=None, string=None, boolean=None, range=None, ratio=None, sampledData=None, attachment=None, time=None, dateTime=None, period=None), dataAbsentReason=None, interpretation=None, comment=None, bodySite=None, method=None, specimen=None, device=None, referenceRange=None, related=None, component=None, coding=Row(id=None, system=None, version=None, code='5088AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Temperature (C)', userSelected=None))

In [54]:
# Finding two different coded values for our fake _ARV_PLAN observation code.
obs.withColumn('coding', F.explode('code.coding')).filter(
    'coding.code = "159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"').head(2)

[Row(id='http://localhost:8099/openmrs/ws/fhir2/R4/Observation/cabf1f3f-0fda-4a39-83ac-ed6269cb6e44', meta=None, implicitRules=None, language=None, text=None, contained=None, identifier=None, basedOn=None, status='amended', category=[Row(id=None, coding=[Row(id=None, system='http://terminology.hl7.org/CodeSystem/observation-category', version=None, code='exam', display='Exam', userSelected=None)], text=None)], code=Row(id=None, coding=[Row(id=None, system=None, version=None, code='159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Diagnosis certainty', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='159394', display='Diagnosis certainty', userSelected=None), Row(id=None, system='http://snomed.info/sct', version=None, code='106230009', display='Diagnosis certainty', userSelected=None)], text=None), subject=Row(DeviceId=None, GroupId=None, LocationId=None, PatientId='7498171c-27f3-44f3-a833-adebec21b719', id=None, reference='Patient/7498171c-27f3-44f3-a833-adebec21b719', identifier=None, display='Paul Smith (OpenMRS ID: 10064F)'), context=Row(EncounterId='fc48d905-3636-42ee-a2f9-eea4f29090b6', EpisodeOfCareId=None, id=None, reference='Encounter/fc48d905-3636-42ee-a2f9-eea4f29090b6', identifier=None, display=None), effective=Row(dateTime='2019-02-27T09:35:23+00:00', period=None), issued='2020-12-09T10:48:23.000+00:00', performer=None, value=Row(quantity=None, codeableConcept=Row(id=None, coding=[Row(id=None, system=None, version=None, code='159392AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Confirmed diagnosis', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='159392', display='Confirmed diagnosis', userSelected=None), Row(id=None, system='http://snomed.info/sct', version=None, code='395098000', display='Confirmed diagnosis', userSelected=None)], text=None), string=None, boolean=None, range=None, ratio=None, sampledData=None, attachment=None, time=None, dateTime=None, period=None), dataAbsentReason=None, interpretation=None, comment=None, bodySite=None, method=None, specimen=None, device=None, referenceRange=None, related=None, component=None, coding=Row(id=None, system=None, version=None, code='159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Diagnosis certainty', userSelected=None)),
 Row(id='http://localhost:8099/openmrs/ws/fhir2/R4/Observation/cac58f81-9bda-407a-8670-87bf734f782e', meta=None, implicitRules=None, language=None, text=None, contained=None, identifier=None, basedOn=None, status='amended', category=[Row(id=None, coding=[Row(id=None, system='http://terminology.hl7.org/CodeSystem/observation-category', version=None, code='exam', display='Exam', userSelected=None)], text=None)], code=Row(id=None, coding=[Row(id=None, system=None, version=None, code='159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Diagnosis certainty', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='159394', display='Diagnosis certainty', userSelected=None), Row(id=None, system='http://snomed.info/sct', version=None, code='106230009', display='Diagnosis certainty', userSelected=None)], text=None), subject=Row(DeviceId=None, GroupId=None, LocationId=None, PatientId='eaaa5932-6102-4915-a90f-7ff330c2a0e1', id=None, reference='Patient/eaaa5932-6102-4915-a90f-7ff330c2a0e1', identifier=None, display='Lisa Green (OpenMRS ID: 1003HP)'), context=Row(EncounterId='8f118cd1-2742-4850-ab7f-e04351ff26b5', EpisodeOfCareId=None, id=None, reference='Encounter/8f118cd1-2742-4850-ab7f-e04351ff26b5', identifier=None, display=None), effective=Row(dateTime='2020-10-02T09:35:06+00:00', period=None), issued='2020-12-09T10:47:06.000+00:00', performer=None, value=Row(quantity=None, codeableConcept=Row(id=None, coding=[Row(id=None, system=None, version=None, code='159393AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Presumed diagnosis', userSelected=None), Row(id=None, system='http://snomed.info/sct', version=None, code='410596003', display='Presumed diagnosis', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='159393', display='Presumed diagnosis', userSelected=None)], text=None), string=None, boolean=None, range=None, ratio=None, sampledData=None, attachment=None, time=None, dateTime=None, period=None), dataAbsentReason=None, interpretation=None, comment=None, bodySite=None, method=None, specimen=None, device=None, referenceRange=None, related=None, component=None, coding=Row(id=None, system=None, version=None, code='159394AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Diagnosis certainty', userSelected=None))]

In [55]:
agg_df[(agg_df['code'] == _ARV_PLAN) & agg_df['last_value_code'].isin([_DRUG1, _DRUG2])].head()

,patientId,birthDate,gender,code,num_obs,min_value,max_value,min_date,max_date,first_value,last_value,first_value_code,last_value_code
0,0ade630a-f6f2-43e5-9020-8be3a4f26068,1970-10-18,male,106230009,1,None,None,2020-11-19T08:54:07+00:00,2020-11-19T08:54:07+00:00,None,None,395098000,395098000
6,e5d31544-d92f-42f0-9cb4-8dfeb1bc367c,1961-04-27,female,106230009,2,None,None,2020-12-07T09:55:01+00:00,2020-12-07T09:55:01+00:00,None,None,395098000,395098000
18,a9d24c86-aea3-45a9-b15b-7072a84a88db,1976-02-20,female,106230009,3,None,None,2020-10-12T09:13:01+00:00,2020-10-27T09:54:00+00:00,None,None,410596003,410596003
19,3172ae5e-b167-443a-91e6-58da33bfb00b,1990-03-09,male,106230009,2,None,None,2020-11-19T09:14:46+00:00,2020-11-19T09:14:46+00:00,None,None,395098000,395098000
20,32c55c0e-de13-437d-bee4-8e99b0671847,1964-04-07,male,106230009,3,None,None,2020-10-11T09:18:35+00:00,2020-12-08T09:23:34+00:00,None,None,410596003,410596003

In [56]:
agg_df[(agg_df['code'] == _ARV_PLAN) & agg_df['last_value_code'].isin([_DRUG1, _DRUG2])].index.size

341

In [57]:
agg_df[(agg_df['code'] == _ARV_PLAN) & agg_df['last_value_code'].isin([_DRUG1, _DRUG2])].groupby(
    'patientId').count().index.size

341

In [58]:
indicator_lib.calc_TX_NEW(agg_df, ARV_plan=_ARV_PLAN, start_drug=[_DRUG1], end_date_str=end_date)

    TX_NEW               buckets  TX_NEW_count  TX_NEW_ratio
0    False       1-4_ALL-GENDERS             7      0.020528
1    False            1-4_female             3      0.008798
2    False              1-4_male             4      0.011730
3    False     10-14_ALL-GENDERS             8      0.023460
4    False          10-14_female             2      0.005865
5    False            10-14_male             6      0.017595
6    False     15-19_ALL-GENDERS             6      0.017595
7    False          15-19_female             3      0.008798
8    False            15-19_male             3      0.008798
9    False     20-24_ALL-GENDERS             6      0.017595
10   False          20-24_female             1      0.002933
11   False            20-24_male             5      0.014663
12   False     25-49_ALL-GENDERS            37      0.108504
13   False          25-49_female            18      0.052786
14   False            25-49_male            19      0.055718
15   False       5-9_ALL-GENDERS            11      0.032258
16   False            5-9_female             7      0.020528
17   False              5-9_male             4      0.011730
18   False       50+_ALL-GENDERS            71      0.208211
19   False            50+_female            37      0.108504
20   False              50+_male            34      0.099707
21   False  ALL-AGES_ALL-GENDERS           146      0.428152
22   False       ALL-AGES_female            71      0.208211
23   False         ALL-AGES_male            75      0.219941
24    True       1-4_ALL-GENDERS             4      0.011730
25    True            1-4_female             2      0.005865
26    True              1-4_male             2      0.005865
27    True     10-14_ALL-GENDERS             9      0.026393
28    True          10-14_female             5      0.014663
29    True            10-14_male             4      0.011730
30    True     15-19_ALL-GENDERS            13      0.038123
31    True          15-19_female             7      0.020528
32    True            15-19_male             6      0.017595
33    True     20-24_ALL-GENDERS            14      0.041056
34    True          20-24_female             6      0.017595
35    True            20-24_male             8      0.023460
36    True     25-49_ALL-GENDERS            69      0.202346
37    True          25-49_female            39      0.114370
38    True            25-49_male            30      0.087977
39    True       5-9_ALL-GENDERS             7      0.020528
40    True            5-9_female             6      0.017595
41    True              5-9_male             1      0.002933
42    True       50+_ALL-GENDERS            79      0.231672
43    True            50+_female            43      0.126100
44    True              50+_male            36      0.105572
45    True  ALL-AGES_ALL-GENDERS           195      0.571848
46    True       ALL-AGES_female           108      0.316716
47    True         ALL-AGES_male            87      0.255132

In [61]:
indicator_lib.calc_TX_PVLS(
    agg_df, VL_code=_VL_CODE, failure_threshold=150,
    end_date_str=end_date)

    sup_VL               buckets  sup_VL_count  sup_VL_ratio
0    False       1-4_ALL-GENDERS             6      0.017595
1    False            1-4_female             3      0.008798
2    False              1-4_male             3      0.008798
3    False     10-14_ALL-GENDERS             9      0.026393
4    False          10-14_female             5      0.014663
5    False            10-14_male             4      0.011730
6    False     15-19_ALL-GENDERS             5      0.014663
7    False          15-19_female             4      0.011730
8    False            15-19_male             1      0.002933
9    False     20-24_ALL-GENDERS             7      0.020528
10   False          20-24_female             2      0.005865
11   False            20-24_male             5      0.014663
12   False     25-49_ALL-GENDERS            31      0.090909
13   False          25-49_female            16      0.046921
14   False            25-49_male            15      0.043988
15   False       5-9_ALL-GENDERS             6      0.017595
16   False            5-9_female             5      0.014663
17   False              5-9_male             1      0.002933
18   False       50+_ALL-GENDERS            56      0.164223
19   False            50+_female            29      0.085044
20   False              50+_male            27      0.079179
21   False  ALL-AGES_ALL-GENDERS           120      0.351906
22   False       ALL-AGES_female            64      0.187683
23   False         ALL-AGES_male            56      0.164223
24    True       1-4_ALL-GENDERS             5      0.014663
25    True            1-4_female             2      0.005865
26    True              1-4_male             3      0.008798
27    True     10-14_ALL-GENDERS             8      0.023460
28    True          10-14_female             2      0.005865
29    True            10-14_male             6      0.017595
30    True     15-19_ALL-GENDERS            14      0.041056
31    True          15-19_female             6      0.017595
32    True            15-19_male             8      0.023460
33    True     20-24_ALL-GENDERS            13      0.038123
34    True          20-24_female             5      0.014663
35    True            20-24_male             8      0.023460
36    True     25-49_ALL-GENDERS            75      0.219941
37    True          25-49_female            41      0.120235
38    True            25-49_male            34      0.099707
39    True       5-9_ALL-GENDERS            12      0.035191
40    True            5-9_female             8      0.023460
41    True              5-9_male             4      0.011730
42    True       50+_ALL-GENDERS            94      0.275660
43    True            50+_female            51      0.149560
44    True              50+_male            43      0.126100
45    True  ALL-AGES_ALL-GENDERS           221      0.648094
46    True       ALL-AGES_female           115      0.337243
47    True         ALL-AGES_male           106      0.310850

# Indicator library development
This is an example to show how the `indicator_lib.py` functions can be incrementally developed based on the query library DataFrames.

In [45]:
patient_query._flat_obs.head()

Row(coding=Row(id=None, system='http://snomed.info/sct', version=None, code='106230009', display='Diagnosis certainty', userSelected=None), valueCoding=Row(id=None, system=None, version=None, code='159392AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Confirmed diagnosis', userSelected=None), value=Row(quantity=None, codeableConcept=Row(id=None, coding=[Row(id=None, system=None, version=None, code='159392AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', display='Confirmed diagnosis', userSelected=None), Row(id=None, system='https://openconceptlab.org/orgs/CIEL/sources/CIEL', version=None, code='159392', display='Confirmed diagnosis', userSelected=None), Row(id=None, system='http://snomed.info/sct', version=None, code='395098000', display='Confirmed diagnosis', userSelected=None)], text=None), string=None, boolean=None, range=None, ratio=None, sampledData=None, attachment=None, time=None, dateTime=None, period=None), patientId='7498171c-27f3-44f3-a833-adebec21b719', dateTime='2019-02-27T09:35:23+00:00', dateAndValue='2019-02-27T09:35:23+00:00_SeP_None', dateAndValueCode='2019-02-27T09:35:23+00:00_SeP_159392AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA')

In [47]:
VL_CODE = '50373000'
agg_df[(agg_df['code'] == VL_CODE)].head()

,patientId,birthDate,gender,code,valueCode,num_obs,min_value,max_value,min_date,max_date,min_date_value,max_date_value,min_date_value_code,max_date_value_code
2,ba4a9540-11b0-43ec-bcfe-5988b1dd7965,1971-01-18,male,50373000,None,1,39.0000,39.0000,2020-12-08T08:11:22+00:00,2020-12-08T08:11:22+00:00,2020-12-08T08:11:22+00:00_SeP_39.0000,2020-12-08T08:11:22+00:00_SeP_39.0000,2020-12-08T08:11:22+00:00_SeP_None,2020-12-08T08:11:22+00:00_SeP_None
3,e2557413-13ef-476e-a858-5fcce5fe55c3,1983-12-07,male,50373000,None,1,67.0000,67.0000,2020-12-09T08:18:28+00:00,2020-12-09T08:18:28+00:00,2020-12-09T08:18:28+00:00_SeP_67.0000,2020-12-09T08:18:28+00:00_SeP_67.0000,2020-12-09T08:18:28+00:00_SeP_None,2020-12-09T08:18:28+00:00_SeP_None
4,fa624acb-c26b-427e-9bc4-c9dc38efa586,1979-08-24,female,50373000,None,1,121.0000,121.0000,2020-12-02T08:34:40+00:00,2020-12-02T08:34:40+00:00,2020-12-02T08:34:40+00:00_SeP_121.0000,2020-12-02T08:34:40+00:00_SeP_121.0000,2020-12-02T08:34:40+00:00_SeP_None,2020-12-02T08:34:40+00:00_SeP_None
10,4d99f41d-afb7-46c6-a919-c856279b303a,1958-09-19,male,50373000,None,1,15.0000,15.0000,2020-12-04T08:45:17+00:00,2020-12-04T08:45:17+00:00,2020-12-04T08:45:17+00:00_SeP_15.0000,2020-12-04T08:45:17+00:00_SeP_15.0000,2020-12-04T08:45:17+00:00_SeP_None,2020-12-04T08:45:17+00:00_SeP_None
12,9cc14c03-7547-4f61-b795-8c03b2813920,2010-08-04,male,50373000,None,1,179.0000,179.0000,2020-12-02T07:59:36+00:00,2020-12-02T07:59:36+00:00,2020-12-02T07:59:36+00:00_SeP_179.0000,2020-12-02T07:59:36+00:00_SeP_179.0000,2020-12-02T07:59:36+00:00_SeP_None,2020-12-02T07:59:36+00:00_SeP_None

In [44]:
def _find_age_band(birth_date: str, end_date: datetime) -> str:
  """Given the birth date, finds the age_band for PEPFAR disaggregation."""
  age = None
  try:
    # TODO handle all different formats (issues #174)
    birth = datetime.strptime(birth_date, '%Y-%m-%d')
    age = int((end_date - birth).days / 365.25)
  except Exception as e:
    common.custom_log('Invalid birth_date format: {}'.format(e))
    age = 999999

  if age == 999999:
    return 'ERROR'
  if age < 1:
    return '0-1'
  if age <= 4:
    return '1-4'
  if age <= 9:
    return '5-9'
  if age <= 14:
    return '10-14'
  if age <= 19:
    return '15-19'
  if age <= 24:
    return '20-24'
  if age <= 49:
    return '25-49'
  return '50+'


def _agg_buckets(birth_date: str, gender: str, end_date: datetime) -> List[str]:
  """Generates the list of all PEPFAR disaggregation buckets."""
  age_band = _find_age_band(birth_date, end_date)
  return [age_band + '_' + gender, 'ALL-AGES_' + gender,
          age_band + '_ALL-GENDERS', 'ALL-AGES_ALL-GENDERS']

def calc_TX_PVLS(patient_agg_obs: pandas.DataFrame, VL_code: str,
    failure_threshold: int, end_date_str: str = None) -> pandas.DataFrame:
  """Calculates TX_PVLS indicator with its corresponding disaggregations.

  Args:
    patient_agg_obs: An output from `patient_query.find_patient_aggregates()`.
    VL_code: The code for viral load values.
    failure_threshold: VL count threshold of failure.
    end_date: The string representation of the last date as 'YYYY-MM-DD'.
  Returns:
    The aggregated DataFrame.
  """
  end_date = datetime.today()
  if end_date_str:
    end_date = datetime.strptime(end_date_str, '%Y-%m-%d')
  temp_df = patient_agg_obs[(patient_agg_obs['code'] == VL_code)].copy()
  # Note the above copy is used to avoid setting a new column on a slice next:
  temp_df['sup_VL'] = (temp_df['max_value'] < failure_threshold)
  temp_df['buckets'] = temp_df.apply(
      lambda x: _agg_buckets(x.birthDate, x.gender, end_date), axis=1)
  temp_df_exp = temp_df.explode('buckets')
  temp_df_exp = temp_df_exp.groupby(['sup_VL', 'buckets'], as_index=False)\
      .count()[['sup_VL', 'buckets', 'patientId']]\
      .rename(columns={'patientId': 'count'})
  # calculate ratio
  num_patients = len(temp_df.index)
  temp_df_exp['ratio'] = temp_df_exp['count']/num_patients
  return temp_df_exp
    
VL_CODE = '50373000'
calc_TX_PVLS(agg_df, VL_CODE, 150, end_date_str='2020-12-30')

    sup_VL               buckets  count     ratio
0    False       1-4_ALL-GENDERS     28  0.030668
1    False            1-4_female     17  0.018620
2    False              1-4_male     11  0.012048
3    False     10-14_ALL-GENDERS     35  0.038335
4    False          10-14_female     16  0.017525
5    False            10-14_male     19  0.020811
6    False     15-19_ALL-GENDERS     36  0.039430
7    False          15-19_female     21  0.023001
8    False            15-19_male     15  0.016429
9    False     20-24_ALL-GENDERS     45  0.049288
10   False          20-24_female     22  0.024096
11   False            20-24_male     23  0.025192
12   False     25-49_ALL-GENDERS    229  0.250821
13   False          25-49_female    121  0.132530
14   False            25-49_male    108  0.118291
15   False       5-9_ALL-GENDERS     34  0.037240
16   False            5-9_female     19  0.020811
17   False              5-9_male     15  0.016429
18   False       50+_ALL-GENDERS    361  0.395400
19   False            50+_female    183  0.200438
20   False              50+_male    178  0.194962
21   False  ALL-AGES_ALL-GENDERS    768  0.841183
22   False       ALL-AGES_female    399  0.437021
23   False         ALL-AGES_male    369  0.404162
24    True       1-4_ALL-GENDERS      5  0.005476
25    True            1-4_female      2  0.002191
26    True              1-4_male      3  0.003286
27    True     10-14_ALL-GENDERS      4  0.004381
28    True          10-14_female      2  0.002191
29    True            10-14_male      2  0.002191
30    True     15-19_ALL-GENDERS      8  0.008762
31    True          15-19_female      3  0.003286
32    True            15-19_male      5  0.005476
33    True     20-24_ALL-GENDERS      8  0.008762
34    True          20-24_female      5  0.005476
35    True            20-24_male      3  0.003286
36    True     25-49_ALL-GENDERS     47  0.051479
37    True          25-49_female     24  0.026287
38    True            25-49_male     23  0.025192
39    True       5-9_ALL-GENDERS      6  0.006572
40    True            5-9_female      4  0.004381
41    True              5-9_male      2  0.002191
42    True       50+_ALL-GENDERS     67  0.073384
43    True            50+_female     38  0.041621
44    True              50+_male     29  0.031763
45    True  ALL-AGES_ALL-GENDERS    145  0.158817
46    True       ALL-AGES_female     78  0.085433
47    True         ALL-AGES_male     67  0.073384